<div class="cartView ">
  <div style="width: 25px; height:25px;margin-top:10px;position: absolute;z-index: 111;right: 10px;" class="closeCart float-right"></div>
        <div class="cartHeading d-flex" >
		<div class="w-100" style="display: inline;padding-top: 9px;">
         <h3 class="float-left text-upper">Your Bag </h3>
         <img width="25px" class="closeCart float-right lazyload" data-src="{{ 'cross.svg' | asset_url }}">
		 </div>
       </div>
	    <hr class="mt-1">
		<div style="display: flex; flex-direction: column; height: 100%; justify-content: space-between;">
       <div class="cartList">

       </div>
     
<div style="margin-bottom: 85px;">
 <form id="cart_form" class="cartTotal" action="/cart" method="post" novalidate="">
            <h4 class="d-flex justify-content-between align-items-center text-upper text-roboto-bold"><strong>Subtotal:</strong> <i>$0</i></h4>
        <hr>
        <!--<p class="text-center">Your coupon code will automatically <br> be applied at checkout</p>-->
       
          
       </form>
	   
       <!-- <div class="cartTotal"> -->
     
       <!-- </div> -->
	   
		<ul class="secure-img px-2 py-1">
			<li><img data-src="{{ 'returns1.png' | asset_url }}" class="img-fluid lazyload">&#8194;30 Day Returns</li>
			<li><img data-src="{{ 'secure.png' | asset_url }}" class="img-fluid lazyload">&#8194;Secure Payment</li>
		</ul>
	   
     </div>
	   </div>
     </div>