<script>
  (function() {
    const configElement = document.getElementById("elevar-gtm-suite-config");

    if (!configElement) {
      console.error("Elevar Data Layer: Config element not found");
      return;
    }

    const config = JSON.parse(configElement.textContent);

    const script = document.createElement("script");
    script.type = "text/javascript";
    script.src = config.gtm_suite_script;

    script.onerror = function() {
      console.error("Elevar Data Layer: JS script failed to load");
    };
    script.onload = function() {
      if (!window.ElevarGtmSuite) {
        console.error("Elevar Data Layer: `ElevarGtmSuite` is not defined");
        return;
      }

      if (config.event_config.user) {
        window.ElevarGtmSuite.handlers.user({
  {%- if checkout -%}
    cartTotal: "{{- checkout.total_price | times: 0.01 | json -}}",
  {%- else -%}
    cartTotal: "{{- cart.total_price | times: 0.01 | json -}}",
  {%- endif -%}
  {%- if customer -%}
    customer: {
      id: "{{- customer.id | json -}}",
      email: {{- customer.email | json -}},
      firstName: {{- customer.first_name | json -}},
      lastName: {{- customer.last_name | json -}},
      phone: {{- customer.phone | json -}},
      city: {{- customer.default_address.city | json -}},
      zip: {{- customer.default_address.zip | json -}},
      address1: {{- customer.default_address.address1 | json -}},
      address2: {{- customer.default_address.address2 | json -}},
      country: {{- customer.default_address.country | json -}},
      province: {{- customer.default_address.province | json -}},
      provinceCode: {{- customer.default_address.province_code | json -}},
      orderCount: "{{- customer.orders_count | json -}}",
      totalSpent: "{{- customer.total_spent | times: 0.01 | json -}}",
      tags: {{- customer.tags | join: ', ' | json -}}
    }
  {%- endif -%}
});
      }

      if (config.event_config.product_add_to_cart_ajax) {
        window.ElevarGtmSuite.handlers.productAddToCartAjax();
      }

      const cartData = {
  attributes: {{- cart.attributes | json -}},
  cartTotal: "{{- cart.total_price | times: 0.01 | json -}}",
  currencyCode: {{- cart.currency.iso_code | json -}},
  items: [
    {%- for line_item in cart.items -%}
      {
        {%- if line_item.sku != blank -%}
          id: {{- line_item.sku | json -}},
        {%- else -%}
          id: "{{- line_item.product_id | json -}}",
        {%- endif -%}
        name: {{- line_item.product.title | json -}},
        brand: {{- line_item.vendor | json -}},
        category: {{- line_item.product.type | json -}},
        variant: {{- line_item.variant.title | json -}},
        price: "{{- line_item.final_price | times: 0.01 | json -}}",
        position: {{- forloop.index0 -}},
        quantity: "{{- line_item.quantity | json -}}",
        productId: "{{- line_item.product_id | json -}}",
        variantId: "{{- line_item.variant_id -}}",
        compareAtPrice: "{{- line_item.variant.compare_at_price | times: 0.01 | json -}}",
        image: "{{- line_item.image | img_url -}}"
      },
    {%- endfor -%}
  ]
}
;

      if (config.event_config.save_order_notes) {
        window.ElevarGtmSuite.handlers.cookieReconcile(cartData);
        window.ElevarGtmSuite.handlers.paramReconcile(cartData);
      }

      if (config.event_config.cart_reconcile) {
        window.ElevarGtmSuite.handlers.cartReconcile(cartData);
      }

      {%- if request.page_type == "cart" -%}
        if (config.event_config.cart_view) {
          window.ElevarGtmSuite.handlers.cartView(cartData);
        }
        if (config.event_config.product_remove_from_cart) {
          window.ElevarGtmSuite.handlers.productRemoveFromCart(cartData);
        }
      {%- endif -%}

      {%- if collection and template.name == "collection" -%}
        const collectionItems = {%- if collection and template.name == "collection" -%}
  {
    currencyCode: {{- cart.currency.iso_code | json -}},
    items: [
      {%- assign itemIndex = 1 -%}
      {%- for product in collection.products -%}
        {%- for variant in product.variants -%}
          {
            {%- if variant.sku != blank -%}
              id: {{- variant.sku | json -}},
            {%- else -%}
              id: "{{- variant.id | json -}}",
            {%- endif -%}
            name: {{- product.title | json -}},
            brand: {{- product.vendor | json -}},
            category: {{- product.type | json -}},
            price: "{{- product.price | times: 0.01 | json -}}",
            position: {{- itemIndex -}},
            productId: "{{- product.id | json -}}",
            variantId: "{{- variant.id | json -}}",
            handle: {{- product.handle | json -}}
          },
        {%- endfor -%}
        {%- assign itemIndex = itemIndex | plus: 1 -%}
      {%- endfor -%}
    ]
  }
{%- endif -%};

        if (config.event_config.collection_view) {
          window.ElevarGtmSuite.handlers.collectionView(collectionItems);
        }
        if (config.event_config.product_select) {
          window.ElevarGtmSuite.handlers.productSelect(collectionItems);
        }
      {%- endif -%}

      {%- if search.performed -%}
        const searchItems = {%- if search.performed -%}
  {
    currencyCode: {{- cart.currency.iso_code | json -}},
    items: [
      {%- assign itemIndex = 1 -%}
      {%- for product in search.results -%}
        {%- if product.object_type == 'product' -%}
          {%- for variant in product.variants -%}
            {
              {%- if variant.sku != blank -%}
                id: {{- variant.sku | json -}},
              {%- else -%}
                id: "{{- variant.id | json -}}",
              {%- endif -%}
              name: {{- product.title | json -}},
              brand: {{- product.vendor | json -}},
              category: {{- product.type | json -}},
              price: "{{- product.price | times: 0.01 | json -}}",
              position: {{- itemIndex -}},
              productId: "{{- product.id | json -}}",
              variantId: "{{- variant.id | json -}}",
              handle: {{- product.handle | json -}}
            },
          {%- endfor -%}
          {%- assign itemIndex = itemIndex | plus: 1 -%}
        {%- endif -%}
      {%- endfor -%}
    ]
  }
{%- endif -%}
;

        if (config.event_config.search_results_view) {
          window.ElevarGtmSuite.handlers.searchResultsView(searchItems);
        }
        if (config.event_config.product_select) {
          window.ElevarGtmSuite.handlers.productSelect(searchItems);
        }
      {%- endif -%}

      {%- if product -%}
        const product = {%- if product -%}
  {
    currencyCode: {{- cart.currency.iso_code | json -}},
    items: [
      {%- for variant in product.variants -%}
        {
          {%- if variant.sku != blank -%}
            id: {{- variant.sku | json -}},
          {%- else -%}
            id: "{{- variant.id | json -}}",
          {%- endif -%}
          name: {{- product.title | json -}},
          brand: {{- product.vendor | json -}},
          category: {{- product.type | json -}},
          variant: {{- variant.title | json -}},
          price: "{{- variant.price | times: 0.01 | json -}}",
          productId: "{{- product.id | json -}}",
          variantId: "{{- variant.id | json -}}",
          compareAtPrice: "{{- variant.compare_at_price | times: 0.01 | json -}}",
          image: {{- product.featured_image | json -}},
          inventory: "{{- variant.inventory_quantity -}}"
        },
      {%- endfor -%}
    ]
  }
{%- endif -%};

        if (config.event_config.product_view) {
          window.ElevarGtmSuite.handlers.productView(product);
        }
        if (config.event_config.product_add_to_cart) {
          window.ElevarGtmSuite.handlers.productAddToCartForm(product);
        }
      {%- endif -%}
    };

    document.body.appendChild(script);
  })();
</script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM8J36G" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->