<script id="elevar-dl-listener-config" type="application/json">{"data_layer_listener_script": "https://shopify-gtm-suite.getelevar.com/shops/a9d5e1a6850f407d511a70deda496615e57e58b4/events.js"}</script>
<script>
  (function () {
    const configElement = document.getElementById("elevar-dl-listener-config");

    if (!configElement) {
      console.error("Elevar Data Layer Listener: Config element not found");
      return;
    }

    const config = JSON.parse(configElement.textContent);

    const script = document.createElement("script");
    script.type = "text/javascript";
    script.src = config.data_layer_listener_script;

    script.onerror = function () {
      console.error("Elevar Data Layer Listener: JS script failed to load");
    };

    const headScripts = document.head.getElementsByTagName("script");

    if (headScripts[0]) {
      document.head.insertBefore(script, headScripts[0]);
    } else {
      document.head.appendChild(script);
    }
  })();
</script>
