  {% if linklists.free-item-2.links.size > 0 and linklists.free-item-2.links.first.type == 'product_link' %}
{% assign id3 = linklists.free-item-2.links.first.object.variants.first.id %}

<style>
  #updates_{{ id3 }} { display: none; }
</style>

<script>

function freeProduct_3(tags, gift_wraps_in_cart3, loadCart){
	{% assign id3 = linklists.free-item-2.links.first.object.variants.first.id %}
	var found3 = false;
	
	tags.forEach(function(tag){
		if(tag === 'add_free_gift_2'){
			found3 = true;
		}
  });
		  

	Shopify.Cart = Shopify.Cart || {};
	Shopify.Cart.GiftWrap3 = {};
	Shopify.Cart.GiftWrap3.set = function() {
	  jQuery.ajax({
		type: 'POST',
		url: '/cart/update.js', 
		data: { updates: { {{ id3 }}: 1 } }, 
		dataType: 'json',
		success: function() { loadCart(tempE,true); }
	  });
	}

	Shopify.Cart.GiftWrap3.remove = function() {
	  jQuery.ajax({
		type: 'POST',
		url: '/cart/update.js', 
		data: { updates: { {{ id3 }}: 0 } }, 
		dataType: 'json',
		success: function() { loadCart(tempE,true); }
	  });
	}
	// If we have nothing but gift-wrap items in the cart.
	if (gift_wraps_in_cart3 > 0 && found3 == false){
		
		  Shopify.Cart.GiftWrap3.remove();
	
	}else{
		if(gift_wraps_in_cart3 > 1){
			
			  Shopify.Cart.GiftWrap3.set();
			
		}else{
			if (gift_wraps_in_cart3 == 0 && found3 == true){
			
				  Shopify.Cart.GiftWrap3.set();
				
			}
		}
	}
}
 
</script>

 {% endif %}