  {% if linklists.free-item-dishwasher.links.size > 0 and linklists.free-item-dishwasher.links.first.type == 'product_link' %}
{% assign id2 = linklists.free-item-dishwasher.links.first.object.variants.first.id %}

<style>
  #updates_{{ id2 }} { display: none; }
</style>

<script>

function freeProduct_2(tags, gift_wraps_in_cart2, loadCart){
	{% assign id2 = linklists.free-item-dishwasher.links.first.object.variants.first.id %}
	var found2 = false;
	
	tags.forEach(function(tag){
		if(tag === 'add_free_gift_dishwasher'){
			found2 = true;
		}
  });
		  

	Shopify.Cart = Shopify.Cart || {};
	Shopify.Cart.GiftWrap2 = {};
	Shopify.Cart.GiftWrap2.set = function() {
	  jQuery.ajax({
		type: 'POST',
		url: '/cart/update.js', 
		data: { updates: { {{ id2 }}: 1 } }, 
		dataType: 'json',
		success: function() { loadCart(tempE,true); }
	  });
	}

	Shopify.Cart.GiftWrap2.remove = function() {
	  jQuery.ajax({
		type: 'POST',
		url: '/cart/update.js', 
		data: { updates: { {{ id2 }}: 0 } }, 
		dataType: 'json',
		success: function() { loadCart(tempE,true); }
	  });
	}
	// If we have nothing but gift-wrap items in the cart.
	if (gift_wraps_in_cart2 > 0 && found2 == false){
		
		  Shopify.Cart.GiftWrap2.remove();
	
	}else{
		if(gift_wraps_in_cart2 > 1){
			
			  Shopify.Cart.GiftWrap2.set();
			
		}else{
			if (gift_wraps_in_cart2 == 0 && found2 == true){
			
				  Shopify.Cart.GiftWrap2.set();
				
			}
		}
	}
}
 
</script>

 {% endif %}