  {% if linklists.free-item.links.size > 0 and linklists.free-item.links.first.type == 'product_link' %}
{% assign id1 = linklists.free-item.links.first.object.variants.first.id %}

<style>
  #updates_{{ id1 }} { display: none; }
</style>

<script>

function freeProduct_1(tags, gift_wraps_in_cart1, loadCart){
	{% assign id1 = linklists.free-item.links.first.object.variants.first.id %}
	var found1 = false;
	
	tags.forEach(function(tag){
		if(tag === 'add_free_gift'){
			found1 = true;
		}
  });
		  

	Shopify.Cart = Shopify.Cart || {};
	Shopify.Cart.GiftWrap1 = {};
	Shopify.Cart.GiftWrap1.set = function() {
	  jQuery.ajax({
		type: 'POST',
		url: '/cart/update.js', 
		data: { updates: { {{ id1 }}: 1 } }, 
		dataType: 'json',
		success: function() { loadCart(tempE,true); }
	  });
	}

	Shopify.Cart.GiftWrap1.remove = function() {
	  jQuery.ajax({
		type: 'POST',
		url: '/cart/update.js', 
		data: { updates: { {{ id1 }}: 0 } }, 
		dataType: 'json',
		success: function() { loadCart(tempE,true); }
	  });
	}
	// If we have nothing but gift-wrap items in the cart.
	if (gift_wraps_in_cart1 > 0 && found1 == false){
		
		  Shopify.Cart.GiftWrap1.remove();
		
	}else{
		if(gift_wraps_in_cart1 > 1){
		
			  Shopify.Cart.GiftWrap1.set();
			
		}else{
			if (gift_wraps_in_cart1 == 0 && found1 == true){
				
				  Shopify.Cart.GiftWrap1.set();
				
			}
		}
	}
}
 
</script>

 {% endif %}