
{% if linklists.free-watch.links.size > 0 and linklists.free-watch.links.first.type == 'product_link' %}
{% assign id = linklists.free-watch.links.first.object.variants.first.id %}
{% assign id2 = linklists.free-watch2.links.first.object.variants.first.id %}

<style>
  #updates_{{ id }} { display: none; }
  #updates_{{ id2 }} { display: none; }
</style>

<script>

function freeProduct_1(cart, tags){
  function jsonConcat(o1, o2) {
 for (var key in o2) {
  o1[key] = o2[key];
 }
 return o1;
}

{% assign id = linklists.free-watch.links.first.object.variants.first.id %}
{% assign id2 = linklists.free-watch2.links.first.object.variants.first.id %}

	var found = false;
	var gift_wraps_in_cart = 0;

	tags.forEach(function(tag){
			if(tag === 'add_free_watch'){
				found = true;
			}
	  });
		  
	cart.items.forEach(function(item){
		if(item.id == {{id}}){
			gift_wraps_in_cart = item.quantity;
		}
		   
	});

	Shopify.Cart = Shopify.Cart || {};
	Shopify.Cart.GiftWrap = {};
	Shopify.Cart.GiftWrap.set = function() {
	   var item_1 = { {{ id }}: 1};
       var item_2 = { {{ id2 }}: 1};
	   var output = {}; 
		output = jsonConcat(output, item_1);
		output = jsonConcat(output, item_2);
	  if(jQuery.isEmptyObject(output)) return;
	  
	  jQuery.ajax({
		type: 'POST',
		url: '/cart/update.js', 
		data: { updates: output }, 
		dataType: 'json',
		success: function() { ajaxCart.load(); }
	  });
	}

	Shopify.Cart.GiftWrap.remove = function() {
	   var item_1 = { {{ id }}: 0};
       var item_2 = { {{ id2 }}: 0};
	   var output = {}; 
		output = jsonConcat(output, item_1);
		output = jsonConcat(output, item_2);
	  if(jQuery.isEmptyObject(output)) return;
	  
	  jQuery.ajax({
		type: 'POST',
		url: '/cart/update.js', 
		data: { updates: output }, 
		dataType: 'json',
		success: function() { ajaxCart.load(); }
	  });
	}
	// If we have nothing but gift-wrap items in the cart.
	if (gift_wraps_in_cart > 0 && found == false){
		jQuery(function() {
		  Shopify.Cart.GiftWrap.remove();
		});
	}else{
		if(gift_wraps_in_cart > 1){
			jQuery(function() {
			  Shopify.Cart.GiftWrap.set();
			});
		}else{
			if (gift_wraps_in_cart == 0 && found == true){
				jQuery(function() {
				  Shopify.Cart.GiftWrap.set();
				});
			}
		}
	}
}
 
</script>

 {% endif %}