
<div class="paylater repayment__margin-height" >
    <div>
        <a class="repayment-link-color" title="Read more information about PayPal" onclick="OpenModanPopupPaylater()" style="cursor: pointer;" >
		
		{%- assign price = selected_price | divided_by: 6 -%}
		
            <span class="repayment-method-text">or 6 payments of <span class="divide-four-payment">{{ price | money_without_trailing_zeros }}</span> with </span>
            <span class="d-inline-block" style="margin-top: 4.2px; margin-left: 2px;">
<img class="logo-paylater" src="https://www.paypalobjects.com/upstream/assets/logos/US/ppc_fc_alt_noPP.svg"></img>
</span>
        </a>
    </div>
</div>



