<script type="text/javascript" defer src="https://cdn.reamaze.com/assets/reamaze.js"></script>
<script type="text/javascript">
  var _support = _support || { 'ui': {}, 'user': {} };
  _support['account'] = 'washwarrior';
  _support['ui']['contactMode'] = 'anonymous';
  _support['ui']['enableKb'] = 'true';
  _support['ui']['styles'] = {
    widgetColor: 'rgb(53, 103, 231)',
    gradient: true,
  };
  _support['ui']['widget'] = {
    displayOn: 'all',
    label: {
      text: 'Let us know if you have any questions! &#128522;',
      mode: "notification",
      delay: 3,
      duration: 11,
      sound: true,
    },
    position: 'bottom-right',
    mobilePosition: 'bottom-right'
  };
  _support['apps'] = {
    recentConversations: {},
    faq: {"enabled":true},
    orders: {"enabled":true}
  };
</script>

<!-- reamaze_embeddable_11939_s -->
<!-- Embeddable - Wash Warrior Chat / Contact Form Shoutbox -->
<script type="text/javascript">
  var _support = _support || { 'ui': {}, 'user': {} };
  _support['account'] = 'washwarrior';
  _support['ui']['contactMode'] = 'default';
  _support['ui']['enableKb'] = 'true';
  _support['ui']['styles'] = {
    widgetColor: 'rgb(53, 103, 231)',
    gradient: true,
  };
  _support['ui']['shoutboxFacesMode'] = "default";
  _support['ui']['shoutboxHeaderLogo'] = true;
  _support['ui']['widget'] = {
    icon: 'chat',
    displayOn: 'all',
    allowBotProcessing: true,
    label: false,
    position: 'bottom-right',
    mobilePosition: 'bottom-right'
  };
  _support['apps'] = {
    recentConversations: {},
    faq: {"enabled":true},
    orders: {"enabled":true}
  };
</script>
<!-- reamaze_embeddable_11939_e -->



