

<div class="page-width recharge_account_block" style="padding-top: 150px; padding-bottom: 100px;">
  <div class="grid container">

    <div class="grid__item col-md-6 float-none  mx-auto">
      <div class="form-message form-message--success hide" id="ResetSuccess">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm" class="form-vertical">
        {% form 'customer_login' %}

          <h1 class="text-center text-uppercase">{{ 'customer.login.title' | t }}</h1>

      {%- if form.errors -%}
            <div class="form-message form-message--error mb-4">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
          <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %} col-xs-12 mb-4" autocorrect="off" autocapitalize="off" autofocus>

         {% if form.password_needed %}
            <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %} col-xs-12 mb-4">
         {% endif %}

          <div class="text-center">
           {% if form.password_needed %} 
              <p class="mb-4"><a href="#recover" id="RecoverPassword" onclick="showRecoverBlock(true)" >{{ 'customer.login.forgot_password' | t }}</a></p>
            {% endif %} 

            <input type="submit" class="button2  col-md-6 mx-auto float-none mb-4" value="{{ 'customer.login.sign_in' | t }}">

            <p class="mb-4">
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </p>
          </div>

        {% endform %}
<!-- Begin ReCharge code -->
{% include 'subscription-account-login' %}
<!-- End ReCharge code -->

      </div>

      <div id="RecoverPasswordForm" class="hide">

        <div class="text-center mb-4">
          <h2 class="text-uppercase">{{ 'customer.recover_password.title' | t }}</h2>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        <div class="form-vertical">
          {% form 'recover_customer_password' %}

           {%- if form.errors -%} 
              <div class="form-message form-message--error mb-4">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%} 

            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
             {% if form.posted_successfully? %} 
              <span class="hide reset-password-success"></span>
            {% endif %} 

            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input type="email" value="" name="email" id="RecoverEmail" class="input-full col-xs-12 mb-4" autocorrect="off" autocapitalize="off">

            <div class="text-center">
              <p>
                <input type="submit" class="button2  col-md-6 mx-auto float-none mb-4" value="{{ 'customer.recover_password.submit' | t }}">
              </p>

 <p class="mb-4"><a href="" id="HideRecoverPasswordLink" onclick="showRecoverBlock(false)" >{{ 'customer.recover_password.cancel' | t }}</a></p>
                </div>
          {% endform %}
        </div>

      </div>

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
   {% if shop.checkout.guest_login %} 
        <div class="text-center">
          <hr class="hr--invisible">
          <h2 class="text-uppercase">{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="button2  col-md-6 mx-auto float-none mb-4" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
     {% endif %} 
    </div>

  </div>
</div>

<script>
/*$(document).ready(function() {
    if (window.location.href.indexOf("#recover") > -1) {
      showRecoverBlock(true);
    }
  });
function showRecoverBlock(isShown){
	if(isShown){
		$('#RecoverPasswordForm').removeClass('hide');
		$('#CustomerLoginForm').addClass('hide');
	}else{
		$('#RecoverPasswordForm').addClass('hide');
		$('#CustomerLoginForm').removeClass('hide');
	}
}*/
</script>
