<style>

.register-block *{
font-size: 16px;
}

.register-block h2{
font-size: 20px;
}

.register-block h1{
font-size: 24px;
}

.register-block input[type="email"],
.register-block input[type="text"],
.register-block input[type="password"] {
    padding: 8px 15px;
}

.register-block input[type="email"],
.register-block input[type="text"],
.register-block input[type="password"] {
    border: 1px solid #3567e7;
    background-color: #f2f2f2;
    color: #000;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 2px;
}


</style>
<div class="page-width register-block" style="padding-top: 150px; padding-bottom: 100px;">
  <div class="grid container">
    <div class="grid__item col-md-6 float-none  mx-auto">

      <div class="form-vertical">
        {% form 'create_customer' %}

          <h1 class="text-center text-uppercase">{{ 'customer.register.title' | t }}</h1>

          {%- if form.errors -%}
            <div class="form-message form-message--error mb-4">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" class="col-xs-12 mb-4" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>

          <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" class="col-xs-12 mb-4" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

          <label for="Email">{{ 'customer.register.email' | t }}</label>
          <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %} col-xs-12 mb-4" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

          <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
          <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %} col-xs-12 mb-4">

          <p class="text-center">
            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button2  col-md-6 mx-auto float-none mb-4">
          </p>

        {% endform %}
      </div>
    </div>
  </div>
</div>
