<div class="page-width login-block" style="padding-top: 150px; padding-bottom: 100px;">
  <div class="grid container">
    <div class="grid__item col-md-6 float-none  mx-auto">
      <div class="section-header">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1 class="text-center text-uppercase">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error mb-4">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %} col-xs-12 mb-4">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %} col-xs-12 mb-4">
<div class="text-center">
            <input type="submit" class="button2  col-md-6 mx-auto float-none" value="{{ 'customer.reset_password.submit' | t }}">
			   </div>
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
