<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">

  <title>{{ shop.name }}</title>
    
    <!-- begin Convert Experiences code-->
<script type="text/javascript" src="https://cdn-3.convertexperiments.com/js/10005575-10006071.js"></script>
<!-- end Convert Experiences code -->
    
    {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
	 {{ 'style_1.scss.css' | asset_url | stylesheet_tag }}
	 {{ 'style_2.scss.css' | asset_url | stylesheet_tag }}
    
	
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>
  <script src="{{ 'secure-data.js' | asset_url }}"></script>
    <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{
          'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>



<style type="text/css">
html{
padding-bottom: 0 !important;
}

</style>
  {% if template contains "cart" %}
{{ content_for_header }}
{% else %}
    {%- if template contains 'product' -%}<script>var tfIsMagic = 0;var tfIsVideo = 0;var tfIsStamped = 0;</script>{%- endif -%}
     {%- assign urls = content_for_header | split: 'var urls = [' | last | split: ']' | first -%}  {%- assign cfh_temp1 = content_for_header | split: 'shopify_pay/storefront' | first | split: '<script' | last -%}  {%- assign cfh_temp2 = content_for_header | split: 'shopify_pay/storefront' | last | split: 'themes_support/ga_urchin_forms-' | first -%}  {%- assign cfh_temp3 = content_for_header | split: 'shopify_pay/storefront' | last | split: 'themes_support/ga_urchin_forms-' | last | split: '</script>' | first -%}   {%- assign cfh_bottom = '<script' | append: cfh_temp1 | append: 'shopify_pay/storefront' | append: cfh_temp2 | append: 'themes_support/ga_urchin_forms-' | append: cfh_temp3 | append: '</script>' -%}
    {%- assign load_js = 'src="//cdn.shopify.com/s/assets/storefront/load_feature-' -%}
    {%- assign tfload_js = 'data-src="//cdn.shopify.com/s/assets/storefront/load_feature-' -%}
    {%- assign storefront      = 'src="//cdn.shopify.com/s/assets/shopify_pay/storefront-' -%}      {%- assign tfstorefront      = 'data-src="//cdn.shopify.com/s/assets/shopify_pay/storefront-' -%}  {%- assign express_buttons = 'src="//cdn.shopify.com/s/assets/storefront/express_buttons-' -%}{%- assign tfexpress_buttons = 'data-src="//cdn.shopify.com/s/assets/storefront/express_buttons-' -%}  {%- assign features  = 'src="//cdn.shopify.com/s/assets/storefront/features-' -%}{%- assign tffeatures   = 'data-src="//cdn.shopify.com/s/assets/storefront/features-' -%}  {%- assign ga_urchin_forms = 'src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-' -%}{%- assign tfga_urchin_forms = 'data-src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-' -%}
    {%- assign trekkie =  content_for_header | split: 'trekkie.load(' | last | split: ');' | first -%}  {%- assign trekkie =  'trekkie.load(' | append: trekkie | append: ');' -%}       

    {{ content_for_header | replace: '<!-- section assets -->','' | replace: urls,'' |  replace: storefront,tfstorefront | replace: express_buttons,tfexpress_buttons | replace: features,tffeatures | replace: ga_urchin_forms,tfga_urchin_forms | replace: load_js,tfload_js  | replace: trekkie,'' }}
	{% endif %}

    



  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->
<!-- Global site tag (gtag.js) - Google Ads: 505719933 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-505719933"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-505719933');
</script>






</head>

<!-- body part -->

<body onunload="">
    <div class="page-container" id="PageContainer">
    {%- section 'fixed_header_dishwasher' -%}

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

 <!-- Footer sectoion -->
 
 {%- section 'text-with-icons' -%}
     {%- section 'fixed_footer_dishwasher' -%}
  </div>
  
</body>

<script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'custom-dishwasher.js' | asset_url }}" defer="defer"></script>

<!-- {%- assign product = all_products[settings.featured_product_global] -%} -->
<!-- {% assign current_variant = product.selected_or_first_available_variant %} -->
	<!-- {%- assign diff2 = 4.98 | minus: 4.91 -%} -->
		<!-- {%- assign reviewsRating = 'now' | date: '%N' | modulo: diff2 | plus: 4.91 -%} -->

		<!-- {%- if reviewsRating > 0 and reviewsRating < 6 -%} -->
			<!-- {%- assign reviewsRating = reviewsRating | plus:0 -%} -->
		<!-- {%- else -%} -->
			<!-- {%- assign reviewsRating = 0 -%} -->
		<!-- {%- endif -%} -->

	

	
		<!-- {%- assign reviewsNumber = 2417 -%} -->
		<!-- {%- assign reviewsNumber = reviewsNumber | plus:0 -%} -->
	

	
		<!-- {%- assign reviewsNumber = 2417 -%} -->

		<!-- {%- assign min = 2400 -%} -->
		<!-- {%- assign max = 3000 -%} -->
		<!-- {%- assign diff = max | minus: min -%} -->
		<!-- {%- assign reviewsNumber = 'now' | date: '%N' | modulo: diff | plus: min -%} -->
	
<!-- {%- assign reviewsRatingInteger = reviewsRating | floor -%} -->
<!-- {%- assign reviewsRatingIncrement = reviewsRatingInteger | plus:1 -%} -->
<!-- {%- assign reviewsRatingDelta = reviewsRating | times:10 | modulo:10 -%} -->

<!-- {%- capture product_reviewsHeader -%} -->
<!-- <span class="stamped-product-reviews-badge stamped-main-badge"  style="display: block;"> -->
						<!-- <span class="stamped-badge" data-rating="{{ reviewsRating }}" data-lang=""> -->
						
							<!-- <span data-reviews="{{ reviewsNumber }}" style=" color: #000; font-size: 19px;margin-right: 5px;" data-rating="{{ reviewsRating }}">{{ reviewsRating }}</span> -->
							<!-- <span class="stamped-starrating stamped-badge-starrating"><i class="stamped-fa stamped-fa-star"></i><i class="stamped-fa stamped-fa-star"></i><i class="stamped-fa stamped-fa-star"></i><i class="stamped-fa stamped-fa-star"></i><i class="stamped-fa stamped-fa-star-half-o"></i></span> -->
							
						

							<!-- <span class="stamped-badge-caption" style="color: #000;letter-spacing: 0.0048em; font-size: 14px;" data-reviews="{{ reviewsNumber }}" data-rating="{{ reviewsRating }}">Based on {{ reviewsNumber }} </span> -->
						<!-- </span> -->

					<!-- </span> -->
					
			
				<!-- {%- endcapture -%} -->
<script type="text/javascript">

window.onunload = function(){};

$(window).bind("pageshow", function(event) {
    if (event.originalEvent.persisted) {
        window.location.reload() 
    }
});
/*var product_revHeadNew = {{ product_reviewsHeader | json }};
$( document ).ready(function() {

  document.getElementById('top-reviews-part').innerHTML = product_revHeadNew;

}); */
</script>
</html>