<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
         <!-- Start Google Optimize Code-->
  <!-- anti-flicker snippet (recommended)  -->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'OPT-PGRMRWX':true});</script>
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-PGRMRWX"></script>
  <!-- End Google Optimize Code-->
          {% render 'elevar-head-listener' %}
  {% render 'elevar-head' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}
   {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ shop.name }}</title>
    
    <!-- begin Convert Experiences code-->
<script type="text/javascript" src="https://cdn-3.convertexperiments.com/js/10005575-10006071.js"></script>
<!-- end Convert Experiences code -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	    {{ 'style_new.scss.css' | asset_url | stylesheet_tag }}
	  {{ 'selectric.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="preload" as="image" href="//cdn.shopify.com/s/files/1/0084/0105/9911/products/WWBag6_600x600.jpg?v=1618107199" />
	<style type="text/css">
	
  .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
	  
    }
	
	
    .swiper-slide {
      background-size: cover;
      background-position: center;
	   outline: none;
    }

    .gallery-top {
      height: 80%;
      width: 100%;
    }

    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
	  outline: none;
    }

    .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 0.4;
	  border: 2px solid transparent;
	  border-radius: 3px;
	  cursor: pointer;
	  padding: 2px;
	  outline: none;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
	  border-color: #3567e7;
    }

	html{
		padding-bottom: 0 !important;
	}


	.shopify-challenge__container{
		padding-top: 150px !important;
		padding-bottom: 100px !important;
	}

	#reamaze-widget{
		box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25) !important;
		border-radius: 8px 8px 0 0 !important;
		bottom: -5px !important;
	}

  @media screen and (max-width: 767px) {
    #reamaze-widget{
      right: 10px !important;
    }
    
  }

	@media screen and (min-width: 768px) {
		#reamaze-widget #reamaze-widget-icon {
			width: 210px !important;
		}

		#reamaze-widget #reamaze-widget-icon::after {
			content: "Customer Service";
			color: #fff;
			font-size: 1.2em !important;
			line-height: 58px !important;
			font-weight: bold !important;
			position: absolute;
		}
	}
</style>
 
 <script src="{{ 'jquery.3.3.1.min.js' | asset_url }}" ></script>
  
    <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{
          'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

    {% if template contains "cart" %}
		{{ content_for_header }}
	{% else %}
		{%- if template contains 'product' -%}<script>var tfIsMagic = 0;var tfIsVideo = 0;var tfIsStamped = 0;</script>{%- endif -%}
		{%- assign urls = content_for_header | split: 'var urls = [' | last | split: ']' | first -%}  {%- assign cfh_temp1 = content_for_header | split: 'shopify_pay/storefront' | first | split: '<script' | last -%}  {%- assign cfh_temp2 = content_for_header | split: 'shopify_pay/storefront' | last | split: 'themes_support/ga_urchin_forms-' | first -%}  {%- assign cfh_temp3 = content_for_header | split: 'shopify_pay/storefront' | last | split: 'themes_support/ga_urchin_forms-' | last | split: '</script>' | first -%}   {%- assign cfh_bottom = '<script' | append: cfh_temp1 | append: 'shopify_pay/storefront' | append: cfh_temp2 | append: 'themes_support/ga_urchin_forms-' | append: cfh_temp3 | append: '</script>' -%}
		{%- assign load_js = 'src="//cdn.shopify.com/s/assets/storefront/load_feature-' -%}
		{%- assign tfload_js = 'data-src="//cdn.shopify.com/s/assets/storefront/load_feature-' -%}
		{%- assign storefront      = 'src="//cdn.shopify.com/s/assets/shopify_pay/storefront-' -%}      {%- assign tfstorefront      = 'data-src="//cdn.shopify.com/s/assets/shopify_pay/storefront-' -%}  {%- assign express_buttons = 'src="//cdn.shopify.com/s/assets/storefront/express_buttons-' -%}{%- assign tfexpress_buttons = 'data-src="//cdn.shopify.com/s/assets/storefront/express_buttons-' -%}  {%- assign features  = 'src="//cdn.shopify.com/s/assets/storefront/features-' -%}{%- assign tffeatures   = 'data-src="//cdn.shopify.com/s/assets/storefront/features-' -%}  {%- assign ga_urchin_forms = 'src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-' -%}{%- assign tfga_urchin_forms = 'data-src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-' -%}
		{%- assign trekkie =  content_for_header | split: 'trekkie.load(' | last | split: ');' | first -%}  {%- assign trekkie =  'trekkie.load(' | append: trekkie | append: ');' -%}       

		{{ content_for_header | replace: '<!-- section assets -->','' | replace: urls,'' | replace: storefront,tfstorefront | replace: express_buttons,tfexpress_buttons | replace: features,tffeatures | replace: ga_urchin_forms,tfga_urchin_forms | replace: load_js,tfload_js  }}
	{% endif %}
 
	<!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->
<!-- Global site tag (gtag.js) - Google Ads: 505719933 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-505719933"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-505719933');
</script>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
</head>
<body onunload="">
    {% render 'elevar-body-end' %}
<div style="display: none">theme.dishwasher_new</div>
<div class="drawerBackdrop" style="display: none;"></div>
    <div class="page-container" id="PageContainer" style="outline: none;">
    {%- section 'fixed_header_dishwasher_new' -%}

    <main class="main-content js-focus-hidden" id="MainContent" role="main" style="outline: none;" tabindex="-1">
	
      {{ content_for_layout }}
    </main>

 
     {%- section 'fixed_footer_dishwasher_new' -%}
{% render 'product-paylater-modal' %} 
{% include 'free-item' %}
{% include 'free-item-guide' %}
	{% include 'free-item-dishwasher' %}
	
  </div>
  

  <script src="{{ 'secure-data.js' | asset_url }}"></script>
  
<!-- All link are here -->
 {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
  

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  
  <script type="application/javascript" async 
 src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=TwWKVt"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="{{ 'custom-dishwasher.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'jquery.selectric.min.js' | asset_url }}"  defer="defer" ></script>
<script defer="defer" type="text/javascript" data-api-key="pubkey-86oa7U4IO19E9KhF74Cd3witKT01Cr" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>


<script type="text/javascript">

	$(document).ready(function (){
		var tag = document.createElement("script");
		tag.src = "//cdn.codeblackbelt.com/js/modules/currency-converter-plus/main.min.js?shop=mynewtrend.myshopify.com";
		document.getElementsByTagName("head")[0].appendChild(tag);
	});
	
	function loadCss(filename) {
		var cssMain = document.createElement('link');
		cssMain.href = "https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap";
		cssMain.rel = 'stylesheet';
		cssMain.type = 'text/css';
		document.getElementsByTagName('head')[0].appendChild(cssMain);
		// load fontawesome
		var cssFa = document.createElement('link');
		cssFa.href = "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap";
		cssFa.rel = 'stylesheet';
		cssFa.type = 'text/css';
		document.getElementsByTagName('head')[0].appendChild(cssFa);
		

	}

	window.addEventListener('load', loadCss);
	
	var galleryThumbs = new Swiper('.gallery-thumbs', {
      slidesPerView: 5,
      
      freeMode: true,
      loopedSlides: 5, //looped slides should be the same
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
	  watchOverflow: true
    });
	
    var galleryTop = new Swiper('.gallery-top', {

	  freeMode: true,
     
      loopedSlides: 5, //looped slides should be the same

      thumbs: {
        swiper: galleryThumbs,
      },

    });
	
	
	
	
 var userIp = null;

window.onunload = function(){};

$(window).bind("pageshow", function(event) {
    if (event.originalEvent.persisted) {
        window.location.reload() 
    }
});
  
</script>
</body>
</html>