
<div class="blog-sec">
  <div class="side-bar">
    <div class="side-bar-1 ">
      {{ article.content }}
    </div>
    <div class="side-bar-2 ">
      {% paginate blog.articles by 7 %}
      <div class="side-bar-in">
        <div style="padding: 7px 15px;">
          <h4>Blog posts</h4>
        </div>
        {% for article in blog.articles %}
        <div style="display: flex;padding: 10px;">
          <div class="side-bar-article-img">
              <img src="{{ article.image | img_url: '300x300' }}" />
          </div>
          <div style="padding-left: 10px;">
            <p><a href="{{ article.url }}">{{ article.title }}</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endpaginate %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": {
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fr": "Articles",
    "it": "Articoli",
    "ja": "投稿",
    "pt-BR": "Posts"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "pt-BR": "Exibir autor(a)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "pt-BR": "Exibir data"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais"
      },
      "default": true
    }
  ]
}
{% endschema %}
