 <style>

		#shopify-section-{{section.id}} p 
		{
			padding-left: 0px;
			padding-right: 5px;
			font-size: 17px;
			font-weight: 400;
			color: #fff;
	
			margin-bottom: 40px;
		}
		
		#shopify-section-{{section.id}} a,
		#shopify-section-{{section.id}} h4 {
			color: {{ section.settings.text_bg }};
			font-weight: 600;
			font-size: 20px;
			text-decoration: none;
			
		}
		
		#shopify-section-{{section.id}} .color--bg {
          background: {{ section.settings.section_bg }};
        }
		
		
		.questions-product.faq {
    position: relative;
    padding: 0px 0 50px;
	background-color: #50b3da;
	background-image: url("{{ 'pattern-1.svg' | asset_url }}");
}

.questions-product .accordion {
    margin: 1rem 0;
    padding: 0;
    list-style: none
}

.questions-product .accordion .accordion-item {
    border-bottom: 1px solid #D4D6D9
}

.questions-product .accordion .accordion-item .accordion-thumb {
    margin: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    padding: 15px 20px 15px 0
}

.questions-product .accordion .accordion-item .accordion-thumb::after {
    content: '+';
    position: absolute;
    right: 0;
    font-size: 20px;
    transition: transform .2s ease-out;
    transform-origin: center center
}

.questions-product .accordion .accordion-item .accordion-panel {
    margin: 0;
    padding-bottom: .8rem;
    display: none;
    font-size: 17px;
    line-height: 28px
}

.questions-product .accordion .accordion-item.is-active .accordion-thumb::after {
    transform: rotate(-45deg)
}

.questions-product #accordion .panel-title a {
    display: block;
    padding: 40px 35px 0px 0px;
    font-size: 20px;
    background: transparent;
    position: relative;
	text-align:left;
    border-top: 1px solid #eaf2fe5e;
	font-family: 'TT Norms', sans-serif;

}

.questions-product #accordion .panel-title a.collapsed {
    padding: 40px 35px 35px 0px;
}

.questions-product #accordion .panel-title a:after,.questions-product #accordion .panel-title a.collapsed:after {
    content: "\002d";
    font-family: "FontAwesome";
    font-weight: 900;
    width: 40px;
    height: 40px;
    line-height: 32px;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 38px;
    right: -13px
}

.questions-product .panel-body p {
    opacity: 0.8
}

.questions-product .panel,.questions-product .panel-body,.questions-product .panel-default {
    border: none !important;
    box-shadow: none !important
}

.questions-product .panel-default>.panel-heading {
    background: transparent;
    border: none !important
}

.questions-product #accordion .panel-title a.collapsed:after {
    content: "\002b"
}

.details-heading {
    font-size: 30px;
    font-weight: bold;
	color: #fff;
    text-align: center;
    margin-bottom: 12px
}
		

    </style>
	<div class="position-relative">
      <div class="shape shape-fluid-x shape-top text-dark pt-15">
        <div class="shape-img pb-8 pb-md-12">
          <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor"></path></svg>        </div>
      </div>
    </div>
<section class="questions-product faq" >

<div class="container">
<h1 class="text-center details-heading">FAQS</h1>
<div id="shopify-section-page-faq-template" class="private-policy shopify-section faq-section">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                   
                  	{%- if product.id == 4773122080839  -%}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" style=" border-top: none;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">Can I clean the Smart Scrubber in my dishwasher?</a></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body ">
                               <p>Absolutely! In fact, we recommend it! Throw your Wash Warrior Smart Scrubber in with your load of dishes to keep it sanitized and fresh after each use.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">How do I sterilize my Smart Scrubber?</a></h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <p>Can I boil it? Of course! Many Smart Scrubber owners find boiling their sponge to be the most effective way of sterilizing it.</p>
                            </div>
                        </div>
                    </div>
                  
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">What’s my Smart Scrubber made out of? Is it safe for the environment?</a></h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body ">
                                <p>Your Smart Scrubber is made from 100% antibacterial silicone and it’s great for the environment too! Your Smart Scrubber will last much longer than a regular cellulose sponge and reduce waste.</p>
                            </div>
                        </div>
                    </div>
					 {% elsif product.id == 4772860035143 %}
					  <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" style=" border-top: none;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">Can I use Wash Warrior™ with any dishwasher?</a></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body ">
                               <p>Yes. Our tablets are safe to use with all dishwasher makes and models, including Whirlpool, KitchenAid, Maytag, and more.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">How often should I use dishwasher cleaner?</a></h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body ">
                                <p>We recommend you use Wash Warrior™ once a month and any time you notice build-up, mold, or foul odors inside your dishwasher.</p>
                            </div>
                        </div>
                    </div>
                  
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">Can I use this product while also cleaning my dishes?</a></h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body ">
                                <p>While Wash Warrior is eco-friendly and non-toxic, we do recommend cleaning your washer without any dishes.</p>
                            </div>
                        </div>
                    </div>
					
					    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">Do I need to dismantle my washing machine to use it?</a></h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body ">
                                <p>Not at all. Wash Warrior’s™ primary goal is to make cleaning your dishwasher as easy as possible. Simply place 1 tablet inside your detergent tray and let it do all the hard work for you.</p>
                            </div>
                        </div>
                    </div>
					
					  <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">Is it safe to use with a septic system?</a></h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                            <div class="panel-body ">
                                <p>Yes. Wash Warrior™ is carefully formulated with eco-friendly ingredients, making it perfectly safe to use with a septic system.</p>
                            </div>
                        </div>
                    </div>
					
					{% elsif product.id == 4773126570055 %}
					 <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" style=" border-top: none;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">Can it be used in any washing machine?</a></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body ">
                               <p>Yes you can! Wash Warrior is safe to use with Front Load Washing Machines and Top Load Washing Machines - High Efficiency (HE) and Conventional Washers. Wash Warrior is also septic tank safe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">How many times should I use it to see a difference & on what cycle?</a></h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body ">
                                <p>We recommend using 3 tablets the first week (1 tablet every 2 days) on a regular cycle if you have never deep cleaned your washer before in order to get rid of all the buildup. After you have completed this phase, or if your washer has already been deep cleaned, we recommend 1 tablet every two weeks for maintenance.</p>
                            </div>
                        </div>
                    </div>
                  
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">Can it also clean the rubber and drawer?</a></h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body ">
                                <p>Yes it can! Thanks to its triple active oxygen decontamination complex, Wash Warrior rapidly penetrates and disintegrates all dirt while suppressing 99% of bacteria in your washing machine including that in the rubber and drawer.</p>
                            </div>
                        </div>
                    </div>
					
					    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">Do I need to dismantle the machine to clean it?</a></h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body ">
                                <p>No need! Wash Warrior’s sole purpose is to save you the hassle of dismantling and manually deeply cleaning your washer. Just put the Wash Warrior tablet in and let it do all the heavy lifting.</p>
                            </div>
                        </div>
                    </div>
					
					  <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">Will it clog the drain at all?</a></h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                            <div class="panel-body ">
                                <p>Wash Warrior is carefully formulated to ensure all dirt and buildup is broken down enough to go through the drain effortlessly so you don’t have to worry about any clogged drains.</p>
                            </div>
                        </div>
                    </div>
					{%- else  -%}
					
					 <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" style=" border-top: none;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">Can it be used in any washing machine?</a></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body ">
                               <p>Yes it can! Wash Warrior is safe to use with Front Load Washing Machines and Top Load Washing Machines - High Efficiency (HE) and Conventional Washers. Wash Warrior is also septic tank safe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">How many times should I use it to see a difference & on what cycle?</a></h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body ">
                                <p>We recommend using 3 tablets the first week (1 tablet every 2 days) on a regular cycle if the washer has never been deep cleaned before in order to get rid of all the buildup. After completing this phase, or if the washer has already been deep cleaned, we recommend 1 tablet every two weeks for maintenance.</p>
                            </div>
                        </div>
                    </div>
                  
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">Can it also clean the rubber and drawer?</a></h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body ">
                                <p>Yes it can! Thanks to its triple active oxygen decontamination complex, Wash Warrior rapidly penetrates and disintegrates all dirt while suppressing 99% of bacteria in the washing machine including that in the rubber and drawer.</p>
                            </div>
                        </div>
                    </div>
					
					    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">Do I need to dismantle the machine to clean it?</a></h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body ">
                                <p>No need! Wash Warrior’s sole purpose is to save us the hassle of dismantling and manually deeply cleaning the washer. Just put the Wash Warrior tablet in and let it do all the heavy lifting.</p>
                            </div>
                        </div>
                    </div>
					
					  <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">Will it clog the drain at all?</a></h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                            <div class="panel-body ">
                                <p>Wash Warrior™ is carefully formulated to ensure all dirt and buildup is broken down enough to go through the drain effortlessly so we don’t have to worry about any clogged drains.</p>
                            </div>
                        </div>
                    </div>
					{%- endif  -%}
                   
                </div>
</div>
</div>

</section>
<div class="position-relative">
      <div class="shape shape-fluid-x shape-bottom text-dark">
        <div class="shape-img pb-8 pb-md-12">
          <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 0h100v50H75L25 25H0z" fill="currentColor"></path></svg>        </div>
      </div>
    </div>
{% schema %}
{
  "name": "Inline info 2",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
