
<style>

.s-banner .grid.banner{
	    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
	}
</style>
	<div class="s-banner">
	
    <div class="cont _1240 w-container">
      <div class="text-center marginbtn" >
        <div class="col-sm-6 button2 btn-buy-product" style="float: none;">ADD TO CART</div>
      </div>
      {%- comment -%}
      ab-test product id
      {%- endcomment -%}
      {% assign abtest = product.metafields.my_fields.a_b_test_switch %}
      {% unless product.id == 7004495872196 and abtest %}
        <div class="w-layout-grid grid banner review">
          
          {%- if product.id == 4773122080839  -%}
            <div  class="block">
                  <h3 class="heading-3" style="font-weight: 700; text-transform: uppercase;">Guaranteed to safely & effectively clean any dishes or receive a full refund!</h3>
            </div>
          
          {% elsif product.id == 4772860035143 %}
            <div  class="block">
              <h3 class="heading-3" style="font-weight: 700;">GUARANTEED TO DEEP CLEAN ANY DISHWASHER OR RECEIVE A FULL REFUND!</h3>
            </div>
          {% elsif product.id == 4773126570055 %}
            <div  class="block">
                <h3 class="heading-3" style="font-weight: 700;">GUARANTEED TO DEEP CLEAN ANY WASHING MACHINE OR RECEIVE A FULL REFUND!</h3>
            </div>
            <div  class="block col-sm-11" style="margin: 0 auto;">
          <p>We proudly stand by the quality of all Wash Warrior Products, and we promise that you will either be satisfied or fully refunded.</p>
          <br>
          <p>When you purchase Wash Warrior’s Washing Machine Cleaning Wipes, you are protected by our 100% no-risk money back guarantee!</p>
            </div>
          {%- else -%}
            <div  class="block">
                <h3 class="heading-3" style="font-weight: 700;">GUARANTEED TO DEEP CLEAN ANY WASHING MACHINE OR RECEIVE A FULL REFUND!</h3>
            </div>
          {%- endif -%}

        </div>
      {% endunless %}
    </div>
  </div>


{% schema %}
{
  "name": "Inline info 4",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
