<style>
#steps-home{
padding-top: 2.5rem !important;
padding-bottom: 2.5rem !important;
margin-top: 5.5rem !important;
margin-bottom: 5.5rem !important;
}

#steps-home .image-14 {
	width: 100%;
    height: 100%;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
}
</style>
<div id="steps-home" class="s-steps">
    <div class="container">
        <div class="w-layout-grid grid steps">
            <div class="block rel" >
                <div class="_w-step-cards">
                    <a target="_blank" class="card-step _2 w-inline-block btn-buy-product" style="right:none; width:100%; height: auto;">
                        <img src="{{ 'wash_warrior_4.jpg' | asset_url }}" alt="" class="image-9" style="width:100%; height: auto;" />
                    </a>
                
                </div>
            </div>
            <div id="w-node-db6c650a3592-5d1eaee6" class="block first" >
                <h2>Powerful Deep Cleaning</h2>
                <p>These tablets are smaller and thinner than regular tablets, allowing them to powerfully penetrate, dissolve, and break down blocked up mold and residue.</p>
				<br><br>
				<h2>Kills Bacteria</h2>
                <p>Our patented Wash Warrior™ Washing Machine Cleaner kills 99.9% of bacteria and other pathogens in less than 20 minutes. With a 1:100 product to water dilution ratio, it effectively cleans and purifies, keeping your washing machine cleaner and fresher.</p>
            </div>
        </div>
    </div>
    <div class="_w-bean"><img src="{{ 'S-Steps-Bean.svg' | asset_url }}" alt="" class="image-14" /></div>
</div>



{% schema %}
{
  "name": "Inline info 6",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
