<style>
._w-video-egg-comp.story4 {

    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
</style>

<div class="s-story4">
   <div class="cont _1240 w-container">
	   
	  {%- if product.id == 4773122080839  -%}
        <div class="w-layout-grid grid story-4">
          <div class="block" >
            <h2>So easy to use, even the kids will want to help with the washing up!</h2>
            <p>Unlike regular kitchen sponges, the Smart Scrubber has two types of bristles and a scraper that also doubles as a squeegee, so you can wipe away dirt, grease, grime, and other stains effectively and effortlessly without damaging your cookware either.</p>
          </div>
          <div id="w-node-682b93c4e2b2-5d1eaee6" class="block" >
                    <div class="_w-step-cards">
                        <a id="w-node-10cfac847216-5d1eaee6" target="_blank" class="card-step _1 w-inline-block btn-buy-product" >
                            <img data-src="{{ 'small_ever_1.jpg' | asset_url }}" alt="" style="height:100% !important;" class="image-9 lazyload" />
                            <div class="text-block-6"><span>No More Musty</span><br><span>& Brittle Sponges</span></div>
                        </a>
                        <a target="_blank" class="card-step _2 w-inline-block btn-buy-product" >
                            <img data-src="{{ 'small_ever_2.jpg' | asset_url }}" style="height:100% !important;" alt="" class="image-9 lazyload" />
                            <div class="text-block-6">Durable and Long-Lasting</div>
                        </a>
                        <a target="_blank" class="card-step _3 w-inline-block btn-buy-product" >
                            <img data-src="{{ 'small_ever_3.jpg' | asset_url }}" alt="" style="height:100% !important;" class="image-9 lazyload" />
                            <div class="text-block-6">Antibacterial Silicone</div>
                        </a>
                    </div>
          </div>
        </div>
	  {% elsif product.id == 4772860035143 %}
		  <div class="w-layout-grid grid story-4">
          <div class="block" >
            <h2>Convenient Use</h2>
            <p>Simply place 1 tablet in the detergent tray and start a normal cycle with hot water. There’s no need to disassemble anything or scrub by hand. Once the cycle is complete you can rest assured your washer is bacteria-free.</p>
          </div>
          <div id="w-node-682b93c4e2b2-5d1eaee6" class="block" >
                <div class="_w-step-cards">
                    <a id="w-node-10cfac847216-5d1eaee6" target="_blank" class="card-step _1 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-1_dish.jpg' | asset_url }}" alt="" class="image-9 lazyload" />
                        <div class="text-block-6">1. Get a Wash Warrior Tablet</div>
                    </a>
                    <a target="_blank" class="card-step _2 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-2_dish.jpg' | asset_url }}" alt="" class="image-9 lazyload" />
                        <div class="text-block-6">2. Place it in your washer</div>
                    </a>
                    <a target="_blank" class="card-step _3 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-3_dish.jpg' | asset_url }}" alt="" class="image-9 lazyload" />
                        <div class="text-block-6">3. Watch it clean like magic</div>
                    </a>
                </div>
          </div>
        </div>
	  {% elsif product.id == 4773126570055 %}
		   <div class="w-layout-grid grid story-4">
          <div class="block" >
            <h2>Perfect for Problem Spots</h2>
            <p>Whether there’s a tough patch of dirt in an awkward place or a streak of grime that doesn’t want to come out, our cleaning wipes allow you to give the necessary attention to any problem areas with our patented formula infused in each tissue to ensure that any lingering filth quickly disintegrates with a few good scrubs.</p>
          </div>
          <div id="w-node-682b93c4e2b2-5d1eaee6" class="block" >
                  <div class="_w-step-cards">
                      <a id="w-node-10cfac847216-5d1eaee6" target="_blank" class="card-step _1 w-inline-block btn-buy-product" >
                          <img data-src="{{ '0_I-Steps-1.jpg' | asset_url }}" alt="" class="image-9 lazyload" />
                          <div class="text-block-6">1. Get a Wash Warrior Tablet</div>
                      </a>
                      <a target="_blank" class="card-step _2 w-inline-block btn-buy-product" >
                          <img data-src="{{ '0_I-Steps-2.jpg' | asset_url }}" alt="" class="image-9 lazyload" />
                          <div class="text-block-6">2. Place it in your washer</div>
                      </a>
                      <a target="_blank" class="card-step _3 w-inline-block btn-buy-product" >
                          <img data-src="{{ '0_I-Steps-3.jpg' | asset_url }}" alt="" class="image-9 lazyload" />
                          <div class="text-block-6">3. Watch it clean like magic</div>
                      </a>
                  </div>
          </div>
        </div>
	  {%- else -%}
		     <div class="w-layout-grid grid story-4">
          <div class="block" >
            <h2>Convenient Use</h2>
            <p>Empty the washer, place 1 tablet and set the “clean washer” or “rinse+spin” cycle and wipe away any residues. No need to disassemble the washing machine. Enjoy a clean washer and bacteria-free laundry.</p>
          </div>
          <div id="w-node-682b93c4e2b2-5d1eaee6" class="block" >
                <div class="_w-step-cards">
                    <a id="w-node-10cfac847216-5d1eaee6" target="_blank" class="card-step _1 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-1.jpg' | asset_url }}" alt="" class="image-9 lazyload" />
                        <div class="text-block-6">1. Get a Wash Warrior Tablet</div>
                    </a>
                    <a target="_blank" class="card-step _2 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-2.jpg' | asset_url }}" alt="" class="image-9 lazyload" />
                        <div class="text-block-6">2. Place it in your washer</div>
                    </a>
                    <a target="_blank" class="card-step _3 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-3.jpg' | asset_url }}" alt="" class="image-9 lazyload" />
                        <div class="text-block-6">3. Watch it clean like magic</div>
                    </a>
                </div>
          </div>
        </div>
	  {%- endif -%}
   </div>
</div>


{% schema %}
{
  "name": "Inline info 5",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
