
 <style>
 	
		#shopify-section-{{section.id}} 
		{
			padding-top: 76px;
			padding-bottom: 70px;
			outline: none;
		}
		
		@media screen and (min-width:768px) {
			#shopify-section-{{section.id}}  {
				padding-top: 126px;
			}
		}
			
		#shopify-section-{{section.id}} .variants-block
		{
			background-color:{{ section.settings.block_bg }};
			color:{{ section.settings.text_bg }};
		}

		
		#shopify-section-{{section.id}} .most-popular-badge {
			background-color: {{ section.settings.badge_el_bg }};
			color: #fff;
			position: absolute;
			right: -5px;
			top: -13px;
			border-radius: 2px;
			padding: 0 4px;
			font-size: 13px;
			z-index: 1000000;
		}
		
		.block-swatch-list{
		margin-top: 10px;
		}
		
		hr {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		
		#shopify-section-{{section.id}} .most-popular-badge:after {
			content: '\f0dd';
			color: {{ section.settings.badge_el_bg }};
			position: absolute;
			right: 15px;
			top: 0px;
			z-index: 1000000;
			font: normal normal normal 29px/1 FontAwesome;
		}
		
		.item .border-style{
		border-radius: 3px;
			box-shadow: 0 1px 1px rgba(212,214,216,0.25);
			border: 1px solid #d4d6d8;
			padding: 5px;
			position: relative;
			display: inline-block;
			padding-top: 11px;
    padding-bottom: 11px;
		}
		
		.item.active .border-style{
			box-shadow: 0 0 0 2px {{ section.settings.check_bg }};
			order-color: {{ section.settings.check_bg }};
			
		}
		
		.item.active .border-style{
			
			color: {{ section.settings.check_bg }};
		}
		
		.item.active .item-price span{
			font-weight: bold;
		}
		

		
		#shopify-section-{{section.id}} .variants-block-sell-animation .circle-animation{
			border: 2px dashed {{ section.settings.badge_text_bg }};
		}
		
		#shopify-section-{{section.id}} .variants-block-sell-animation{
			color:{{ section.settings.badge_text_bg }};
		}
		
		#shopify-section-{{section.id}} .variants-block-sell-animation{
			background-color:{{ section.settings.badge_el_bg }};
		}
		
		#shopify-section-{{section.id}} .header-text{
			font-weight: bold;
			color:{{ section.settings.header_text_bg }};
		}
		
		#shopify-section-{{section.id}} .setting-bg-value{
			
			color:{{ section.settings.header_text_bg }};
		}
		
		
		#shopify-section-{{section.id}} .most-popular-badge .badge-arrow svg{
			fill:{{ section.settings.badge_el_bg }};
		}
		
		
		#shopify-section-{{section.id}} .button{
			background-color:{{ section.settings.btn_bg }};
			border: 1px solid {{ section.settings.btn_bg }};
			color: {{ section.settings.btn_text_bg }};
		}
		
		#buy_now_button{
			margin-bottom: 5px;
		}
		
		 .product-gallery__carousel-item.is-selected {
 left: 0 !important;
 opacity: 1 !important;
 }
 

		
		.box-shadow-custom{
		    margin: 0;
			background: white;
			box-shadow: 0 20px 30px 0 rgba(31,31,92,.12);
			font-family: 'AvenirLTPro-Roman';
			box-sizing: border-box;
			padding: 0 15px 35px 15px;
			border-radius: 14px;
	}
			
		#buy_now_button_pp{
		    background: #ffc439 !important;
			border-color: #ffc439 !important;
			margin-bottom: 5px;
		}
		
			#buy_now_button_pp:hover,
		#buy_now_button_pp:focus
		{
		    background: #eab02a  !important;
			border-color: #eab02a  !important;
		
		}
		
		
		@media (min-width: 527px) {
	
			#buy_now_button_pp{
				margin-left: 20px;
			}
		}
		
			@media only screen and (max-width: 767px) {
		
		.product-column{
			padding-left: 10px;
			padding-right: 10px;
		}
		
		.product-form__option-name *{
		font-size: 13px;
		
		}
		.product-form__option-name> span:nth-of-type(1){
		margin-right: 5px !important;
		}
		
		  .product-gallery__thumbnail { 
		  width: 54px;
		  margin: 0 2px; 
		  }
		}
		
	 .gallery-block-desktop{
	display: none;
 }
  .gallery-block-mobile{
	display: block;
 }
		
@media only screen and (min-width: 900px) {
  #scroll-point { display: none; }
}

@media screen and (min-width: 992px) {
 .gallery-block-desktop{
	display: block;
 }
  .gallery-block-mobile{
	display: none;
 }
 

}

@media screen and (min-width: 1000px){
.product-gallery--with-thumbnails .product-gallery__carousel-wrapper {
    max-width: 100%;
}
}


    </style>
	
	
<div  class="container ">
  <div class="row">
	   <div class="col-md-6 product-column">
              {% render 'product-gallery-single' %}
			
			
            </div>
			
			 <div class="col-md-6 box-shadow-custom product-column">
			{% if product.id == 7004495872196 %}
            	{% render 'product-info' %}
			{% else %}
            	{% render 'product-info-single' %}
			{% endif %}
          </div>
   </div>
</div>


<script>
  function ImageClick(currentMediaId){
	$('.product-gallery__carousel-item').removeClass('is-selected');
	$('.product-gallery__carousel-item[data-media-id="'+currentMediaId+'"]').addClass('is-selected');
	
	$('.product-gallery__thumbnail').removeClass('is-nav-selected');
	$('.product-gallery__thumbnail[data-media-id="'+currentMediaId+'"]').addClass('is-nav-selected');
	
  }
  
  function UpdateMainPicture(id, variantId){
		ImageClick(id);
		var newimgIndex = $($('.swiper-slide[data-media-id="'+id+'"]')[0]).data('slide-to');
		$('.swiper-slide[data-media-id="'+id+'"]').removeClass('d-none');
		
		galleryTop.update();
		galleryTop.slideTo(newimgIndex);
		galleryTop.once('slideChange', function () {
			setTimeout(function(){
				$('.swiper-slide[data-d-none]').addClass('d-none');
				galleryTop.update();
			}, 400);
		});

	  
	 
	 $('#buy_now_button').attr('data-variantid', variantId);
	 $('#lp-back-button').attr('data-variantid', variantId);
	 $('.product-form__info-list').hide();
	 $('.product-form__info-list[data-visible-id="'+variantId+'"]').show();

  }

</script>
{%- include 'carthook-checkout' -%}

{% schema %}
{
  "name": "Variants block",
  "settings": [
  {
	"type": "checkbox",
	"id": "sticky_cta",
	"label": "Sticky CTA Button on mobile",
	"default": true
	},
  {
      "type": "text",
          "id": "percent_value",
          "label": "Percent value",
          "default": "50"
    },
	{
      "type": "text",
          "id": "description",
          "label": "Description text",
          "default": "Description text"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#333"
    },
	{
      "type": "color",
      "id": "header_text_bg",
        "label": "Header Text color",
      "default": "#c91f3f"
    },
	{
      "type": "color",
      "id": "badge_el_bg",
	  "label": "Badges color",
      "default": "#c91f3f"
    },
	{
      "type": "color",
      "id": "badge_text_bg",
	  "label": "Badges text color",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "active_el_bg",
	  "label": "Active element color",
      "default": "#ffbd03"
    },
	{
      "type": "color",
      "id": "check_bg",
	  "label": "Check element color",
      "default": "#000"
    },
	
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "block_bg",
      "label": "Box color",
      "default": "#fff"
    }
  ]
}
{% endschema %}
