
 <style>

		#shopify-section-{{section.id}} .product-features{
			background: {{ section.settings.pf_bg }};
		}

		#shopify-section-{{section.id}} .product-features p {
		   color:{{ section.settings.pf_text_bg }};
		   
		}
		
		#shopify-section-{{section.id}} .product-section h1{
			font-size: 36px;
			color: #000;
			text-shadow: none;
			margin-left: 0;
			font-weight: 700;
			letter-spacing: .5px;
			 margin-bottom: 20px;
		}
		
		#shopify-section-{{section.id}} .product-section p{
			font-size: 18px;
			color: #000;
			margin: 0 0 25px;
			font-style: normal;
		}


	.product-section .lifestyle-image {
		height: calc(100vw - 100px);
		background-size: cover;
		background-position-x: 50%;
	}

.product-section {
    padding-bottom: 20px;
}

.product-section .lifestyle-image {
    height: calc(100vw - 100px);
    background-size: cover;
}

.product-section .product {
    top: calc((100vw - 50vw) * -1);
    position: relative;
    margin-bottom: calc((100vw - 50vw) * -1);
}

.product-section .product.left img {
    margin-left: -55%;
}

 .product-section .product.right img {
    margin-right: -55%;
}

 .product-section .product-text {
    padding: 0 15px;
}

.product-section .main-img img {
    margin-top: -22%;
}

.d-none{
display: none !important;
}


@media all and (min-width: 768px) {
	
		#shopify-section-{{section.id}} .product-section h1{
			font-size: 40px;
		
		}
    
    .product-section .product-text {
        padding-top: 30px;
    }
	
	.product-section .lifestyle-image {
		height: 320px;
		background-position: center;
	}
	
	.product-section .left {
        float: left;
    }
	
	 .product-section .right {
        float: right;
    }
	
}

    </style>
<div class="product-features">
	<div class="product-section">
          <div class="lifestyle-image" style="background-image: url({{'banner-1.jpg' | asset_url}});"></div>
          <div class="container-fluid">
            <div class="col-md-6 main-img"><img style="margin-left: 0%;" class="lazyload" data-src="{{'washing-machine-with-bags.png' | asset_url}}" alt=""></div>
            <div class="col-md-4 product-text">
              <h1>Deep Cleaning Your Washer is Now Easier Than Ever</h1>
             
           
              <p><strong>WASHING MACHINE DEEP CLEANER &amp; MACHINE CLEANING WIPES</strong><br>Our washing machine deep cleaning tablets and wipes are designed to completely purify your washer and get rid of any bacteria, mold, limescale and pathogens lurking in the drum, drain, rubber seal and even pipes and other compartments for a full deep cleanse.</p>
                <a class="button2" href="/pages/washwarrior?parentHome=parentHome">GO TO PRODUCT</a>
            </div>
          </div>
	</div>
		
		
		
<div class="product-section">
    <div class="lifestyle-image" style="background-image: url({{'banner-2.jpg' | asset_url}});"></div>
    <div class="container-fluid">
        <div class="col-md-6 right main-img">
            <img class="lazyload"
                data-src="{{'dishwasher-with-bags.png' | asset_url}}" alt=""/>
        </div>
        <div class="col-md-push-2 col-md-4 product-text left">
            <h1>Clean Kitchenware Starts with a Clean Dishwasher</h1>
            <p><strong>DISHWASHER DEEP CLEANER</strong><br>While detergent only cleans your dishes, our non-toxic 100% safe deep cleaning tablets use our patented TAO complex to remove all bacteria, mold, limescale, and mineral buildup in your dishwasher leaving you with a safe dishwasher for you and and your family.</p>
            <a class="button2" href="/products/dishwasher?parentHome=parentHome">GO TO PRODUCT</a>
        </div>
		
    </div>
</div>


<div class="product-section d-none" >
    <div class="lifestyle-image" style="background-image: url(https://2escoo2x8zgk229p8x3y5b12-wpengine.netdna-ssl.com/wp-content/uploads/2017/10/lifestyle-banner-cooktop-1024x769.jpg);"></div>
    <div class="container-fluid">
        <div class="col-md-6 main-img">
            <img class="lazyload"
                data-src="https://2escoo2x8zgk229p8x3y5b12-wpengine.netdna-ssl.com/wp-content/uploads/2017/10/appliance-product-cooktop-1024x896.png"  alt=""      />
        </div>
        <div class="col-md-4 product-text">
            <h1>Dual-Sided For Sparkling Results</h1>
            <p><strong>COOKTOP CLEANING WIPES</strong><br><strong>Wash Warrior®</strong> cooktop cleaning wipes are specially formulated dual-sided wipes with a scrubber side to remove everyday residues and a smooth side to leave your ceramic cooktop shiny and sparkling with a streak-free finish.*</p>
            <p><small>*When used as directed</small></p>
            <a class="button2" href="/">LEARN MORE</a>
        </div>
    </div>
</div>



</div>

{% schema %}
{
  "name": "Product Features Info",
  "settings": [
  {
      "type": "text",
          "id": "pf_text_header",
          "label": "Product Feature Header Text",
          "default": "Product Feature Header Text"
    },
	 {
      "type": "text",
          "id": "pf_text_1",
          "label": "Product Feature Text 1",
          "default": "Product Feature Text 1"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "image_picker",
      "id": "pf_image2",
      "label":"Block image"
    },
	 {
      "type": "text",
          "id": "pf_list_header_1",
          "label": "List header 1",
          "default": "List header 1"
    },
	 {
      "type": "text",
          "id": "pf_list_text_1",
          "label": "List text 1",
          "default": "List text 1"
    },
	 {
      "type": "text",
          "id": "pf_list_header_2",
          "label": "List header 2",
          "default": "List header 2"
    },
	 {
      "type": "text",
          "id": "pf_list_text_2",
          "label": "List text 2",
          "default": "List text 2"
    },
	 {
      "type": "text",
          "id": "pf_list_header_3",
          "label": "List header 3",
          "default": "List header 3"
    },
	 {
      "type": "text",
          "id": "pf_list_text_3",
          "label": "List text 3",
          "default": "List text 3"
    },
	{
      "type": "color",
      "id": "pf_text_bg",
        "label": "Main Text color",
      "default": "#484848"
    },
	{
      "type": "color",
      "id": "pf_text_2_bg",
	  "label": "Sub block Text color",
      "default": "#494949"
    },
	{
      "type": "color",
      "id": "pf_bg",
	  "label": "Background",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "pf_sub_bg",
	  "label": "Sub block Background",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "rated_text_header",
          "label": "Top Rated Header Text",
          "default": "Top Rated Header Text"
    },
	{
      "type": "text",
          "id": "rated_text_content",
          "label": "Top RatedContent Text",
          "default": "Top Rated Content Text"
    },
    {
      "type": "color",
      "id": "rated_bg",
      "label": "Top Rated Bar",
      "default": "#eee"
    },
    {
      "type": "color",
      "id": "rated_text_bg",
      "label": "Top Rated Text color",
      "default": "#494949"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
