
	<div class="s-story3" style="background: transparent; padding-top: 0; ">
      <div class="container-lg">
         <div class="row align-items-center justify-content-between">
		{%- if product.id == 4773122080839  -%}
         <div class="col-md-6 text-center" >
            <div class="_w-video-egg-comp story3 lazyload">
              <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
                <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
					<img class="gif-holder-1 card-shadow-custom" >
				</div>
              </a>
            </div>
          </div>
         <div class="col-md-6" >
            <h2>The sponge you won’t have to replace every week!</h2>
            <p>The Smart Scrubber is so easy to clean and sanitise, just throw it in the dishwasher when you’re done with it and it’ll come out like new! Unlike other sponges that hold on to nasty bacteria, smells and germs, the Smart Scrubber is made from silicone, allowing it to be effectively cleaned after each use. It’ll last for years too, reducing your waste and more environmentally friendly than regular sponges that need replacing each week.</p>
          </div>
		   {% elsif product.id == 4772860035143 %}
		   <div class="col-md-6 text-center" >
            <div class="_w-video-egg-comp story3">
              <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
                <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
					<img  class="gif-holder-1 card-shadow-custom" >
				</div>
              </a>
            </div>
          </div>
           <div class="col-md-6" >
            <h2>Completely Scrub and Clean Your Dishwasher Hands-Free</h2>
            <p>Get amazing results without any of the work. Thanks to its <strong>active oxygen decontamination process</strong>, Wash Warrior™ penetrates and disintegrates food build-up while suppressing <strong>99.9% of bacteria</strong> inside your dishwasher.</p>
          </div>
		   {% elsif product.id == 4773126570055 %}
		      <div class="col-md-6 text-center" >
            <div class="_w-video-egg-comp story3">
              <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
                <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
					<img  class="gif-holder-1 card-shadow-custom" >
				</div>
              </a>
            </div>
          </div>
          <div class="col-md-6" >
            <h2>With Our <a  target="_blank" class="l-white btn-buy-product">Wash Warrior Cleaning Wipes</a>, You Can Keep Every Inch of Your Washing Machine Spotless!</h2>
            <p>With our triple <strong>Active Oxygen Decontamination Complex</strong> in every piece, our washing machine cleaning wipes remove <strong>99.9% of bacteria</strong> in the drum and on the surface of your washer.</p>
          </div>
		   {%- else -%}
		    <div class="col-md-6 text-center" >
            <div class="_w-video-egg-comp story3">
              <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
                <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
					<img  class="gif-holder-1 card-shadow-custom" >
				</div>
              </a>
            </div>
          </div>
          <div class="col-md-6" >
            <h2>These <a  target="_blank" class="l-white btn-buy-product">Wash Warrior Tablets</a> are a Hands-Off Way to Scrub &amp; Clean ANY Washing Machine!</h2>
            <p>Thanks to its triple <strong>active oxygen decontamination complex</strong>, Wash Warrior™ rapidly penetrates and disintegrates all dirt while suppressing <strong>99.9% of bacteria</strong> in the washing machine.</p>
          </div>
		   {%- endif -%}
		
		<div class="text-center marginbtn" >
			<div class="btn btn-ww  btn-buy-product" style="float: none;">ADD TO CART</div>
		</div>
        </div>
      </div></div>
<script>
$(window).on('load',function(){
{%- if product.id == 4773122080839  -%}
	$('.gif-holder-1').attr('data-src',"{{ 'giphy.gif' | asset_url }}");
	$('.gif-holder-1').addClass('lazyload');
{% elsif product.id == 4772860035143 %}
	$('.gif-holder-1').attr('data-src',"{{ 'giphy_dish.gif' | asset_url }}");
	$('.gif-holder-1').addClass('lazyload');
{%- else -%}
	$('.gif-holder-1').attr('data-src',"{{ 'video1_optimized.gif' | asset_url }}");
	$('.gif-holder-1').addClass('lazyload');
{%- endif -%}

});

</script>
{% schema %}
{
  "name": "Inline info 3",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
	{
      "type": "image_picker",
      "id": "image_block_3",
      "label":"Main image 3"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
