<style>
._w-video-egg-comp.story4 {

    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
</style>
	<div class="s-story4">
      <div class="container-lg">
	  {%- if product.id == 4773122080839  -%}
	
         <div class="row align-items-center justify-content-between">
          <div class="col-md-6" >
            <h2>So easy to use, even the kids will want to help with the washing up!</h2>
            <p>Unlike regular kitchen sponges, the Smart Scrubber has two types of bristles and a scraper that also doubles as a squeegee, so you can wipe away dirt, grease, grime, and other stains effectively and effortlessly without damaging your cookware either.</p>
          </div>
         <div class="col-md-6 text-center">
           
              <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
              
                <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
				<img  class="gif-holder-2 card-shadow-custom" >
				
				</div>
              </a>
            
          </div>
        </div>
		 {% elsif product.id == 4772860035143 %}
		 <div class="row align-items-center justify-content-between">
         <div class="col-md-6" >
            <h2>Convenient Use</h2>
            <p>Simply place 1 tablet in the detergent tray and start a normal cycle with hot water. There’s no need to disassemble anything or scrub by hand. Once the cycle is complete you can rest assured your washer is bacteria-free.</p>
          </div>
         <div class="col-md-6 text-center" >
           
              <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
              
                <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
				<img  class="gif-holder-2 card-shadow-custom" >
				
				</div>
              </a>
            
          </div>
        </div>
		{% elsif product.id == 4773126570055 %}
		    <div class="row align-items-center justify-content-between">
         <div class="col-md-6" >
            <h2>Perfect for Problem Spots</h2>
            <p>Whether there’s a tough patch of dirt in an awkward place or a streak of grime that doesn’t want to come out, our cleaning wipes allow you to give the necessary attention to any problem areas with our patented formula infused in each tissue to ensure that any lingering filth quickly disintegrates with a few good scrubs.</p>
          </div>
         <div class="col-md-6 text-center" >
           
              <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
           
                <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
				<img  class="gif-holder-2 card-shadow-custom" >
				
				</div>
              </a>
         
          </div>
        </div>
		{%- else -%}
		    <div class="row align-items-center justify-content-between">
        <div class="col-md-6" >
            <h2>Convenient Use</h2>
            <p>Empty the washer, place 1 tablet and set the “clean washer” or “rinse+spin” cycle and wipe away any residues. No need to disassemble the washing machine. Enjoy a clean washer and bacteria-free laundry.</p>
          </div>
         <div class="col-md-6 text-center" >
           
              <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
           
                <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
				<img  class="gif-holder-2 card-shadow-custom" >
			
				</div>
              </a>
           
          </div>
        </div>
		{%- endif -%}
      </div>
    </div>
	<script>

$(window).on('load',function(){
$('.s-story4 ._w-video-egg-comp').css({'background-image': "url({{ 'S-Egg-Story-4.svg' | asset_url }})"});
{%- if product.id == 4773122080839  -%}
$('.gif-holder-2').attr('data-src',"{{ 'giphy3.gif' | asset_url }}");
$('.gif-holder-2').addClass('lazyload');
 {% elsif product.id == 4772860035143 %}    
  $('.gif-holder-2').attr('data-src',"{{ 'giphy4.gif' | asset_url }}");
 $('.gif-holder-2').addClass('lazyload')
 {%- else -%}
 $('.gif-holder-2').attr('data-src',"{{ 'video2_optimized.gif' | asset_url }}");
 $('.gif-holder-2').addClass('lazyload');
  {%- endif -%}

});

</script>
{% schema %}
{
  "name": "Inline info 5",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
