
<div id="product-guarantee-above-banner" class="my-4 py-4">
    <style>
	
	#product-guarantee-above-banner{
		padding-top: 5rem !important;
		padding-bottom: 7rem !important;
		margin-bottom: 5.5rem !important;
		background: #eef3f6;
	}

	#product-guarantee-above-banner .row{
		position: relative;
	}
	
	#product-guarantee-above-banner .container:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	
	#product-guarantee-above-banner p {
		font-size: 16px;
		line-height: 1.5;
	}

	.flex-column {
		-ms-flex-direction: column!important;
		flex-direction: column!important;
	}

	#product-guarantee-above-banner h3 {
		margin-top: 10px;
		font-size: 20px;
		line-height: 25px;
		text-transform: capitalize;
		font-weight: 700;
		color: #000;
	}

	#product-guarantee-above-banner .guarantee-badge-icon{
		position: relative;
	}

	.h-100 {
		height: 100%!important;
	}

	.m-auto {
		margin: auto!important;
	}

	#product-guarantee-above-banner .guarantee-badge-icon{ 
		text-align: center;
	}
	
	#product-guarantee-above-banner .icons-part{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#product-guarantee-above-banner .product__ingredients-icon-group{
		display: flex;
		align-items: flex-start;
		flex-wrap: nowrap;
		justify-content: center;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
	
	#product-guarantee-above-banner .product__ingredients-icon-item {
		width: 120px;
		text-align: center;
	}
	
	#product-guarantee-above-banner .product__ingredients-icon-item img {
		width: 120px;
		margin: 0 auto;
	}
	
	#product-guarantee-above-banner .s12 {
		font-size: 12px;
	}
	
	#product-guarantee-above-banner .s12-parrent{
		width: 60px;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.1;
	}
	
	#product-guarantee-above-banner h1 {
		font-size: 30px;
		font-weight: 600;
	}
	

	
	@media (min-width: 992px){
	
	#product-guarantee-above-banner p {
		font-size: 18px;
		line-height: 1.5;
	}
	
		#product-guarantee-above-banner h1 {
			font-size: 40px;
			font-weight: 600;
		}
	
		#product-guarantee-above-banner .product__ingredients-icon-group {
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			padding: 0;
			margin: 0;
		}

		#product-guarantee-above-banner .row{
			display: flex;
			
		}
		
		#product-guarantee-above-banner .guarantee-badge-icon{ 
			text-align: left;
		}
	}
	
		
    </style>
	
	<div class="container">
		<div class="row mx-0">
			<div class="col-12 col-md-7 guarantee-badge-icon">
				<div class="col-12 col-md-11 flex-column d-flex justify-content-center m-auto h-100">
				 <h1 class="pt-2 my-3" style="padding-top: 10px; padding-bottom:10px;">For People Who Read Labels</h1>
				
				  <p style="margin-bottom: 40px;">Made without any triclosan, parabens, phosphates, ammonia, chlorine bleach, phthalates, or VOCs. Certified Platinum Material Health by Cradle to Cradle, Leaping Bunny (cruelty free).
				  <br> <br>
				  All our products are 100% Non- Toxic, Eco-Friendly and Safe for you, your family and the environment.</p>

				</div>
			</div>
			<div class="col-12 col-md-5 icons-part" style="padding-left: 0; padding-right:0; position: relative;">

					<div class="product__ingredients-icon-group">
						<div class="product__ingredients-icon-item">
						  <img class="x lazyload" data-src="{{ 'ag-logo-1.png' | asset_url }}">
						
						</div>
					  
						<div class="product__ingredients-icon-item">
						  <img class="x lazyload" data-src="{{ 'ag-logo-2.png' | asset_url }}">
						  
						</div>
					  
						<div class="product__ingredients-icon-item">
						  <img class="x lazyload" data-src="{{ 'ag-logo-3.png' | asset_url }}">
						  
						</div>
					  
					</div>
			</div>
		</div>
		
	</div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
	  {
      "type": "text",
      "id": "navigation_email",
      "label": "Email",
      "default": "info@yourwebsite.com"
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Bar",
      "default": "#7796a8"
    }
  ]
}
{% endschema %}
