{%- assign product = all_products[settings.featured_product_global] -%}
{%- assign selected_variant = product.selected_or_first_available_variant -%}
 <style>
		#shopify-section-{{section.id}} .redbar{
			background: {{ section.settings.underline_bg }};
		}
		
	   
		
		#shopify-section-{{section.id}} .review-bg p{
		   color:{{ section.settings.text_bg }};
		}
		
		#shopify-section-{{section.id}} .button{
			background-color:{{ section.settings.btn_bg }};
			border: 1px solid {{ section.settings.btn_bg }};
			color: {{ section.settings.btn_text_bg }};
		}

    </style>
	 <!-- {% if section.settings.pf_image %} -->
		<!-- #shopify-section-{{section.id}}	.review-bg { -->
				<!-- background: url({{ section.settings.pf_image | img_url: 'master' }}) no-repeat center center; -->
				<!-- -webkit-background-size: cover; -->
				<!-- -moz-background-size: cover; -->
				<!-- -o-background-size: cover; -->
				<!-- background-size: cover; -->
			<!-- } -->
		<!-- {% endif %} -->
<div class="review-bg">

	<div class="container-fluid">

<div class="col-md-7">
		<h1 style="color: {{ section.settings.text_bg }};">{{section.settings.text_header}}</h1>

		<div class="redbar redbar-center">&nbsp;</div>


		<div class="col-md-10 col-md-offset-1">
		<p class="review-big">{{section.settings.text}}</p>

		<p>{{section.settings.text_author}}</p>

		</div><!-- / column -->

		<div class="center"> <div class="button btn-buy-product" data-id="{{selected_variant.id}}">{{section.settings.btn_text}} <i class="fa fa-caret-right" aria-hidden="true"></i></div></div>
		</div>
<div class="col-md-5">
{% if section.settings.pf_image %}
				<img src="{{ section.settings.pf_image | img_url: '800x800' }}" class="shadow" style="margin-top: 10%;">
			{% endif %}
			 <div class="clearfix"></div>
</div>
	</div><!-- / container -->

</div>

{% schema %}
{
  "name": "Customer Review Info",
  "settings": [
  {
      "type": "text",
          "id": "text_header",
          "label": "Header Text",
          "default": "Header Text"
    },
	 {
      "type": "text",
          "id": "text",
          "label": "Content text",
          "default": "Content text"
    },
	 {
      "type": "text",
          "id": "text_author",
          "label": "Author text",
          "default": "Author text"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#222"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
