{%- assign product = all_products[settings.featured_product_global] -%}
{%- assign selected_variant = product.selected_or_first_available_variant -%}
 <style>
		#shopify-section-{{section.id}} .redbar{
			background: {{ section.settings.underline_bg }};
		}
		#shopify-section-{{section.id}} .review-bg p{
		   color:{{ section.settings.text_bg }};
		}
		#shopify-section-{{section.id}} .button{
			background-color:{{ section.settings.btn_bg }};
			border: 1px solid {{ section.settings.btn_bg }};
			color: {{ section.settings.btn_text_bg }};
			float: none;
			margin-top: 40px;
		}
		#shopify-section-{{section.id}} p {
			font-size: 22px;
		}
		#shopify-section-{{section.id}} h2 {
		    line-height: 3rem;
			font-size: 20px;
		}
		.icon-table{
			padding-left: 10px;
			padding-right: 0;
			max-width: 65px;
		}
		.text-table{
			padding: 15px 0 15px 10px;
			font-size: 20px;
			align-self: center;
		}
		.row-table{
		}
		.cell-table{
			display: flex;
			/*padding: 25px 0;*/
			justify-content: center;
			 max-height: 130px;
          	align-items: center;
		}
		.cell-header{
			font-size: 32px;
		}
		#advatg {
			box-shadow: 0 10px 20px 0 rgba(31,31,92,0.12);
			border-radius: 14px;
		}
		#shopify-section-{{section.id}} h5 {
			color: #00953d;		
			font-weight: bold;	
		}
   		.image-12 {
          	margin-top: 0px;
    		margin-bottom: 0px;
        }
   		.heading-2 {
          	margin-top: 0px;
    		line-height: 30px;
        }
        .fixed_s-review_bg {
            margin-bottom: 40px;
        }
   	
		@media screen and (min-width: 768px){
			#shopify-section-{{section.id}} h2 {
			    line-height: 4rem;
				font-size: 30px;
			}
			#advatg{
				box-shadow: none;
				border-radius: 0;
			}
			.row-table {
				border-bottom: 1px solid #a3bac6;
			}
		}
        @media screen and (max-width: 991px) {
          .fixed_s-review_bg {
              margin-bottom: 20px;
          }
        }	
		@media screen and (max-width: 768px){
			.cell-table {
				padding: 5px 0;
				 max-height: 95px; 
				/* min-height: 95px; */
			}
			.icon-table {
				max-width: 32px;
			}
			.text-table{
				font-size: 13px;
			}
			.cell-header{
				font-size: 14px;
			}
		}
  		@media screen and (max-width: 479px) {
          .image-12 {
             width: 40vw;
             height: 8vw;
          }
          h3.heading-2 {
             font-size: 24px;
          }
          .icon-table.image-11 {
              margin-right: 0px;
          }
        }
    </style>

<div class="fixed_s-review_bg review-bg">
	<div class="container">
	  {%- if product.id == 4773122080839  -%}
		<div class="col-sm-12 col-md-12" style="padding:0; margin-top: 20px;">
			<div class="col-md-9" id="advatg" style="padding:0; margin-bottom: 25px; float:none; margin-left: auto; margin-right: auto;">
              <div class="row row-table" >
                 <div class="col-xs-6 cell-table cell-header" style="padding: 20px 0;">
                   <img data-src="//cdn.shopify.com/s/files/1/0084/0105/9911/t/3/assets/ww-logo-blue.png?v=13109993009898199844" alt="" class="image-12 ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0084/0105/9911/t/3/assets/ww-logo-blue.png?v=13109993009898199844">
                </div>
                 <div class="col-xs-6 cell-table cell-header" style="border-left: 1px solid #a3bac6;padding: 20px 0;">
                   <h3 class="heading-2">Alternatives</h3>
                </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Antibacterial Silicone</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Traps germs,odours and bacteria</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Can Last for Years</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;" >
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Only Lasts a Few Weeks</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Scrubs, scrapes and squeegees</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">One or two uses</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Easy on Delicate Pots & Pans</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Damages your cookware</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Ergonomic Grip for Easy Use</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Difficult to use effectively</div>
                  </div>
              </div>
		  </div>
		</div>
	  {% elsif product.id == 4772860035143 %}
      	<div class="col-sm-12 col-md-12" style="padding:0; margin-top: 20px;">
			<div class="col-md-9" id="advatg" style="padding:0; margin-bottom: 25px; float:none; margin-left: auto; margin-right: auto;">
              <div class="row row-table" >
                 <div class="col-xs-6 cell-table cell-header" style="padding: 20px 0;">
                   <img data-src="//cdn.shopify.com/s/files/1/0084/0105/9911/t/3/assets/ww-logo-blue.png?v=13109993009898199844" alt="" class="image-12 ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0084/0105/9911/t/3/assets/ww-logo-blue.png?v=13109993009898199844">
                </div>
                 <div class="col-xs-6 cell-table cell-header" style="border-left: 1px solid #a3bac6;padding: 20px 0;">
                   <h3 class="heading-2">Alternatives</h3>
                </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Hands-Off Solution</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Have to Scrub by Hand</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Gets Rid of Food Residue &amp; Mold</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;" >
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Don’t Fully Clean Your Dishwasher</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Leaves No Trace Behind</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Leave an Unattractive Film Behind</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Removes 99.9% of bacteria</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Not Anti-Bacterial</div>
                  </div>
              </div>
		  </div>
		</div>
	  {%- else -%}
      	<div class="col-sm-12 col-md-12" style="padding:0; margin-top: 20px;">
			<div class="col-md-9" id="advatg" style="padding:0; margin-bottom: 25px; float:none; margin-left: auto; margin-right: auto;">
              <div class="row row-table" >
                 <div class="col-xs-6 cell-table cell-header" style="padding: 20px 0;">
                   <img data-src="//cdn.shopify.com/s/files/1/0084/0105/9911/t/3/assets/ww-logo-blue.png?v=13109993009898199844" alt="" class="image-12 ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0084/0105/9911/t/3/assets/ww-logo-blue.png?v=13109993009898199844">
                </div>
                 <div class="col-xs-6 cell-table cell-header" style="border-left: 1px solid #a3bac6;padding: 20px 0;">
                   <h3 class="heading-2">Alternatives</h3>
                </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Hands-Off Solution</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Getting Our Hands Dirty</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Will Break Up Residue &amp; Dirt</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;" >
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Doesn’t Fully Clean the Washer</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Leaves No Trace Behind</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Can Leave a Film of Plastic</div>
                  </div>
              </div>

              <div class="row row-table">
                  <div class="col-xs-6 cell-table">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Check.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Removes 99.9% of bacteria</div>
                  </div>
                  <div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6;">
                      <img class="col-xs-3 icon-table lazyload image-11" data-src="{{ 'S-VS-Cross.svg' | asset_url }}"  alt="">
                      <div class="col-xs-9 text-table">Not anti-bacterial</div>
                  </div>
              </div>
		  </div>
		</div>
      {%- endif -%}
      
		<div class=" text-center marginbtn" >
			<div class="col-sm-6 button2 btn-buy-product" style="float: none;">ADD TO CART</div>
	</div>
	</div>
	
</div>



{% schema %}
{
  "name": "Customer Review Info",
  "settings": [
  {
      "type": "text",
          "id": "text_header",
          "label": "Header Text",
          "default": "Header Text"
    },
	 {
      "type": "text",
          "id": "text",
          "label": "Content text",
          "default": "Content text"
    },
	 {
      "type": "text",
          "id": "text_author",
          "label": "Author text",
          "default": "Author text"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#222"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
