

	<div class="s-story2">
<div class="s-story1" style="background: transparent; outline: none;">
       <div class="container-lg">
	 
	{%- if product.id == 4773122080839  -%}

         <div class="row align-items-center justify-content-between mb-4  ">
            <div class="col-md-6 ">
                <h2 class="h1">Banish Germs from your kitchen for good</h2>
                <p>When you replace your regular kitchen sponges with a Wash Warrior™ Smart Scrubber you’ll banish the bacteria from your kitchen sponge for good.
			Plus, it’s proven and tested silicone material makes it impossible for germs and bacteria to thrive, even if you use them for too long or leave them sitting wet on your sink or countertop.
			Unlike other scrubs, it’s ergonomic shape provides an easy grip and three different functions including a scrubber, scraper, and a squeegee all-in-one.
			It even has a compartment to dispense soap, so you don’t have to constantly pour cleaning detergent while washing — very convenient!
			Oh, and did we mention that each side of the scrub has hundreds of super-soft bristles that effectively cleans tough stains without scratching your dishes or delicate glassware? 
			With Wash Warrior™ Smart Scrubber, all your dishes will be spotlessly clean and free from germs and bacteria in just a few scrubs. It’s that easy!</p>
            </div>
      
			 <div class="col-md-6 text-center">
    
		  <img data-src="{{ 'ever4.jpg' | asset_url }}" alt="" class="image-6 card-shadow-custom lazyload">
      
            </div>
			 
        </div>
       <div class="row align-items-center justify-content-center pt-4">
	     <div class="col-md-6 my-4">
    
		  <img data-src="{{ 'ever3.jpg' | asset_url }}"   alt="" class="image-6 card-shadow-custom lazyload">
      
            </div>
			 <div class="col-md-6">
            <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '1.svg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Multi-Function</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '2.svg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Bacteria & Odor Resistant</h3>
                   
                </div>
            </div>
                <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '3.svg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Non-Porous</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '4.svg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Non-Abrasive</h3>
                   
                </div>
            </div>
               <div class="d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '5.svg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Hygienic</h3>
                   
                </div>
            </div>
          
        </div>
		  
          
			

        </div>


     
	  {% elsif product.id == 4772860035143 %}
	    

        <div class="row align-items-center justify-content-center mb-4 ">
            <div class="col-md-6 ">
                <h2 class="h1">Powerful Decontaminating Cleaner</h2>
                <p>Improve your dishwasher’s performance and efficiency without damage. Our <strong>anti-bacterial</strong> Wash Warrior™ tablets are easy to use, more powerful than any other cleaner, and quickly destroy any odor and disease-causing residues.</p>
            </div>
      
			 <div class="col-md-6 text-center">
    
		  <img data-src="{{ 'Story2_dish.jpg' | asset_url }}"  alt="" class="image-6 card-shadow-custom lazyload">
      
            </div>
			 
        </div>
        <div class="row align-items-center justify-content-center pt-4">
		<div class="col-md-6 my-4">
    
		  <img data-src="{{ 'wash_dish_3.jpg' | asset_url }}"  alt="" class="image-6 card-shadow-custom lazyload">
      
            </div>
			 <div class="col-md-6">
            <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '1_dish.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Perfect for All Dishwashers</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '2_dish.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Tough On<br>Lime and Mineral Deposits</h3>
                   
                </div>
            </div>
                <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '3.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Triple Active Oxygen Decontamination</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '4.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Removes 99.9% of Bacteria</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '5.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Removes Pathogens in less than 20 Mins</h3>
                   
                </div>
            </div>
            </div>
          
      
			 
			 
        </div>
		
{% elsif product.id == 4773126570055 %}
  
        <div class="row align-items-center justify-content-center mb-4 ">
            <div class="col-md-6 ">
                <h2 class="h1">Ultra-Effective Cleansing Solution</h2>
                <p>Wash Warrior’s decontaminating formula isolates mold, bacteria, and grimy residue more efficiently than other washing machine cleaners and ensures that your laundry comes out looking and smelling pristine. And now, our patented solution comes in a format that gives you complete control of your washer’s cleanliness.</p>
          </div>
      
		
			 <div class="col-md-6 text-center">
    
		  <img data-src="{{ 'giphy33.gif' | asset_url }}"   alt="" class="image-6 card-shadow-custom lazyload">
      
            </div>
			 
        </div>
     <div class="row align-items-center justify-content-center pt-4">
	 	 <div class="col-md-6 my-4">
    
		  <img data-src="{{ 'wash_warrior_3.jpg' | asset_url }}"  alt="" class="image-6 card-shadow-custom lazyload">
      
            </div>
			 <div class="col-md-6">
            <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '1.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Perfect for All Washers</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '2.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Tough On<br>Dirt/Residue</h3>
                   
                </div>
            </div>
                <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '3.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Triple Active Oxygen Decontamination</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '4.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Removes 99.9% of Bacteria</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '5.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Removes Pathogens in less than 20 Mins</h3>
                   
                </div>
            </div>
            </div>
          
       
           
		
			 
        </div>
	
	  {%- else -%}
   
        <div class="row align-items-center justify-content-center mb-4 ">
            <div class="col-md-6 ">
                <h2 class="h1">Powerful Decontaminating Cleaner</h2>
                <p>Improve washing efficiency without damage. Our <strong>antibacterial</strong> Wash Warrior™ tablets are easy to use, more powerful than any other cleaner, and quickly destroy any odor and bacteria causing residues.</p>
  </div>
       
			
			 <div class="col-md-6 text-center">
    
		  <img data-src="{{ 'giphy33.gif' | asset_url }}"  alt="" class="image-6 card-shadow-custom lazyload">
      
            </div>
			 
        </div>
        <div class="row align-items-center justify-content-center pt-4">
			 <div class="col-md-6 my-4">
    
		  <img data-src="{{ 'wash_warrior_3.jpg' | asset_url }}"  alt="" class="image-6 card-shadow-custom lazyload">
      
            </div>
		<div class="col-md-6">
            <div class="d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '1.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Perfect for All Washers</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '2.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Tough On<br>Dirt/Residue</h3>
                   
                </div>
            </div>
                <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '3.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Triple Active Oxygen Decontamination</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '4.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Removes 99.9% of Bacteria</h3>
                   
                </div>
            </div>
               <div class=" d-flex mb-3 align-items-center" >
                <div>
				  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '5.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
             
                </div>
                <div>
                    <h3 class="font-size-18 ml-3 mb-2">Removes Pathogens in less than 20 Mins</h3>
                   
                </div>
            </div>
          
        </div>
       
		
           
		
			 
        </div>
 
	  {%- endif -%}
  
    </div>
    </div>
    </div>

{% schema %}
{
  "name": "Inline info",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
