
<div id="product-guarantee-banner" class="my-4 py-4">
    <style>
	
	#product-guarantee-banner{
padding-top: 2.5rem !important;
padding-bottom: 2.5rem !important;
margin-bottom: 5.5rem !important;
}

	#product-guarantee-banner .row{
		background-color: rgb(248, 248, 248);
		box-shadow: 0 20px 30px 0 rgba(31,31,92,0.12);
		    position: relative;
	}
	
	#product-guarantee-banner .container:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	
	#product-guarantee-banner p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

#product-guarantee-banner h3 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    font-weight: 700;
    color: #000;
}

	#product-guarantee-banner .guarantee-badge-icon{
		position: relative;
	}

	#product-guarantee-banner .guarantee-badge-icon:before{
		content: '';
		width: 40px;
		height: 40px;
		position: absolute;
		left: -4px;
		top: -10px;
		background: url('{{"Guarantee.svg" | asset_url}}') no-repeat;
		background-position: center;
	    background-size: cover;
		z-index: 999999;
	}
	
	.h-100 {
    height: 100%!important;
}

.m-auto {
    margin: auto!important;
}
	
	@media (max-width: 768px){
		#product-guarantee-banner .guarantee-badge-icon:before{
			top: -1px;
		}
	}
	
	@media (min-width: 992px){
	
	
		
			#product-guarantee-banner .row{
			display: flex;
	}
	}
	
		
    </style>
	

	<div class="container">
		<div class="row mx-0">
			<div class="col-12 col-md-5 guarantee-badge-icon">
				<div class="col-12 col-md-12 flex-column d-flex justify-content-center m-auto h-100">
				 <h3 class="text-center pt-2 my-3" style="padding-top: 10px; padding-bottom:10px;">Deep Cleaning Guarantee</h3>
				
				  <p style="margin-bottom: 20px;">At Wash Warrior, we have great confidence in our products. With that said, we know that some appliances are different, and we want to take that into account.
				  <br> <br>
				  This means, if you don't get the desired results with our products, you will get your money back!</p>

				</div>
			</div>
			<div class="col-12 col-md-7 " style="padding-left: 0; padding-right:0;">
				<img class="w-100 lazyload" style="object-fit: cover; max-height: 280px;" data-src="{{'growth-guarantee.jpg' | asset_url}}" >
			</div>
		</div>
		
	</div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
	  {
      "type": "text",
      "id": "navigation_email",
      "label": "Email",
      "default": "info@yourwebsite.com"
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Bar",
      "default": "#7796a8"
    }
  ]
}
{% endschema %}
