{% comment %}
<style>
  ._w-video-egg-comp.story4 {
      background-image: linear-gradient( 180deg, #10518dcc, #10518dcc), url(//cdn.shopify.com/s/files/1/0084/0105/9911/t/3/assets/S-Egg-Story1.svg?v=1728979…);
  }  
</style>
{% endcomment %}
{% assign abtest = product.metafields.my_fields.a_b_test_switch %}
{% unless product.id == 7004495872196 and abtest %}
  <div class="s-steps">
      <div class="cont _1240 w-container">
      {%- if product.id == 4773122080839  -%}
            <style>
              .card-step._1{
                  top: -10%;
              }
              .card-step._3{
                  bottom: -29%;
              }
              </style>
            <div class="w-layout-grid grid steps">
              <div class="block rel" >
                <div class="_w-video-egg-comp story4">
                  <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
                    <!--<div class="_w-bubble s1-large"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                    <div class="_w-bubble s1-medium"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                    <div class="_w-bubble s1-small"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>-->
                    <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
                    <img  class="gif-holder-2" style="border-radius: 100%;max-width: 110%;">
                    <!-- <video autoplay="" loop=""  muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover" muted  playsinline autoplay loop> -->
                    <!-- <source src="{{ 'video2.mp4' | asset_url }}" data-wf-ignore="true"></video> -->
                    </div>
                  </a>
                </div>
              </div>
              <div id="w-node-db6c650a3592-5d1eaee6" class="block first" >
                  <h2>Scrubber</h2>
                      <p>Built with two types of bristles including short bristles for stubborn messes and longer bristles for delicate dishes and glassware.</p>

                      <br><br>
                      <h2>Scraper</h2>
                      <p>Effortlessly scrape hardened stains from the surface of pots, pans, and other kitchenware.</p>
                  </div>
            </div>
      {% elsif product.id == 4772860035143 %}
        <div class="w-layout-grid grid steps">
              <div class="block rel" >
                <div class="_w-video-egg-comp story4">
                  <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
                    <!--<div class="_w-bubble s1-large"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                    <div class="_w-bubble s1-medium"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                    <div class="_w-bubble s1-small"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>-->
                    <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
                    <img  class="gif-holder-2" style="border-radius: 100%;">
                    <!-- <video autoplay="" loop=""  muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover" muted  playsinline autoplay loop> -->
                    <!-- <source src="{{ 'video2.mp4' | asset_url }}" data-wf-ignore="true"></video> -->
                    </div>
                  </a>
                </div>
              </div>
              <div id="w-node-db6c650a3592-5d1eaee6" class="block first" >
                  <h2>Powerful Deep Cleaning</h2>
                  <p>Smaller and thinner tablets mean you’ll be able to powerfully penetrate, dissolve. Wash Warrior breakdowns mineral deposits, food build-up, and mold.</p>
          <br><br>
          <h2>Removes Bacteria</h2>
                  <p>Our patented <strong>Wash Warrior™ Dishwasher Cleaner</strong> removes 99.9% of bacteria and other pathogens in less than 20 minutes. With a 1:100 product to water dilution ratio, it effectively cleans and purifies, keeping your dishwasher looking and smelling fresh.</p>
              </div>
          </div>
      {% elsif product.id == 4773126570055 %}
            <style>
            .card-step._3{
                bottom:-4%;
            }
            </style>
            <div class="w-layout-grid grid steps">
                <div class="block rel" >
                  <div class="_w-video-egg-comp story4">
                    <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
                      <!--<div class="_w-bubble s1-large"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                      <div class="_w-bubble s1-medium"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                      <div class="_w-bubble s1-small"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>-->
                      <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
                      <img  class="gif-holder-2" style="border-radius: 100%;">
                      <!-- <video autoplay="" loop=""  muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover" muted  playsinline autoplay loop> -->
                      <!-- <source src="{{ 'video2.mp4' | asset_url }}" data-wf-ignore="true"></video> -->
                      </div>
                    </a>
                  </div>
                </div>
                <div id="w-node-db6c650a3592-5d1eaee6" class="block first" >
                    <h2>Long-Lasting Cleanliness</h2>
                    <p>These wipes don’t just leave your washing machine looking and working like new - they also prevent new grime and bacteria from accumulating for up to 5 consecutive washes! You can enjoy peace of mind after each scrubbing and trust that your clothes will come out in great condition for several washes at a time.</p>
                    <br>
                    <h2>User-Friendly Anti-Bacterial Wipes</h2>
                    <p>Our formula ensures that while you can easily scrub away 99.9% of bacteria residing in your washing machine, your clothes will be safe from any adverse effects and your hands will benefit from the delicate and irritant-free softness of our cleaning wipes.</p>
                </div>
            </div>
      {%- else -%}
        <div class="w-layout-grid grid steps">
              <div class="block rel" >
                <div class="_w-video-egg-comp story4">
                  <a  target="_blank" class="_w-video-bg w-inline-block btn-buy-product">
                    <!--<div class="_w-bubble s1-large"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                    <div class="_w-bubble s1-medium"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                    <div class="_w-bubble s1-small"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>-->
                    <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
                    <img  class="gif-holder-2" style="border-radius: 100%;">
                    <!-- <video autoplay="" loop=""  muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover" muted  playsinline autoplay loop> -->
                    <!-- <source src="{{ 'video2.mp4' | asset_url }}" data-wf-ignore="true"></video> -->
                    </div>
                  </a>
                </div>
              </div>
              <div id="w-node-db6c650a3592-5d1eaee6" class="block first" >
                  <h2>Powerful Deep Cleaning</h2>
                  <p>These tablets are smaller and thinner than regular tablets, allowing them to powerfully penetrate, dissolve, and break down blocked up mold and residue.</p>
          <br><br>
          <h2>Removes Bacteria</h2>
                  <p>Our patented Wash Warrior™ Washing Machine Cleaner removes 99.9% of bacteria and other pathogens in less than 20 minutes. With a 1:100 product to water dilution ratio, it effectively cleans and purifies, keeping the washing machine cleaner and fresher.</p>
              </div>
          </div>
      {%- endif -%}
      </div>
      <div class="_w-bean"><img data-src="{{ 'S-Steps-Bean.svg' | asset_url }}" alt="" class="image-14 lazyload" /></div>
  </div>
{% endunless %}


<script>
  $(window).on('load',function(){
      {%- if product.id == 4773122080839  -%}
        $('.gif-holder-2').attr('data-src',"{{ 'giphy3.gif' | asset_url }}");
        $('.gif-holder-2').addClass('lazyload');
      {% elsif product.id == 4772860035143 %}    
        $('.gif-holder-2').attr('data-src',"{{ 'giphy4.gif' | asset_url }}");
        $('.gif-holder-2').addClass('lazyload')
      {%- else -%}
        $('.gif-holder-2').attr('data-src',"{{ 'video2_optimized.gif' | asset_url }}");
        $('.gif-holder-2').addClass('lazyload');
      {%- endif -%}
  });
</script>

{% comment %}
	<!--`$('.s-story4 ._w-video-egg-comp').css({'background-image': "url({{ 'S-Egg-Story-4.svg' | asset_url }})"});`-->
{% endcomment %}

{% schema %}
{
  "name": "Inline info 6",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
