<style>
  #shopify-section-{{section.id}} 
  {
    outline: none;
  }
._w-video,
._w-video:hover	{   
	background-size: cover;
	background-repeat: no-repeat;
}
._w-video_scrubb,
._w-video_scrubb:hover,
._w-video_dish,
._w-video_dish:hover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 0px;
}

a._w-video.w-inline-block.w-lightbox.btn-buy-product.lazyloaded {
    background: #eefcff;
    border-radius: 30px;
    box-shadow: 0 20px 30px 0 rgb(31 31 92 / 12%);
}
</style>

{% assign abtest = product.metafields.my_fields.a_b_test_switch %}
{% if product.id == 7004495872196 and abtest %}
<style>
  .s-story1 {
    padding-bottom: 50px;
  }
  .bdrs-20 {
    border-radius: 20px;
  }
  @media screen and (max-width: 767px) {
    .s-story1 {
      padding-bottom: 30px;
    }
  }
</style>
{% endif %}
	<div class="s-story1" style="outline: none;">
      <div class="cont _1240 w-container">
	  
	  {%- if product.id == 4773122080839  -%}
        <div class="w-layout-grid grid story-1">
          <div class="block">
            <h2 class="heading-5">Do You Know What's Hiding in Your Sponge??</h2>
            <p>New studies show that the type of bacteria that live in regular sponges include pathogens that cause Typhoid fever, e coli and food poisoning...and they even hold on to more germs than your toilet bowl...</p>
            <br>
			<p>What’s more troublesome is that most of these regular sponges aren’t tough enough to break up grime on pans, pots, and other kitchenware.</p>
			<br>
			<p>So you’re stuck putting in more effort scrubbing your dishes trying to get off the tough gunk!</p>
			<br>
			<p>But here’s the worst part…</p>
          </div>
          <div id="w-node-0e3fe59fd215-5d1eaee6" class="block first" >
            <div class="_w-video-egg-comp lazyload">
              <a  class="_w-video _w-video_scrubb lazyload w-inline-block w-lightbox btn-buy-product" >
				<div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
				
					<img class="_w-video-gif-img" style="border-radius: 7%;">
                </div>
                <!--<div class="_w-bubble s1-large"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                <div class="_w-bubble s1-medium"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                <div class="_w-bubble s1-small"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>-->
				<!-- <img src="{{ 'S-Play-Button.svg' | asset_url }}" alt="" class="image-5"> -->
                <!-- <div class="text-block-4">Watch Review</div> -->
              </a>
            </div>
          </div>
          <div id="w-node-0e3fe59fd221-5d1eaee6" class="block" >
		  <a  target="_blank" class="w-inline-block btn-buy-product">
			<img data-src="{{ '0_I-Sotry2.jpg' | asset_url }}" data-w-id="6a873abb-c067-d270-17bf-0e3fe59fd222" style="-webkit-align-self: center; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center;" alt="" class="image-4 lazyload"></a></div>
          <div id="w-node-0e3fe59fd223-5d1eaee6" class="block">
             <h2 class="heading-5">You Could be Transferring Bacteria to Your Dishes Without Even Realizing it!</h2>
              <p>Without a properly cleaned sponge, all that bacteria could be passed on to your next meal — yikes!</p>
              <br>
              <p>Now ask yourself, when was the last time you got a new sponge?</p>
                 <br>
              <p>One that wouldn’t be crawling with harmful germs and bacteria that are dangerous to you and your family?</p>
              <br>
              <p>The good news is, we’ve got the right solution for you.</p>
		  </div>
        </div>
		{% elsif product.id == 4772860035143 %}
		      <div class="w-layout-grid grid story-1">
          <div class="block">
            <h2 class="heading-5">You’ll Be Shocked by the Disgusting Mold & Bacteria Hiding in Your Dishwasher</h2>
            <p>You put your dishes in the dishwasher to clean and disinfect them, but what if I told you your washer is actually making your plates even dirtier than they were before?</p>
            <br>
			<p>Over time, lime and mineral deposits build up inside your dishwasher, causing foul odors and reducing its ability to properly clean your dishes.</p>
			<br>
			<p>Even worse, food and grease particles can get stuck inside, <strong>leading to harmful bacteria, mold, and fungus.</strong></p>
			<br>
			<p>In fact, <strong>studies have linked dishwashers to several fungal infections that are especially dangerous for those who are immune-compromised.</strong></p>
          </div>
          <div id="w-node-0e3fe59fd215-5d1eaee6" class="block first" >
            <div class="_w-video-egg-comp lazyload">
              <a  class="_w-video _w-video_dish lazyload w-inline-block w-lightbox btn-buy-product" >
				<div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
				
					<img class="_w-video-gif-img" style="border-radius: 7%;">
                </div>
				 
                <!--<div class="_w-bubble s1-large"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                <div class="_w-bubble s1-medium"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                <div class="_w-bubble s1-small"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>-->
				<!-- <img src="{{ 'S-Play-Button.svg' | asset_url }}" alt="" class="image-5"> -->
                <!-- <div class="text-block-4">Watch Review</div> -->
              </a>
            </div>
          </div>
          <div id="w-node-0e3fe59fd221-5d1eaee6" class="block" >
		  <a  target="_blank" class="w-inline-block btn-buy-product">
			<img data-src="{{ '0_I-Sotry1_dish.jpg' | asset_url }}" data-w-id="6a873abb-c067-d270-17bf-0e3fe59fd222" style="-webkit-align-self: center; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center;" alt="" class="image-4 lazyload"></a></div>
          <div id="w-node-0e3fe59fd223-5d1eaee6" class="block">
		   <h2 class="heading-5">You Could Be Soaking Your Dishes in Nasty Bacteria</h2>
            <p>All this build-up inside your dishwasher means that old food, bacteria, mold, and fungus will end up all over your dishes the next time you run your dishwasher.</p>
            <br>
			<p>You might think your plates are clean after you’re finished washing them, but they’re actually teeming with germs that could be passed onto you during your next meal.</p>
			   <br>
		    <p>DIY remedies might claim to solve the problem, but none of these are strong enough to completely eradicate all the dangerous microbes currently residing inside your dishwasher.</p>
		    <br>
			<p>That’s why many people are turning to <strong>Wash Warrior’s™ Dishwasher Cleaner</strong> to solve the problem.</p>
			</div>
        </div>
		{% elsif product.id == 4773126570055 %}
		  <div class="w-layout-grid grid story-1">
          <div class="block">
            <h2 class="heading-5">NEW Eco-Friendly ‘Chemical’ Reveals and Removes Moldy Buildup in Your Washer</h2>
            <p>We trust our washing machines to return our clothes to us clean and smelling great . . . but what happens when dirt and grime are hiding inside?</p>
            <br>
          
			<p>Taking out your favorite outfits and finding them moldy with a lingering stench is incredibly frustrating and disappointing.</p>
          </div>
          <div id="w-node-0e3fe59fd215-5d1eaee6" class="block first" >
            <div class="_w-video-egg-comp lazyload">
              <a  class="_w-video w-inline-block lazyload w-lightbox btn-buy-product" >
				<div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
				
					<img class="_w-video-gif-img" style="border-radius: 7%;">
                </div>
                
                <!--<div class="_w-bubble s1-large"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                <div class="_w-bubble s1-medium"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                <div class="_w-bubble s1-small"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>-->
				<!-- <img src="{{ 'S-Play-Button.svg' | asset_url }}" alt="" class="image-5"> -->
                <!-- <div class="text-block-4">Watch Review</div> -->
              </a>
            </div>
          </div>
          <div id="w-node-0e3fe59fd221-5d1eaee6" class="block" >
		  <a  target="_blank" class="w-inline-block btn-buy-product">
			<img data-src="{{ '0_I-Sotry1.jpg' | asset_url }}" data-w-id="6a873abb-c067-d270-17bf-0e3fe59fd222"  alt="" class="image-4 lazyload"></a></div>
          <div id="w-node-0e3fe59fd223-5d1eaee6" class="block">
            <p>Many people assume that regularly running wash cycles with bleach and soap is enough to keep their machines clean, but that’s not the case. In fact, some experts have found that the rubber seal and detergent compartment are perfect sites for bacterial growth.
			<br><br>
			When people learn this, many of them try to put together homemade solutions to keep their washing machines clean, but most of these options don’t have the chemicals needed to break down the grime, dirt, and bacteria that builds up over time. When it comes to effectiveness, <strong>Wash Warrior’s triple Active Oxygen Decontamination Complex</strong> is the highest quality formula for those who want to have clean and fresh-smelling clothes that are healthy to wear.</p>
          </div>
        </div>
		 
		{%- else  -%}
    <div class="w-layout-grid grid story-1">
      <div class="block">
        <h2 class="heading-5">Shocking Evidence of Nasty Grime Lurking In Our Washers</h2>
        <p>Most people believe that soap and water in our washing machine keeps clothes clean...but what they don’t realize is that <strong>there is disgusting bacteria, mold, dirt & grime buildup that go unseen and leave clothes stinking.</strong></p>
        <br>
      
        <p>In fact according to experts, the rate of <strong>bacteria counts exceeding the standard for household washing machines is as high as 81.3%</strong></p>
      </div>
      <div id="w-node-0e3fe59fd215-5d1eaee6" class="block first" >
        <div class="_w-video-egg-comp lazyload">
          <a  class="_w-video w-inline-block lazyload w-lightbox btn-buy-product" >		
            <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">

              <img class="_w-video-gif-img" >
            </div>
      
            <!--<div class="_w-bubble s1-large"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
            <div class="_w-bubble s1-medium"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
            <div class="_w-bubble s1-small"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>-->
              <!-- <img src="{{ 'S-Play-Button.svg' | asset_url }}" alt="" class="image-5"> -->
            <!-- <div class="text-block-4">Watch Review</div> -->
          </a>
        </div>
      </div>
      <div id="w-node-0e3fe59fd221-5d1eaee6" class="block" >
        {% unless product.id == 7004495872196 and abtest %}
        <a  target="_blank" class="w-inline-block btn-buy-product">
        <img data-src="{{ '0_I-Sotry1.jpg' | asset_url }}" data-w-id="6a873abb-c067-d270-17bf-0e3fe59fd222"  alt="" class="image-4 lazyload">
        </a>
        {% endunless %}
      </div>
      {% if product.id == 7004495872196 and abtest %}
    	<div>
        	<a  target="_blank" class="w-block btn-buy-product">
          	<img data-src="{{ '0_I-Sotry1.jpg' | asset_url }}" data-w-id="6a873abb-c067-d270-17bf-0e3fe59fd222"  alt="" class="image-4 hidden-tablet-and-up lazyload">
          	{% if product.id == 7004495872196 and abtest %}
          	<img data-src="{{ '0_I-Sotry1-DT.png' | asset_url }}" data-w-id="6a873abb-c067-d270-17bf-0e3fe59fd222"  alt="" class="hidden-phone bdrs-20 lazyload"></a>
    	</div>
          {% endif %}
          </a>
      	</div>
    	{% endif %}
          {% unless product.id == 7004495872196 and abtest %}
            <div id="w-node-0e3fe59fd223-5d1eaee6" class="block">
              <p>Some people even think that bleach is enough to guarantee a clean washing machine, but bleach does nothing with all the dirt and residue that’s hiding deep inside our washing machine.
              <br><br>
                Some will resort to changing their detergent or fabric softener thinking it will combat buildup, but that is not the case, since those aren’t powerful enough to disintegrate dirt, mold, grime, build up and most importantly remove bacteria. And, even these “so-called” home remedies are useless such as vinegar and baking soda, nothing comes close to <strong>Wash Warrior’s triple Active Oxygen Decontamination Complex.</strong></p>
            </div>
          {% endunless %}
        </div>
		{%- endif -%}
       </div>    
		
		{% unless product.id == 7004495872196 and abtest %}
      	<div class=" text-center marginbtn" >
        	<div class="col-sm-6 button2 btn-buy-product" style="float: none;">ADD TO CART
          	</div>
      	</div>
    	{% endunless %}
      </div>
	  
    </div>
	

<script>
$(window).on('load',function(){
 $('.s-story1 ._w-video ._w-video-gif-img').attr('data-src',"{{'giphy0.gif' | asset_url}}");
 $('.s-story1 ._w-video_scrubb ._w-video-gif-img').attr('data-src',"{{'1_48dbba18-df8b-439a-8f1b-b18b58fadbf3_large.gif' | asset_url}}");
 $('.s-story1 ._w-video_dish ._w-video-gif-img').attr('data-src',"{{'dishwasher_video.gif' | asset_url}})");
	$('.s-story1 ._w-video-gif-img').addClass('lazyload');
});
</script>

{% schema %}
{
  "name": "Header Block Info",
  "settings": [
  {
      "type": "text",
          "id": "text_header",
          "label": "Header Text",
          "default": "Header Text"
    },
	{
      "type": "image_picker",
      "id": "icon_image",
      "label":"Icon image"
    },
	{
      "type": "text",
          "id": "text_header_2",
          "label": "Header Text 2",
          "default": "Header Text 2"
    },	
	{
      "type": "image_picker",
      "id": "side_image",
      "label":"Side image"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "list_text_bg",
        "label": "List Text color",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    }
  ]
}
{% endschema %}
