<div id="fixed_teeth_3">

	<div  class="container text-center">

	<div class="row featurette">
	<div class="col-md-6 " style="margin-top: 40px;">
          <h3 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h3>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
	 <div class="col-md-6 ">
          <img class="featurette-image img-responsive center-block lazyload" data-src="{{ 'teethkit.png' | asset_url }}" >
        </div>
        
       
      </div>
	<hr class="featurette-divider">
	</div>
</div>

{% schema %}
{
  "name": "Inline teeth 1"
}
{% endschema %}
