 
<header id="header">
   <style>

		#shopify-section-{{section.id}} .top-bar {
        
    border-bottom: 3px solid #50b3da;
    border-top: 1px solid #E5E9EF;
    min-height: 60px;
    background: #ffffff;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030000;
	
        }
		
		#shopify-section-{{section.id}} .buttons-block {
			float: left;
			display: none;
        }
		
		#shopify-section-{{section.id}} .buttons-block span{
			    color: #838E95 !important;
			cursor: pointer;
        }
		
		#shopify-section-{{section.id}} .buttons-block span:hover{
		    color: #838E95 !important;
        }


		body {
		  overscroll-behavior-y: none;
		}
		
		#shopify-section-{{section.id}} a{
          text-decoration: none;
        }
		
		@media only screen and (max-width: 767px){
		#shopify-section-{{section.id}} *{
			    font-size: 12px;
		}
		}
		@media only screen and (min-width: 768px){
		#shopify-section-{{section.id}} .buttons-block{
			display: block;
		}
	}
			
    </style>
  
 
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-5 ">
                    <a href="/pages/washwarrior" title="logo">
					
						<img class="logo lazyload" data-src="{{ 'ww-logo-blue.png' | asset_url  }}" alt="logo">
					

					</a>
                </div>
                <!-- / column -->
				
				<div class="col-md-9 col-sm-8 col-7 py-2 float-right text-right contact-block" style="white-space: nowrap;">
				
				 
				 {% if template == 'page.dishwasher-home' %}
   <span class="buttons-block"> <a href="/pages/washwarrior?parentHome=parentHome" style="color: #3567e7 ;" ><span class="mr-4 ">Laundry Appliances</span></a>
				 <a href="/products/dishwasher?parentHome=parentHome" style="color: #3567e7 ;"><span class="mr-4 ">Kitchen Appliances</span></a> </span>
	 {%- endif -%}
				 <span class="mr-4 ">Need help?</span>
					<span style="cursor: pointer;" onclick="liveChatClick()" class="mobile-menu__help-wrapper d-inline  mr-4">
					 <img data-src="{{ 'livechatico_new.png' | asset_url | replace: '.png', '_small.png' }}" style="margin-right: 13px;" class="icon--bi-phone img-fluid lazyload">
					  <span class="small-devices-hidden">Live Chat</span>
					  </span>


				  {%- if section.settings.navigation_email != blank -%}
				   <a href="mailto:{{ section.settings.navigation_email }}">
					   <span style="cursor: pointer;" class="mobile-menu__help-wrapper d-inline ">
						 <img data-src="{{ 'mail-ico_new.png' | asset_url | replace: '.png', '_small.png' }}" style="margin-right: 13px;" class="icon--bi-phone img-fluid lazyload"><span class="small-devices-hidden">{{ section.settings.navigation_email | escape }}</span></span>
					  </a>
				  {%- endif -%}
				  
				  
				  <img data-src="http://api.hostip.info/flag.php" style="margin-left: 5px;" width="30px" class="flagicon img-fluid lazyload">
				  {% if template == 'page.washerspec'  and shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="/account" class="site-header__icon site-header__account" style="margin-left: 10px">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
              </a>
            {% else %}
              <a href="/account/login" class="site-header__icon site-header__account"  style="margin-left: 10px">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
              </a>
            {% endif %}
          {% endif %}
		    <span class="d-none cartItem cartIcon cartHoverZone"> 
				<a href="javascript:void(0);" class="acart mr-2" >
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="svg-cart-icon-blue blink-cart" width="24" height="24" preserveAspectRatio="xMidYMid slice" style="display:none; width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"><defs><clipPath id="__lottie_element_166"><rect width="24" height="24" x="0" y="0"></rect></clipPath></defs><g clip-path="url(#__lottie_element_166)"><g style="display: block;" transform="matrix(1,0,0,1,1.75,-0.25)" opacity="1"><g opacity="1" transform="matrix(1,0,0,1,10.25,15.25)"><path fill="rgb(254, 189, 3)" fill-opacity="1" d=" M-9,-8 C-9,-8 9,-8 9,-8 C9,-8 9.218999862670898,-3.125 9.187999725341797,-0.375 C9.156999588012695,2.375 9,8 9,8 C9,8 -9,8 -9,8 C-9,8 -9,2.7190001010894775 -9,-0.31200000643730164 C-9,-3.3429999351501465 -9,-8 -9,-8z"></path></g></g><g style="display: block;" transform="matrix(1,0,0,1,1.75,-0.25)" opacity="1"><g opacity="1" transform="matrix(1,0,0,1,10.25,12.25)"><path fill="rgb(0,27,83)" fill-opacity="1" d=" M5,-6 C5,-6 10,-6 10,-6 C10,-6 10,12 10,12 C10,12 -10,12 -10,12 C-10,12 -10,-6 -10,-6 C-10,-6 -5,-6 -5,-6 C-5,-6 -5,-7 -5,-7 C-5,-9.76099967956543 -2.760999917984009,-12 0,-12 C2.76200008392334,-12 5,-9.76099967956543 5,-7 C5,-7 5,-6 5,-6z M4,-6 C4,-6 4,-7 4,-7 C4,-9.208999633789062 2.2090001106262207,-11 0,-11 C-2.2090001106262207,-11 -4,-9.208999633789062 -4,-7 C-4,-7 -4,-6 -4,-6 C-4,-6 4,-6 4,-6z M5,-5 C5,-5 5,-2 5,-2 C5,-2 4,-2 4,-2 C4,-2 4,-5 4,-5 C4,-5 -4,-5 -4,-5 C-4,-5 -4,-2 -4,-2 C-4,-2 -5,-2 -5,-2 C-5,-2 -5,-5 -5,-5 C-5,-5 -9,-5 -9,-5 C-9,-5 -9,11 -9,11 C-9,11 9,11 9,11 C9,11 9,-5 9,-5 C9,-5 5,-5 5,-5z"></path></g></g><g style="display: none;" transform="matrix(1,0,0,1,1.75,-0.25)" opacity="1"><g opacity="1" transform="matrix(1,0,0,1,10.25,12.25)"><path fill="rgb(0,27,83)" fill-opacity="1" d=" M3.9690001010894775,-6 C3.9690001010894775,-6 10,-6 10,-6 C10,-6 7.438000202178955,0.531000018119812 7.438000202178955,2.75 C7.438000202178955,4.968999862670898 10,12 10,12 C10,12 -10,12 -10,12 C-10,12 -7.5,5.438000202178955 -7.5,2.687999963760376 C-7.5,-0.06199999898672104 -10,-6 -10,-6 C-10,-6 -4.031000137329102,-6 -4.031000137329102,-6 C-4.031000137329102,-6 -4.031000137329102,-7 -4.031000137329102,-7 C-4.031000137329102,-9.76099967956543 -2.760999917984009,-12 0,-12 C2.76200008392334,-12 3.9690001010894775,-9.76099967956543 3.9690001010894775,-7 C3.9690001010894775,-7 3.9690001010894775,-6 3.9690001010894775,-6z M2.9690001010894775,-6 C2.9690001010894775,-6 2.9690001010894775,-7 2.9690001010894775,-7 C2.9690001010894775,-9.208999633789062 2.2090001106262207,-11 0,-11 C-2.2090001106262207,-11 -3.0309998989105225,-9.208999633789062 -3.0309998989105225,-7 C-3.0309998989105225,-7 -3.0309998989105225,-6 -3.0309998989105225,-6 C-3.0309998989105225,-6 2.9690001010894775,-6 2.9690001010894775,-6z M3.9690001010894775,-5 C3.9690001010894775,-5 3.9690001010894775,-2 3.9690001010894775,-2 C3.9690001010894775,-2 2.9690001010894775,-2 2.9690001010894775,-2 C2.9690001010894775,-2 2.9690001010894775,-5 2.9690001010894775,-5 C2.9690001010894775,-5 -3.0309998989105225,-5 -3.0309998989105225,-5 C-3.0309998989105225,-5 -3.0309998989105225,-2 -3.0309998989105225,-2 C-3.0309998989105225,-2 -4.031000137329102,-2 -4.031000137329102,-2 C-4.031000137329102,-2 -4.031000137329102,-5 -4.031000137329102,-5 C-4.031000137329102,-5 -8.437999725341797,-5 -8.437999725341797,-5 C-8.437999725341797,-5 -6.5,-0.21799999475479126 -6.5,2.687999963760376 C-6.5,5.468999862670898 -8.468999862670898,11 -8.468999862670898,11 C-8.468999862670898,11 8.5,11 8.5,11 C8.5,11 6.375999927520752,5.625 6.438000202178955,2.75 C6.513000011444092,-0.6869999766349792 8.593999862670898,-5 8.593999862670898,-5 C8.593999862670898,-5 3.9690001010894775,-5 3.9690001010894775,-5z"></path></g></g><g style="display: none;" transform="matrix(1,0,0,1,1.75,-0.25)" opacity="1"><g opacity="1" transform="matrix(1,0,0,1,10.25,15.25)"><path fill="rgb(254, 189, 3)" fill-opacity="1" d=" M-9,-8 C-9,-8 9,-8 9,-8 C9,-8 9.031000137329102,-3.062000036239624 9,-0.31200000643730164 C8.968999862670898,2.437999963760376 9,8 9,8 C9,8 -9,8 -9,8 C-9,8 -9,2.75 -9,-0.2809999883174896 C-9,-3.312000036239624 -9,-8 -9,-8z"></path></g><g opacity="1" transform="matrix(1,0,0,1,10.25,12.25)"><path fill="rgb(0,27,83)" fill-opacity="1" d=" M5,-6 C5,-6 10,-6 10,-6 C10,-6 10,-0.8740000128746033 10,2.687999963760376 C10,6.25 10,12 10,12 C10,12 -10,12 -10,12 C-10,12 -10.031000137329102,5.938000202178955 -10,2.7190001010894775 C-9.968999862670898,-0.5 -10,-6 -10,-6 C-10,-6 -5,-6 -5,-6 C-5,-6 -5,-7 -5,-7 C-5,-9.76099967956543 -2.760999917984009,-12 0,-12 C2.76200008392334,-12 5,-9.76099967956543 5,-7 C5,-7 5,-6 5,-6z M3,-6 C3,-6 3,-7 3,-7 C3,-8.656999588012695 1.656999945640564,-10 0,-10 C-1.656999945640564,-10 -3,-8.656999588012695 -3,-7 C-3,-7 -3,-6 -3,-6 C-3,-6 3,-6 3,-6z M5,-4 C5,-4 5,-2 5,-2 C5,-2 3,-2 3,-2 C3,-2 3,-4 3,-4 C3,-4 -3,-4 -3,-4 C-3,-4 -3,-2 -3,-2 C-3,-2 -5,-2 -5,-2 C-5,-2 -5,-4 -5,-4 C-5,-4 -8,-4 -8,-4 C-8,-4 -7.968999862670898,-0.03099999949336052 -8,2.687999963760376 C-8.031000137329102,5.4070000648498535 -8,10 -8,10 C-8,10 8,10 8,10 C8,10 8.031000137329102,6.093999862670898 8,2.687999963760376 C7.968999862670898,-0.7179999947547913 8,-4 8,-4 C8,-4 5,-4 5,-4z"></path></g></g></g></svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" class="svg-cart-icon" height="24" preserveAspectRatio="xMidYMid slice" focusable="false" style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"><defs><clipPath id="__lottie_element_65"><rect width="24" height="24" x="0" y="0"></rect></clipPath></defs><g clip-path="url(#__lottie_element_65)"><g style="display: block;" transform="matrix(1,0,0,1,1.75,-0.25)" opacity="1"><g opacity="1" transform="matrix(1,0,0,1,10.25,12.25)"><path fill="rgb(0,27,83)" fill-opacity="1" d=" M5,-6 C5,-6 10,-6 10,-6 C10,-6 10,12 10,12 C10,12 -10,12 -10,12 C-10,12 -10,-6 -10,-6 C-10,-6 -5,-6 -5,-6 C-5,-6 -5,-7 -5,-7 C-5,-9.76099967956543 -2.760999917984009,-12 0,-12 C2.76200008392334,-12 5,-9.76099967956543 5,-7 C5,-7 5,-6 5,-6z M4,-6 C4,-6 4,-7 4,-7 C4,-9.208999633789062 2.2090001106262207,-11 0,-11 C-2.2090001106262207,-11 -4,-9.208999633789062 -4,-7 C-4,-7 -4,-6 -4,-6 C-4,-6 4,-6 4,-6z M5,-5 C5,-5 5,-2 5,-2 C5,-2 4,-2 4,-2 C4,-2 4,-5 4,-5 C4,-5 -4,-5 -4,-5 C-4,-5 -4,-2 -4,-2 C-4,-2 -5,-2 -5,-2 C-5,-2 -5,-5 -5,-5 C-5,-5 -9,-5 -9,-5 C-9,-5 -9,11 -9,11 C-9,11 9,11 9,11 C9,11 9,-5 9,-5 C9,-5 5,-5 5,-5z"></path></g></g></g></svg>
					<span>0</span>
				</a>      
			 </span> 
				 </div>
            </div>
            <!-- / row -->
        </div>
        <!-- / container -->
    </div>
</header>
<script>

$(window).on('load',function(e){
			$.get('https://api.hostip.info',  // url
			  function (data, textStatus, jqXHR) { 
			  			  console.log($(data).find('countryName').text());
			  console.log($(data).find('countryAbbrev').text());
				 if($(data).find('countryName').text() == "(Unknown Country?)" || $(data).find('countryAbbrev').text() == "XX" 
				 || $(data).find('countryAbbrev').text() == "US")
					$('.flagicon').attr('src', 'https://api.hostip.info/images/flags/us.gif');
					
					
			});
			
			
		 });
		 

		 
	function liveChatClick(){
		if($('#reamaze-popup').hasClass('visible'))
			return;
		$('#reamaze-widget').click();
	}
</script>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
	  {
      "type": "text",
      "id": "navigation_email",
      "label": "Email",
      "default": "info@yourwebsite.com"
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Bar",
      "default": "#7796a8"
    }
  ]
}
{% endschema %}
