<div id="fixed_teeth_2">
	<div  class="container text-center">
	<div class="row">
        <div class="col-lg-4">
		 <img width="140" height="140" data-src="{{ 'teethkit.png' | asset_url | replace: '.png', '_small.png' }}" style="margin-right: 13px;" class="img-circle img-fluid lazyload">
          <h3>Teath 1</h3>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img width="140" height="140" data-src="{{ 'teethkit.png' | asset_url | replace: '.png', '_small.png' }}" style="margin-right: 13px;" class="img-circle img-fluid lazyload">
		  <h3>Teath 2</h3>
		     <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
     
         </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img width="140" height="140" data-src="{{ 'teethkit.png' | asset_url | replace: '.png', '_small.png' }}" style="margin-right: 13px;" class="img-circle img-fluid lazyload">
		  <h3>Teath 3</h3>
		   <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        
          </div><!-- /.col-lg-4 -->
      </div>
	
	<hr class="featurette-divider">
	</div>
</div>

{% schema %}
{
  "name": "Inline teeth 1"
}
{% endschema %}
