
<header id="header">
    <style>
		#shopify-section-{{section.id}} .top-bar {
          background-color: {{ section.settings.header_bg }};
		  box-shadow: 0 0 11px -4px rgba(0,0,0,0.25) !important;
        }
		
		#shopify-section-{{section.id}} .buttons-block {
			float: left;
			display: none;
        }
		
		#shopify-section-{{section.id}} .buttons-block span{
			color: #3567e7 !important;
			cursor: pointer;
        }
		
		#shopify-section-{{section.id}} .buttons-block span:hover{
			color: #86a4f0 !important;
        }


		body {
		  overscroll-behavior-y: none;
		}
		
		#shopify-section-{{section.id}} a{
          text-decoration: none;
        }
		
		@media only screen and (min-width: 768px){
		#shopify-section-{{section.id}} .buttons-block{
			display: block;
		}
	}
		

    </style>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-5 " style="padding-right:0; padding-left: 0;">
                    <a href="/pages/washwarrior" title="logo">
					{% if section.settings.logo %}
						<img class="logo lazyload" data-src="{{ section.settings.logo | img_url: 'master' }}" alt="logo">
					{% endif %}

					</a>
                </div>
                <!-- / column -->
				
				<div class="col-md-9 col-sm-8 col-xs-7 py-2 float-right text-right contact-block" style="padding-right:0; padding-left: 0;     white-space: nowrap;">
				
				 
				 {% if template == 'page.dishwasher-home' %}
   <span class="buttons-block"> <span class="mr-4 ">Laundry Appliances</span>
				 <span class="mr-4 ">Kitchen Appliances</span> </span>
	 {%- endif -%}
				 <span class="mr-4 ">Need help?</span>
					<span style="cursor: pointer;" onclick="liveChatClick()" class="mobile-menu__help-wrapper d-inline  mr-4">
					 <img data-src="{{ 'livechatico.png' | asset_url | replace: '.png', '_small.png' }}" style="margin-right: 13px;" class="icon--bi-phone img-fluid lazyload">
					  <span class="small-devices-hidden">Live Chat</span>
					  </span>


				  {%- if section.settings.navigation_email != blank -%}
				   <a href="mailto:{{ section.settings.navigation_email }}">
					   <span style="cursor: pointer;" class="mobile-menu__help-wrapper d-inline ">
						 <img data-src="{{ 'mail-ico.png' | asset_url | replace: '.png', '_small.png' }}" style="margin-right: 13px;" class="icon--bi-phone img-fluid lazyload"><span class="small-devices-hidden">{{ section.settings.navigation_email | escape }}</span></span>
					  </a>
				  {%- endif -%}
				  
				  
				   {% if template contains 'pages/washer' and shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="/account" class="site-header__icon site-header__account">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
              </a>
            {% else %}
              <a href="/account/login" class="site-header__icon site-header__account">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
              </a>
            {% endif %}
          {% endif %}
				  <img data-src="http://api.hostip.info/flag.php" style="margin-left: 5px;" width="30px" class="flagicon img-fluid lazyload">
			
				</div>
            </div>
            <!-- / row -->
        </div>
        <!-- / container -->
    </div>
</header>
<script>

$(window).on('load',function(e){
			$.get('https://api.hostip.info',  // url
			  function (data, textStatus, jqXHR) { 
			  			  console.log($(data).find('countryName').text());
			  console.log($(data).find('countryAbbrev').text());
				 if($(data).find('countryName').text() == "(Unknown Country?)" || $(data).find('countryAbbrev').text() == "XX" 
				 || $(data).find('countryAbbrev').text() == "US")
					$('.flagicon').attr('src', 'https://api.hostip.info/images/flags/us.gif');
					
					
			});
		 });
		 

		 
	function liveChatClick(){
		if($('#reamaze-popup').hasClass('visible'))
			return;
		$('#reamaze-widget').click();
	}
</script>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
	  {
      "type": "text",
      "id": "navigation_email",
      "label": "Email",
      "default": "info@yourwebsite.com"
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Bar",
      "default": "#7796a8"
    }
  ]
}
{% endschema %}
