<div id="fixed_teeth_1">
	<div id="product-video" class="container-fluid">
		<div class="row">
			<div class="col-12 product-video-col-container">
				<video id="product-video-prime" poster="https://cdn.shopify.com/s/files/1/0084/0105/9911/files/home_4.jpg?v=1613527084" preload="none" playsinline="" muted="muted" loop="loop">
					<source src="https://cdn.shopify.com/s/files/1/0084/0105/9911/files/Checking_the_Oil_Level.mp4" type="video/mp4" />
						Your browser does not support the video tag.
				</video>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Inline teeth 1"
}
{% endschema %}
