<style>
.s-steps,
.s-steps a{
	color: #fff !important;
}
</style>
	<div class="position-relative">
      <div class="shape shape-fluid-x shape-top text-dark pt-15">
        <div class="shape-img pb-8 pb-md-12">
          <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor"></path></svg>        </div>
      </div>
    </div>
<div class="s-steps" style="background: #50b3da;  padding-bottom: 50px;">
	<div class="container-lg">
	{%- if product.id == 4773122080839  -%}

		<div class="row justify-content-between">
		    <div class="col-md-6" >
				    <a id="w-node-10cfac847216-5d1eaee6" target="_blank" class="card-step _1 w-inline-block btn-buy-product" >
                        <img data-src="{{ 'small_ever_1.jpg' | asset_url }}" style="height:100% !important;" class="image-9 card-shadow-custom lazyload" />
                        <div class="text-block-6"><span>No More Musty</span></br><span>& Brittle Sponges</span></div>
                    </a>
			</div>
            <div class="col-md-6">
			<h2>Scrubber</h2>
                <p>Built with two types of bristles including short bristles for stubborn messes and longer bristles for delicate dishes and glassware.</p>
				<br><br>
				</div>
				 <div class="col-md-6" >
				<div class="_w-step-cards">
                    <a target="_blank" class="card-step _2 w-inline-block btn-buy-product col-md-6" > 
                        <img data-src="{{ 'small_ever_2.jpg' | asset_url }}" style="height:100% !important;" alt="" class="image-9 card-shadow-custom lazyload" />
                        <div class="text-block-6">Durable and Long-Lasting</div>
                    </a>
                    <a target="_blank" class="card-step _3 w-inline-block btn-buy-product col-md-6" >
                        <img data-src="{{ 'small_ever_3.jpg' | asset_url }}" alt="" style="height:100% !important;" class="image-9 card-shadow-custom lazyload" />
                        <div class="text-block-6">Antibacterial Silicone</div>
                    </a>
                </div>
                </div>
				<div class="col-md-6" >
				<h2>Scraper</h2>
                <p>Effortlessly scrape hardened stains from the surface of pots, pans, and other kitchenware.</p>
            </div>
        </div>
		{% elsif product.id == 4772860035143 %}
		       <div class="row justify-content-between">
                <div class="col-md-6" >
					<a id="w-node-10cfac847216-5d1eaee6" target="_blank" class="card-step _1 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-1_dish.jpg' | asset_url }}" alt="" class="image-9 card-shadow-custom lazyload" />
                        <div class="text-block-6">1. Get a Wash Warrior Tablet</div>
                    </a>         
				</div>
                 <div class="col-md-6" >
                <h2>Powerful Deep Cleaning</h2>
                <p>Smaller and thinner tablets mean you’ll be able to powerfully penetrate, dissolve. Wash Warrior breakdowns mineral deposits, food build-up, and mold.</p>
				<br><br>
				</div>
				 <div class="col-md-6" >
				    <div class="_w-step-cards">
						<a target="_blank" class="card-step _2 w-inline-block btn-buy-product" >
							<img data-src="{{ '0_I-Steps-2_dish.jpg' | asset_url }}" alt="" class="image-9 card-shadow-custom lazyload" />
							<div class="text-block-6">2. Place it in your washer</div>
						</a>
						<a target="_blank" class="card-step _3 w-inline-block btn-buy-product" >
							<img data-src="{{ '0_I-Steps-3_dish.jpg' | asset_url }}" alt="" class="image-9 card-shadow-custom lazyload" />
							<div class="text-block-6">3. Watch it clean like magic</div>
						</a>
					</div>
                </div>
				<div class="col-md-6" >
				<h2>Removes Bacteria</h2>
                <p>Our patented <strong>Wash Warrior™ Dishwasher Cleaner</strong> removes 99.9% of bacteria and other pathogens in less than 20 minutes. With a 1:100 product to water dilution ratio, it effectively cleans and purifies, keeping your dishwasher looking and smelling fresh.</p>
            </div>
            
        </div>
		{% elsif product.id == 4773126570055 %}
		<style>
	
		</style>
	      <div class="row justify-content-between">
                 <div class="col-md-6" >
					<a id="w-node-10cfac847216-5d1eaee6" target="_blank" class="card-step _1 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-1.jpg' | asset_url }}" alt="" class="image-9 card-shadow-custom lazyload" />
                        <div class="text-block-6">1. Get a Wash Warrior Tablet</div>
                    </a>
            </div>
               <div class="col-md-6" >
                <h2>Long-Lasting Cleanliness</h2>
                <p>These wipes don’t just leave your washing machine looking and working like new - they also prevent new grime and bacteria from accumulating for up to 5 consecutive washes! You can enjoy peace of mind after each scrubbing and trust that your clothes will come out in great condition for several washes at a time.</p>
				<br>
				 </div>
				    <div class="col-md-6" >
                <div class="_w-step-cards">
                    <a target="_blank" class="card-step _2 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-2.jpg' | asset_url }}" alt="" class="image-9 card-shadow-custom lazyload" />
                        <div class="text-block-6">2. Place it in your washer</div>
                    </a>
                    <a target="_blank" class="card-step _3 w-inline-block btn-buy-product" >
                        <img data-src="{{ '0_I-Steps-3.jpg' | asset_url }}" alt="" class="image-9 card-shadow-custom lazyload" />
                        <div class="text-block-6">3. Watch it clean like magic</div>
                    </a>
                </div>
                </div>
				  <div class="col-md-6" >
				<h2>User-Friendly Anti-Bacterial Wipes</h2>
                <p>Our formula ensures that while you can easily scrub away 99.9% of bacteria residing in your washing machine, your clothes will be safe from any adverse effects and your hands will benefit from the delicate and irritant-free softness of our cleaning wipes.</p>
            </div>
           
        </div>
		{%- else -%}
		<div class="row justify-content-between">
               <div class="col-md-6" >
					<h2>Removes Bacteria</h2>
					<p>Our patented Wash Warrior™ Washing Machine Cleaner removes 99.9% of bacteria and other pathogens in less than 20 minutes. With a 1:100 product to water dilution ratio, it effectively cleans and purifies, keeping the washing machine cleaner and fresher.</p>
				</div>
				<div class="col-md-6" >
					<h2>Powerful Deep Cleaning</h2>
					<p>These tablets are smaller and thinner than regular tablets, allowing them to powerfully penetrate, dissolve, and break down blocked up mold and residue.</p>
					<br><br>
				</div>
				<div class="col-md-12 text-center text-bold" >
				     <div class="row _w-step-cards">
					    <a target="_blank" class="col-md-4 card-step _1 w-inline-block btn-buy-product" >
							<img data-src="{{ '0_I-Steps-1.jpg' | asset_url }}" alt="" class="image-9 card-shadow-custom lazyload" />
							<div class="text-block-6 mt-3 mb-4">1. Get a Wash Warrior Tablet</div>
						</a>
						<a target="_blank" class="col-md-4 card-step _2 w-inline-block btn-buy-product" >
							<img data-src="{{ '0_I-Steps-2.jpg' | asset_url }}" alt="" class="image-9 card-shadow-custom lazyload" />
							<div class="text-block-6 mt-3 mb-4">2. Place it in your washer</div>
						</a>
						<a target="_blank" class="col-md-4 card-step _3 w-inline-block btn-buy-product" >
							<img data-src="{{ '0_I-Steps-3.jpg' | asset_url }}" alt="" class="image-9 card-shadow-custom lazyload" />
							<div class="text-block-6 mt-3 mb-4">3. Watch it clean like magic</div>
						</a>
					</div>
                </div>
				
        </div>
		{%- endif -%}
    </div>
</div>
<div class="position-relative">
      <div class="shape shape-fluid-x shape-bottom text-dark">
        <div class="shape-img pb-8 pb-md-12">
          <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 0h100v50H75L25 25H0z" fill="currentColor"></path></svg>        </div>
      </div>
    </div>


{% schema %}
{
  "name": "Inline info 6",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
