{%- layout 'theme.dishwasher-new' -%}


{%- assign product = all_products[settings.featured_product_global] -%}
{% comment %} Getting all the product details from the settings of the Section {% endcomment %} 
<a name="pagecontent" id="pagecontent"></a>
<div id="productJson" style="display:none;">{{ product | json }}</div>