
<style>

.s-banner{
	    background-color: #50B3DA;
		  color: #fff;
		  padding-top: 70px;
		  padding-bottom: 70px;
	}
</style>
	<div class="s-banner">
	
      <div class="container-lg">
	  
		
        <div class="row justify-content-center text-center">
         
		 {%- if product.id == 4773122080839  -%}
		  <div  class="block">
            <h3 class="heading-3" style="font-weight: 700; text-transform: uppercase;">Guaranteed to safely & effectively clean any dishes or receive a full refund!</h3>
            </div>
			
			  {% elsif product.id == 4772860035143 %}
			   <div  class="block">
            <h3 class="heading-3" style="font-weight: 700;">GUARANTEED TO DEEP CLEAN ANY DISHWASHER OR RECEIVE A FULL REFUND!</h3>
            </div>
			 {% elsif product.id == 4773126570055 %}
			  <div  class="block">
            <h3 class="heading-3" style="font-weight: 700;">GUARANTEED TO DEEP CLEAN ANY WASHING MACHINE OR RECEIVE A FULL REFUND!</h3>
            </div>
			 <div  class="block col-sm-11" style="margin: 0 auto;">
			<p>We proudly stand by the quality of all Wash Warrior Products, and we promise that you will either be satisfied or fully refunded.</p>
			<br>
			<p>When you purchase Wash Warrior’s Washing Machine Cleaning Wipes, you are protected by our 100% no-risk money back guarantee!</p>
  </div>
			{%- else -%}
			 <div  class="block">
            <h3 class="heading-3" style="font-weight: 700;">GUARANTEED TO DEEP CLEAN ANY WASHING MACHINE OR RECEIVE A FULL REFUND!</h3>
            </div>
			{%- endif -%}
		
        </div>
      </div>
    </div>


{% schema %}
{
  "name": "Inline info 4",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
