<div class="s-cta">
    <div class="cont _1240 w-container">
	 {%- if product.id == 4773122080839  -%}
        <div class="w-layout-grid grid cta">
            <div class="block" >
                <a target="_blank" class="_w-video-bg cta w-inline-block btn-buy-product">
                    <!--<div class="_w-bubble s1-large">
                        <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>
                    <div class="_w-bubble s1-medium">
                       <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>
                    <div class="_w-bubble s1-small">
                       <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>-->
                    <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
					 
					  <img  class="gif-holder-3 " style="border-radius: 100%;max-width: 110%;">
					
                    </div>
                </a>
            </div>
            <div class="block" >
                <div class="_w-t-cta">
                    <h2 class="heading-5">Anti-Bacterial & Safe On Dishes</h2>
                    <p class="paragraph-2">
                       Your dishes will never be damaged. Our sponge protects the integrity of your dishware and makes sure every dish truly is fresh and clean.<br />
                        <br />
                        1) <a target="_blank" class="btn-buy-product">Click here and order Wash Warrior</a><br />
                        2) Enjoy 100% sanitary dishes and silverware
                    </p>
                   <div class="text-block-7">
                        Currently Wash Warrior™ has a 50% off deal.
                        <a  target="_blank" class="btn-buy-product">Click here or the button below to check if it’s still active &amp; inventory is in stock &gt;&gt;&gt;</a>
                    </div>
                    <div class="_w-button">
                        <a data-w-id="d216053e-adcd-cd55-23c7-1113cee7563f" target="_blank" class="block-button w-inline-block btn-buy-product">
                            <div class="text-block">GET 50% OFF NOW &gt;&gt;</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
		 {% elsif product.id == 4772860035143 %}
		 <div class="w-layout-grid grid cta">
            <div class="block" >
                <a target="_blank" class="_w-video-bg cta w-inline-block btn-buy-product">
                    <!--<div class="_w-bubble s1-large">
                        <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>
                    <div class="_w-bubble s1-medium">
                       <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>
                    <div class="_w-bubble s1-small">
                       <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>-->
                    <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
					 
						<img  class="gif-holder-3 " style="border-radius: 100%;">
					 
                    </div>
                </a>
            </div>
            <div class="block" >
                <div class="_w-t-cta">
                    <h2 class="heading-5">Eco-Friendly and Safe For Your Family</h2>
                    <p class="paragraph-2">
                       Harmful chemicals and cleaners can be just as dangerous as bacteria and mold. That’s why Wash Warrior™ uses a formula that’s safe for both you and the environment.<br />
                    </p>
					 <h2 class="heading-5">Get Your Wash Warrior™ Dishwasher Cleaner Today</h2>
                    <div class="text-block-7">
Stop worrying about the harmful bacteria and pathogens that might be hiding inside your dishwasher. Order  <a  target="_blank" class="btn-buy-product">Wash Warrior™ Dishwasher Cleaner</a> today and get 50% off the purchase price &gt;&gt;&gt;
                    </div>
                    <div class="_w-button">
                        <a data-w-id="d216053e-adcd-cd55-23c7-1113cee7563f" target="_blank" class="block-button w-inline-block btn-buy-product">
                            <div class="text-block">GET 50% OFF NOW &gt;&gt;</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
		{% elsif product.id == 4773126570055 %}
		 <div class="w-layout-grid grid cta">
            <div class="block" >
                <a target="_blank" class="_w-video-bg cta w-inline-block btn-buy-product">
                    <!--<div class="_w-bubble s1-large">
                        <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>
                    <div class="_w-bubble s1-medium">
                       <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>
                    <div class="_w-bubble s1-small">
                       <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>-->
                    <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
					 
						<img  class="gif-holder-3 " style="border-radius: 100%;">
					 
                    </div>
                </a>
            </div>
            <div class="block" >
                <div class="_w-t-cta">
                    <h2 class="heading-5">Safe & Eco-Friendly For Both Your Clothes & Family</h2>
                    <p class="paragraph-2">
                       Your fabrics will never be harmed. Our formula protects the integrity of your clothing and makes sure every load truly comes out fresh and clean while protecting your family from any harmful bacteria lurking in your washing machine.<br />
                        <br />
                        1) <a target="_blank" class="btn-buy-product">Click here and order Wash Warrior</a><br />
                        2) Enjoy a washing machine that smells fresh
                    </p>
                   <div class="text-block-7">
                        Currently Wash Warrior™ has a 50% off deal.
                        <a  target="_blank" class="btn-buy-product">Click here or the button below to check if it’s still active &amp; inventory is in stock &gt;&gt;&gt;</a>
                    </div>
                    <div class="_w-button">
                        <a data-w-id="d216053e-adcd-cd55-23c7-1113cee7563f" target="_blank" class="block-button w-inline-block btn-buy-product">
                            <div class="text-block">GET 50% OFF NOW &gt;&gt;</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
		 {%- else  -%}
         {% assign abtest = product.metafields.my_fields.a_b_test_switch %}
         {% if product.id == 7004495872196 and abtest %}
            <style>
                .w-layout-grid.grid.cta.pt-50 {
                    padding-top: 50px;
                } 
            </style>
         {% endif %}
		  <div class="w-layout-grid grid cta {% if product.id == 7004495872196 and abtest %} pt-50{% endif %}">
            <div class="block" >
                <a target="_blank" class="_w-video-bg cta w-inline-block btn-buy-product">
                    <!--<div class="_w-bubble s1-large">
                        <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>
                    <div class="_w-bubble s1-medium">
                       <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>
                    <div class="_w-bubble s1-small">
                       <img data-src="{{ '0_I-Bubble.png' | asset_url }}"  alt="" class="i-bubble lazyload"  />
                    </div>-->
                    <div data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-bg w-background-video w-background-video-atom">
					 
						<img  class="gif-holder-3 " style="border-radius: 100%;">
					
                    </div>
                </a>
            </div>
            <div class="block" >
                <div class="_w-t-cta">
                    <h2 class="heading-5">Eco-Friendly & Safe For Clothes</h2>
                    <p class="paragraph-2">
                        No fabrics will ever be harmed. Our formula protects the integrity of any article of clothing and makes sure every load truly comes out fresh and clean.<br />
                        {% unless product.id == 7004495872196 and abtest %}
                            <br />
                            1) <a target="_blank" class="btn-buy-product">Click here and order Wash Warrior</a><br />
                            2) Enjoy a washing machine that smells fresh
                        {% endunless %}
                    </p>
                    {% unless product.id == 7004495872196 and abtest %}
                        <div class="text-block-7">
                            Currently Wash Warrior™ has a 50% off deal.
                            <a  target="_blank" class="btn-buy-product">Click here or the button below to check if it’s still active &amp; inventory is in stock &gt;&gt;&gt;</a>
                        </div>
                        <div class="_w-button">
                            <a data-w-id="d216053e-adcd-cd55-23c7-1113cee7563f" target="_blank" class="block-button w-inline-block btn-buy-product">
                                <div class="text-block">GET 50% OFF NOW &gt;&gt;</div>
                            </a>
                        </div>
                    {% endunless %}
                </div>
            </div>
        </div>
		   {%- endif  -%}
    </div>
    <!--<div class="_w-bubble cta-l3 desktop-only">
        <img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload"  />
    </div>
    <div class="_w-bubble cta-l2 desktop-only">
        <img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload"  />
    </div>
    <div class="_w-bubble cta-r3 desktop-only">
        <img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload"  />
    </div>
    <div class="_w-bubble cta-r2 desktop-only">
        <img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload"  />
    </div>
    <div class="_w-bubble cta-r1 desktop-only">
        <img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" />
    </div>
    <div class="_w-bubble cta-l1 desktop-only">
        <img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload"  />
    </div>-->
</div>
	<script>

$(window).on('load',function(){
{%- if product.id == 4773122080839  -%}
$('.gif-holder-3').attr('data-src',"{{ 'giphy1.gif' | asset_url }}");
$('.gif-holder-3').addClass('lazyload');
 {% elsif product.id == 4772860035143 %}
 $('.gif-holder-3').attr('data-src',"{{ 'Flow_dirt_dish.gif' | asset_url }}");
 $('.gif-holder-3').addClass('lazyload');
 {%- else -%}
 $('.gif-holder-3').attr('data-src',"{{ 'video3_optimized_new.gif' | asset_url }}");
 $('.gif-holder-3').addClass('lazyload');
  {%- endif -%}

});

</script>

{% schema %}
{
  "name": "Inline info 5",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
