
<div class="s-vs">
      <div class="cont _1240 w-container">
	  {%- if product.id == 4773122080839  -%}
        <div class="w-layout-grid grid vs">
          <div class="block" >
            <div class="_w-vs"><a target="_blank" class="w-inline-block"><img data-src="{{ 'ww-logo-blue.png' | asset_url }}" alt="" class="image-12 lazyload"></a>
              <ul role="list" class="list w-list-unstyled">
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Antibacterial Silicone</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Can Last for Years</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Scrubs, scrapes and squeegees</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Easy on Delicate Pots & Pans</div>
                </li>
				 <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Ergonomic Grip for Easy Use</div>
                </li>
              </ul>
              <div class="div-block-2">
                <div>VS</div>
              </div>
            </div>
          </div>
          <div class="block rel-1" >
            <div class="_w-vs other">
              <h3 class="heading-2">Alternatives</h3>
              <ul role="list" class="list w-list-unstyled">
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Traps germs,odours and bacteria</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Only Lasts a Few Weeks</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>One or two uses</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Damages your cookware</div>
                </li>
				 <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Difficult to use effectively</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
		 {% elsif product.id == 4772860035143 %}
		  <div class="w-layout-grid grid vs">
          <div class="block" >
            <div class="_w-vs"><a target="_blank" class="w-inline-block"><img data-src="{{ 'ww-logo-blue.png' | asset_url }}" alt="" class="image-12 lazyload"></a>
              <ul role="list" class="list w-list-unstyled">
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Hands-Off Solution</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Gets Rid of Food Residue &amp; Mold</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Leaves No Trace Behind</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Removes 99.9% of bacteria</div>
                </li>
              </ul>
              <div class="div-block-2">
                <div>VS</div>
              </div>
            </div>
          </div>
          <div class="block rel-1" >
            <div class="_w-vs other">
              <h3 class="heading-2">Alternatives</h3>
              <ul role="list" class="list w-list-unstyled">
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Have to Scrub by Hand</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Don’t Fully Clean Your Dishwasher</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Leave an Unattractive Film Behind</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Not Anti-Bacterial</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
		 {%- else -%}
		 
		  <div class="w-layout-grid grid vs">
          <div class="block" >
            <div class="_w-vs"><a target="_blank" class="w-inline-block"><img data-src="{{ 'ww-logo-blue.png' | asset_url }}" alt="" class="image-12 lazyload"></a>
              <ul role="list" class="list w-list-unstyled">
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Hands-Off Solution</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Will Break Up Residue &amp; Dirt</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Leaves No Trace Behind</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Check.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Removes 99.9% of bacteria</div>
                </li>
              </ul>
              <div class="div-block-2">
                <div>VS</div>
              </div>
            </div>
          </div>
          <div class="block rel-1" >
            <div class="_w-vs other">
              <h3 class="heading-2">Alternatives</h3>
              <ul role="list" class="list w-list-unstyled">
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Getting Our Hands Dirty</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Doesn’t Fully Clean the Washer</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Can Leave a Film of Plastic</div>
                </li>
                <li class="i-vs"><img data-src="{{ 'S-VS-Cross.svg' | asset_url }}" alt="" class="image-11 lazyload">
                  <div>Not anti-bacterial</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
		 
		 {%- endif -%}
		 
      </div>
    </div>
	
	
{% schema %}
{
  "name": "Inline info 5",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
