

	<div class="s-story2">
	
	{%- if product.id == 4773122080839  -%}
      <div class="cont _1240 w-container">
        <div class="w-layout-grid grid story2">
          <div class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <h2>Banish Germs from your kitchen for good</h2>
            <br>
			<p>When you replace your regular kitchen sponges with a Wash Warrior™ Smart Scrubber you’ll banish the bacteria from your kitchen sponge for good.</p>
            <br>
			<p>Plus, it’s proven and tested silicone material makes it impossible for germs and bacteria to thrive, even if you use them for too long or leave them sitting wet on your sink or countertop.</p>
			<br>
			<p>Unlike other scrubs, it’s ergonomic shape provides an easy grip and three different functions including a scrubber, scraper, and a squeegee all-in-one.</p>
			<br>
			<p>It even has a compartment to dispense soap, so you don’t have to constantly pour cleaning detergent while washing — very convenient!</p>
			<br>
			<p>Oh, and did we mention that each side of the scrub has hundreds of super-soft bristles that effectively cleans tough stains without scratching your dishes or delicate glassware?</p>
			<br>
			<p>With Wash Warrior™ Smart Scrubber, all your dishes will be spotlessly clean and free from germs and bacteria in just a few scrubs. It’s that easy!</p>
          </div>
          <div id="w-node-9dd5840558e1-5d1eaee6" class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
		  <a target="_blank" class="w-inline-block">
		  <img data-src="{{ 'ever4.jpg' | asset_url }}" data-w-id="f9a7d8f9-cb5a-4c63-ec1d-5f76d3b73948" style="height:100% !important; opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="" class="image-6 lazyload"></a></div>
        </div>
      </div>
	  {% elsif product.id == 4772860035143 %}
	    <div class="cont _1240 w-container">
        <div class="w-layout-grid grid story2">
          <div class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <h2>Powerful Decontaminating Cleaner</h2>
            <p>Improve your dishwasher’s performance and efficiency without damage. Our <strong>anti-bacterial</strong> Wash Warrior™ tablets are easy to use, more powerful than any other cleaner, and quickly destroy any odor and disease-causing residues.</p>
          </div>
          <div id="w-node-9dd5840558e1-5d1eaee6" class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
		  <a target="_blank" class="w-inline-block">
		  <img data-src="{{ '0_I-Story2_dish.jpg' | asset_url }}" data-w-id="f9a7d8f9-cb5a-4c63-ec1d-5f76d3b73948" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="" class="image-6 lazyload"></a></div>
        </div>
      </div>
{% elsif product.id == 4773126570055 %}
 <div class="cont _1240 w-container">
        <div class="w-layout-grid grid story2">
          <div class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <h2>Ultra-Effective Cleansing Solution</h2>
            <p>Wash Warrior’s decontaminating formula isolates mold, bacteria, and grimy residue more efficiently than other washing machine cleaners and ensures that your laundry comes out looking and smelling pristine. And now, our patented solution comes in a format that gives you complete control of your washer’s cleanliness.</p>
          </div>
          <div id="w-node-9dd5840558e1-5d1eaee6" class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
		  <a target="_blank" class="w-inline-block">
		  <img src="{{'giphy33.gif' | asset_url}}" data-w-id="f9a7d8f9-cb5a-4c63-ec1d-5f76d3b73948" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="" class="image-6 "></a></div>
        </div>
      </div>
	  {%- else -%}
   <div class="cont _1240 w-container">
        <div class="w-layout-grid grid story2">
          <div class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <h2>Powerful Decontaminating Cleaner</h2>
            <p>Improve washing efficiency without damage. Our <strong>antibacterial</strong> Wash Warrior™ tablets are easy to use, more powerful than any other cleaner, and quickly destroy any odor and bacteria causing residues.
</p>
          </div>
          <div id="w-node-9dd5840558e1-5d1eaee6" class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
		  <a target="_blank" class="w-inline-block">
		  <img src="{{'giphy33.gif' | asset_url}}" data-w-id="f9a7d8f9-cb5a-4c63-ec1d-5f76d3b73948" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="" class="image-6 "></a></div>
        </div>
      </div>
	  {%- endif -%}
  
	  <img data-src="{{ 'BG-Border-Curve-White.svg' | asset_url }}" alt="" class="bg-border top lazyload">
    </div>

{% schema %}
{
  "name": "Inline info",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
