
<section class="questions-product faq" >

<div class="container-fluid">
<div class="row">
<div class="col-12 col-md-9 float-none mx-auto questions-column">
<h1 class="text-center details-heading col-12 col-md-11 mx-auto float-none">Product details</h1>
<div id="shopify-section-page-faq-template" class="private-policy shopify-section faq-section col-12 col-md-11 mx-auto float-none">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                   
         
					 <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">What’s included
</a></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body ">
                               <p>Yes it can! Wash Warrior is safe to use with Front Load Washing Machines and Top Load Washing Machines - High Efficiency (HE) and Conventional Washers. Wash Warrior is also septic tank safe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">Ingredients
</a></h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body ">
                                <p>We recommend using 3 tablets the first week (1 tablet every 2 days) on a regular cycle if the washer has never been deep cleaned before in order to get rid of all the buildup. After completing this phase, or if the washer has already been deep cleaned, we recommend 1 tablet every two weeks for maintenance.</p>
                            </div>
                        </div>
                    </div>
                  
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">Frequently asked questions
</a></h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body ">
                                <p>Yes it can! Thanks to its triple active oxygen decontamination complex, Wash Warrior rapidly penetrates and disintegrates all dirt while suppressing 99% of bacteria in the washing machine including that in the rubber and drawer.</p>
                            </div>
                        </div>
                    </div>
					
					    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">Shipping & returns
</a></h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body ">
                                <p>No need! Wash Warrior’s sole purpose is to save us the hassle of dismantling and manually deeply cleaning the washer. Just put the Wash Warrior tablet in and let it do all the heavy lifting.</p>
                            </div>
                        </div>
                    </div>
			
                   
                </div>
</div>
</div>
</div>
</div>

</section>

{% schema %}
{
  "name": "Inline info 2",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
