<style>

.three-features {
padding-top: 2.5rem !important;
padding-bottom: 2.5rem !important;
margin-top: 2.5rem !important;
margin-bottom: 2.5rem !important;
}

.three-features h3{
color:#3567e7;
font-weight: 700;
font-size: 24px;
margin-top: 20px;
    margin-bottom: 10px;
}

.three-features p{
margin-bottom: 10px;
font-size: 14px;
}


.three-features-icon{

    float: left;
    width: 80px;
    margin: 10px 15px 60px 0;

}

.three-features .container{
	border-top: 1px solid #3567e7;
	border-bottom: 1px solid #3567e7;
	padding-top: 40px;
}

	@media only screen and (max-width: 991px){
			.three-features-icon {
			margin-left: -10px !important;
		}
	}
	
	@media only screen and (max-width: 875px){
			.three-features-icon {
			margin: 0px 15px 40px 0;
		}
		
		.three-features .col-sm-4 {
			width: 100% !important;
			max-width: 100 !important;
		}
	}
	
	@media only screen and (max-width: 460px){
			.three-features-icon {
			max-width: 60px;
		}
	}
	
	@media only screen and (max-width: 375px){
			.three-features-icon {
			margin-bottom: 10px;
		}
	}


</style>
<div class="three-features">
<div class="container">
	<div class="row">
		<div class="col-sm-4">
		
			<img src="{{ 'non_toxic.svg' | asset_url }}" class="three-features-icon"  width="131" height="131">

			<h3>Non-Toxic</h3>
			<p>Our products are carefully formulated to be 100% safe for you and your family as well as effective.</p>
			<div class="clearfix"></div>
		</div><!-- / column -->

		<div class="col-sm-4">
		
			<img src="{{ 'shield.svg' | asset_url }}" class="three-features-icon"  width="131" height="131">
			
		
			<h3>No Hassle Returns</h3>
			<p>If you are not satisfied with your product, you can return it within 90 days of purchase for a full refund.</p>
			<div class="clearfix"></div>
		</div><!-- / column -->


		<div class="col-sm-4">
			
			<img src="{{ 'time.svg' | asset_url }}" class="three-features-icon"  width="131" height="131">
	
		
			<h3>2 Year Shelf Life</h3>
			<p> Each of our products has a 2 year shelf life, so you can enjoy safe appliances for as long as you wish.</p>
			<div class="clearfix"></div>
		</div><!-- / column -->
	</div><!-- / row -->
</div><!-- / container -->
</div>


{% schema %}
{
  "name": "Badges",
  "settings": [
     {
      "type": "image_picker",
      "id": "badge_1_img",
      "label":"Badge 1 image"
    },
	{
      "type": "text",
          "id": "badge_1_header",
          "label": "Badge 1 Header",
          "default": "Badge 1 Header"
    },
	{
      "type": "text",
          "id": "badge_1_text",
          "label": "Badge 1 Text",
          "default": "Badge 1 Text"
    },
	{
      "type": "image_picker",
      "id": "badge_2_img",
      "label":"Badge 2 image"
    },
	{
      "type": "text",
          "id": "badge_2_header",
          "label": "Badge 2 Header",
          "default": "Badge 2 Header"
    },
	{
      "type": "text",
          "id": "badge_2_text",
          "label": "Badge 2 Text",
          "default": "Badge 2 Text"
    },
	{
      "type": "image_picker",
      "id": "badge_3_img",
      "label":"Badge 3 image"
    },
	{
      "type": "text",
          "id": "badge_3_header",
          "label": "Badge 3 Header",
          "default": "Badge 3 Header"
    },
	{
      "type": "text",
          "id": "badge_3_text",
          "label": "Badge 3 Text",
          "default": "Badge 3 Text"
    }
  ]
}
{% endschema %}
