<style>

		.jumbotron{
			background: none;
		}

		#shopify-section-{{section.id}} .top-banner-bg {
		    background-image: url({{"herobanner2_mobile.jpg" | asset_url}});
			background-size: cover;
			background-repeat: no-repeat;
			background-position-x: 50%;
			margin-top: 50px;
			background-position-y: 50%;
		}
		
		#shopify-section-{{section.id}} .top-banner-bg h1{
			font-size: 40px;
			color: #000;
			text-shadow: none;
			margin-left: 0;
			font-weight: 700;
			letter-spacing: .5px;
		}
		
		#shopify-section-{{section.id}} .top-banner-bg p{
			font-size: 18px;
			color: #000;
			margin: 0 0 15px;
			font-style: normal;
		}
		
		#shopify-section-{{section.id}} .top-banner-bg h1,
		#shopify-section-{{section.id}} .top-banner-bg h3,
		#shopify-section-{{section.id}} .top-banner-bg h4{
		   color:#000;
		}
		
		#shopify-section-{{section.id}} .top-banner-bg p{
			color:#000;
		}
		
		
		.logo-showcase{
			position: relative;
			z-index: 2;
			text-align: center;
			
		}
		
		.guarantee-block{
			box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
			border-radius: 10px;
			border-width: 1px;
			border-style: solid;
			border-color: #3567e7;
			padding: 20px 0;
		}
		
		.logo-showcase .container .logos-header-block {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
		
		.logo-showcase .container .text-header-block div {
			font-size: 14px;
			color: #474747;
			font-weight: 700;
			text-transform: uppercase;
		}

		.logo-showcase .container .logos-header-block .logo-header-block img {
			width: 100%;
		}
		
		.logo-showcase .container .logos-header-block .logo-header-block {
				width: 50%;
				height: 100%;
		}
		
        @media all and (min-width: 1024px) {
			.logo-showcase .container .logos-header-block .logo-header-block img {
				width: 100%;
			}
			
			.logo-showcase .container .text-header-block {
				float: left;
				padding: 0 20px;
				line-height: 35px;
				position: relative;
				margin-top: 14px;

			}
			.logo-showcase .container .text-header-block:after {
				content: "";
				position: absolute;
				height: 80px;
				border-right: 1px solid #3567e7;
				top: -20px;
				right: 0;
			}
			
            .logo-showcase .container .logos-header-block .logo-header-block {
				width: 25%;
				margin-left: 4%;
				margin-right: 4%;
			}
			
			.logo-showcase .container .text-header-block div {
					margin: 0;
				}
		}
		
		@media screen and (max-width: 767px){
		
			#shopify-section-fixed_header_block .top-banner-bg h1{
				font-size: 30px;
			}

			#top-banner {
				margin-top: 80px;
					
			}
		}
		
		.jumbotron {
				padding-bottom: 20px;
			}
		
		@media screen and (min-width: 768px){
		
		
			.jumbotron {
				padding-top: 100px;
				padding-bottom: 100px;
			}
		}
		
		@media screen and (min-width: 1170px){
			#shopify-section-{{section.id}} .bg-custom-image {
				display: none;
			}
			
				#shopify-section-{{section.id}} .top-banner-bg {
			
		    background-image: url({{"herobanner2.jpg" | asset_url}});
			background-size: cover;
			background-position-y: 50%;
			background-repeat: no-repeat;
			margin-top: 60px;
			background-position-x: 43%;
		}
		
			
		}
		
		
		
		@media screen and (max-width: 1023px){
			.logo-showcase .container .logos-header-block .logo-header-block img {
				width: 70%;
			}
		}

    </style>
	<div id="shopify-section-[id]" class="top-banner-bg">

<div class="jumbotron jumbotron-fluid">
  <div class="container container-bg-custom">
  <div class="row">
  <div class="col-md-12 bg-custom-image text-center">
	<img data-src="{{ 'herobanner2_mobile_1.png' | asset_url }}" class="lazyload" alt="Patented Triple Active Oxygen Decontamination Complex">
 </div>
  <div class="col-md-8 col-md-offset-2 col-lg-7 col-lg-offset-1">
    <h1 class="display-4">Patented Triple Active Oxygen Decontamination Complex.</h1>
    <p class="lead" style="margin-top: 15px !important;">Wash Warrior™ - Guaranteed to deep clean your appliances or your money back.</p>
	<div class="mobile-center">
		<div class="button2 btn-buy-product float-left"><a href="/pages/washwarrior?parentHome=parentHome" style="color: white;">Laundry Appliances</a></div>
		<div class="button2 btn-buy-product float-right"><a href="/products/dishwasher?parentHome=parentHome" style="color: white;">Kitchen Appliances</a></div>
	</div>
	</div>


		</div>
	
  </div>
</div>

</div>

<div class="logo-showcase">
          <div class="container guarantee-block">
            <div class="text-header-block">
              <!--<div>#1 Recommended by*</div>-->
              <div>FEATURED IN</div>
            </div>
            <div class="logos-header-block">
              
                <div class="logo-header-block">
                    <img data-src="{{ 'b-logo-5.png' | asset_url }}" class="lazyload" alt="MAYTAG brand logo in black letters">
                </div>
                <div class="logo-header-block">
                    <img data-src="{{ 'b-logo-7.png' | asset_url }}" class="lazyload" alt="KitchenAid brand logo in black letters">
                </div>
                <div class="logo-header-block">
                   <img data-src="{{ 'b-logo-6.png' | asset_url }}" class="lazyload" alt="Amanda brand logo with black letters">
                 </div> 
            </div>
          </div> <!-- end container -->
        </div>

<!-- <div class="top-banner-bg-2"> -->
<!-- <div class="container"> -->
	<!-- <div class="guarantee-block text-uppercase"> -->
		<!-- <h3 class="heading-3" style="font-weight: 700;">GUARANTEED TO DEEP CLEAN YOUR WASHING MACHINE OR YOUR MONEY BACK!</h3> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
{% schema %}
{
  "name": "Header Block Info",
  "settings": [
  {
      "type": "text",
          "id": "text_header",
          "label": "Header Text",
          "default": "Header Text"
    },
	{
      "type": "text",
          "id": "text_header_2",
          "label": "Header Text 2",
          "default": "Header Text 2"
    },
	{
      "type": "image_picker",
      "id": "check_image",
      "label":"Check list image"
    },
	{
      "type": "text",
          "id": "text_list_1",
          "label": "List Text 1",
          "default": "List Text 1"
    },
	{
      "type": "text",
          "id": "text_list_2",
          "label": "List Text 2",
          "default": "List Text 2"
    },
	{
      "type": "text",
          "id": "text_list_3",
          "label": "List Text 3",
          "default": "List Text 3"
    },
	{
      "type": "text",
          "id": "text_list_4",
          "label": "List Text 4",
          "default": "List Text 4"
    },	
	{
      "type": "text",
          "id": "text_list_5",
          "label": "List Text 5",
          "default": "List Text 5"
    },
	{
      "type": "text",
          "id": "text_header_3",
          "label": "Header Text 3",
          "default": "Header Text 3"
    },
	
	{
      "type": "image_picker",
      "id": "side_image",
      "label":"Side image"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "list_text_bg",
        "label": "List Text color",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
