{% assign abtest = product.metafields.my_fields.a_b_test_switch %}
<div class="s-review {% if product.id == 7004495872196 and abtest %} hidden-tablet-and-up{% endif %}" >

      <div class="cont _1240 w-container">
        <div class="w-layout-grid grid review">
         
			{%- if product.id == 4773122080839  -%}
			 <div id="w-node-ba25adbe90b0-5d1eaee6" class="block" >
            <h2 class="heading-3">Does <a class="btn-buy-product">Wash Warrior</a> actually Work?</h2>
            <p class="paragraph">Here’s some of the impressive feedback we’ve gotten about <a  class="btn-buy-product">Wash Warrior</a> from our happy customers.</p>
          </div>
          <div class="block" >
            <div class="w-layout-grid _w-review">
              <div class="card-review" >
                <p class="p-review">“Much better than a conventional sponge and won’t have to buy anymore anytime soon”<br><strong>Rita S.</strong>⭐⭐⭐⭐⭐</p>
              </div>
              <div class="card-review" >
                <p class="p-review">“First off, sponges are super gross and filled with nasty bacteria. Any attempt to eliminate sponge usage should be celebrated. As for this product in particular, I think it is really quite effective. It fits nicely into my hand. The grooves easily scrub stuff of the plate, though cheese makes for a tough opponent. It even has a scrapper at the top. This is our new sponge.”<br><strong>Lisa M.</strong>⭐⭐⭐⭐⭐</p>
              </div>
              <div class="card-review" >
                <p class="p-review">“I love this amazing kitchen tool - easy open packaging and ready to use with or without dish soap. Gentle enough for all you cookware and dishes but can easily handle baked on foods. Fill with soap for a fast, effortless clean before popping on the top rack of the dishwasher to sterilize!”<br><strong>Holly L.</strong>⭐⭐⭐⭐⭐</p>
              </div>
			   <a id="w-node-d42f70dfe175-5d1eaee6"  target="_blank" class="image-13 _2 w-inline-block btn-buy-product" >
			  <img data-src="{{ '0_I-Review-Comp-2.png' | asset_url }}" id="w-node-9f2f1be00c9c-5d1eaee6" alt="" class="i-100 lazyload"></a>
			  <a  target="_blank" class="image-13 w-inline-block btn-buy-product" >
			  <img data-src="{{ '0_I-Review-Comp-1.png' | asset_url }}" alt="" class="i-100 lazyload"></a></div>
			   {% elsif product.id == 4772860035143 %}
			    <div id="w-node-ba25adbe90b0-5d1eaee6" class="block" >
            <h2 class="heading-3">Does <a class="btn-buy-product">Wash Warrior</a> actually Work?</h2>
            <p class="paragraph">Here’s what a few of our happy customers have to say about <a  class="btn-buy-product">Wash Warrior™ Dishwasher Cleaner</a>:</p>
          </div>
          <div class="block" >
            <div class="w-layout-grid _w-review">
			    <div class="card-review" >
                <h3 class="heading-4">Sparkling Washer</h3>
                <p class="p-review">“The tablets to clean the washer worked very well. There was no residue.”<br>Carol A.⭐⭐⭐⭐⭐</p>
              </div>
              <div class="card-review" >
                <h3 class="heading-4">Nice Job</h3>
                <p class="p-review">“I'm sold. We have a new monthly easy way of cleaning our washing machine. Thanks.”<br>Howard⭐⭐⭐⭐⭐</p>
              </div>
              <div class="card-review" >
                <h3 class="heading-4">Superb results</h3>
                <p class="p-review">“Appreciate the new clean odor inside my wash tub!!”<br>Roberta L.⭐⭐⭐⭐⭐</p>
              </div>
			   <a id="w-node-d42f70dfe175-5d1eaee6"  target="_blank" class="image-13 _2 w-inline-block btn-buy-product" >
			  <img data-src="{{ '0_I-Review-Comp-2_dish.png' | asset_url }}" id="w-node-9f2f1be00c9c-5d1eaee6" alt="" class="i-100 lazyload"></a>
			  <a  target="_blank" class="image-13 w-inline-block btn-buy-product" >
			  <img data-src="{{ '0_I-Review-Comp-1_dish.png' | asset_url }}" alt="" class="i-100 lazyload"></a></div>
			   {% elsif product.id == 4773126570055 %}
			   <style>
				.card-review h3{
					font-size: 30px;
				}
				.p-review{
					font-size: 16px;
				}
				.image-13 {
					top: 15%;
				}
			   </style>
			   <div id="w-node-ba25adbe90b0-5d1eaee6" class="block" >
            <h2 class="heading-3">Does <a class="btn-buy-product">Wash Warrior</a> actually Work?</h2>
            <p class="paragraph">Here’s some of the impressive feedback we’ve gotten about <a  class="btn-buy-product">Wash Warrior</a> from our happy customers.</p>
          </div>
          <div class="block" >
            <div class="w-layout-grid _w-review">
				 <div class="card-review" >
                <h3 class="heading-4">Fresh and Clean Machine - and Clothes!</h3>
                <p class="p-review">“I was iffy on buying this but I am glad I did. It worked wonderfully and cleared all the odors out of my washer. I like them and they are easy to use, just drop one into the washer and let the magic work itself! I had tried other cleaning methods and this was the best. Best part of it came in 3 days.”<br>Sam S.⭐⭐⭐⭐⭐</p>
              </div>
              <div class="card-review" >
                <h3 class="heading-4">This Stuff Will Make Your Laundry Smell Wonderful</h3>
                <p class="p-review">“I bought Wash Warrior to make my washing machine smell brand new and the clothes to smell fresh and I was very surprised this stuff really works. If you’re tired of stinky laundry this is wonderful I give it two thumbs up.”<br>Lillian M.⭐⭐⭐⭐⭐</p>
              </div>
              <div class="card-review" >
                <h3 class="heading-4">Simple and Easy To Use!</h3>
                <p class="p-review">“Clear and simple instructions. Have used one tablet thus far and definitely cleaned the inside of the washer. I was shocked at how dirty it was without really ever realizing. Glad I got the 18 pack so I’m good for a while. Great Product.”<br>May I.⭐⭐⭐⭐⭐</p>
              </div>
			  <div class="card-review" >
                <h3 class="heading-4">Great Product! Cleans Thoroughly!</h3>
                <p class="p-review">“This is my first time ever trying Wash Warrior. I don’t know why I waited so long to try it but let me just tell you that I did 4 cleaning cycles with hot water and the product inside the washer and also a final rinse with no product to remove any excess build up or ****. My washer no longer had the swampy smell! I am beyond pleased and super happy with this product. Will be a regular user from here on out!”<br>Kiara D.⭐⭐⭐⭐⭐</p>
              </div>
			   <a id="w-node-d42f70dfe175-5d1eaee6"  target="_blank" class="image-13 _2 w-inline-block btn-buy-product" >
			  <img data-src="{{ '0_I-Review-Comp-2.png' | asset_url }}" id="w-node-9f2f1be00c9c-5d1eaee6" alt="" class="i-100 lazyload"></a>
			  <a  target="_blank" class="image-13 w-inline-block btn-buy-product" >
			  <img data-src="{{ '0_I-Review-Comp-1.png' | asset_url }}" alt="" class="i-100 lazyload"></a></div>
			    {%- else -%}
				 <div id="w-node-ba25adbe90b0-5d1eaee6" class="block" >
            <h2 class="heading-3">Does <a class="btn-buy-product">Wash Warrior</a> actually Work?</h2>
            <p class="paragraph">Here’s some of the impressive feedback we’ve gotten about <a  class="btn-buy-product">Wash Warrior</a> from our happy customers.</p>
          </div>
          <div class="block" >
            <div class="w-layout-grid _w-review">
				 <div class="card-review" >
                <h3 class="heading-4">Sparkling Washer</h3>
                <p class="p-review">“The tablets to clean the washer worked very well. There was no residue.”<br>Carol A.⭐⭐⭐⭐⭐</p>
              </div>
              <div class="card-review" >
                <h3 class="heading-4">Nice Job</h3>
                <p class="p-review">“I'm sold. We have a new monthly easy way of cleaning our washing machine. Thanks.”<br>Howard⭐⭐⭐⭐⭐</p>
              </div>
              <div class="card-review" >
                <h3 class="heading-4">Superb results</h3>
                <p class="p-review">“Appreciate the new clean odor inside my wash tub!!”<br>Roberta L.⭐⭐⭐⭐⭐</p>
              </div>
			   <a id="w-node-d42f70dfe175-5d1eaee6"  target="_blank" class="image-13 _2 w-inline-block btn-buy-product hidden-phone" >
			  <img data-src="{{ '0_I-Review-Comp-2.png' | asset_url }}" id="w-node-9f2f1be00c9c-5d1eaee6" alt="" class="i-100 lazyload"></a>
			  <a  target="_blank" class="image-13 w-inline-block btn-buy-product {% if product.id == 7004495872196 and abtest %} hidden-phone{% endif %}" >
			  <img data-src="{{ '0_I-Review-Comp-1.png' | asset_url }}" alt="" class="i-100 lazyload"></a></div>
				 {%- endif -%}
			 
          </div>
        </div>
      </div>
	  
    {% comment %}
	  <img data-src="{{ 'BG-Review-Bot.svg' | asset_url }} " alt="" class="bg-border cloud lazyload"></div>
    {% endcomment %}

{% schema %}
{
  "name": "Inline info 5",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
