
 <style>

		#shopify-section-{{section.id}} .product-features{
			background: {{ section.settings.pf_bg }};
		}

		#shopify-section-{{section.id}} .product-features p {
		   color:{{ section.settings.pf_text_bg }};
		   
		}
	
    </style>
<div class="product-features">


 <style>
		.top-rated {
          background-color: #001c53;
		  color: #fff;
        }


		.top-rated p{
			color: #fff !important;
		}
		
		.product-features{
  padding: 0;
}
    </style>
<div class="top-rated">

	<div class="container">

	
        <div class="w-layout-grid grid story2">
          <div class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <h2>Powerful Decontaminating Cleaner</h2>
            <p>Improve washing efficiency without damage. Our <strong>antibacterial</strong> Wash Warrior™ tablets are easy to use, more powerful than any other cleaner, and quickly destroy any odor and disease-causing residues.</p>
          </div>
          <div id="w-node-9dd5840558e1-5d1eaee6" class="block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
		  <a target="_blank" class="w-inline-block">
		  <img src="{{ '0_I-Story2.jpg' | asset_url }}" data-w-id="f9a7d8f9-cb5a-4c63-ec1d-5f76d3b73948" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="" class="image-6"></a></div>
        </div>
		
	
		
	</div><!-- / container -->
	
	

</div><!-- / top-rated -->

</div>

{% schema %}
{
  "name": "Product Features Info",
  "settings": [
  {
      "type": "text",
          "id": "pf_text_header",
          "label": "Product Feature Header Text",
          "default": "Product Feature Header Text"
    },
	 {
      "type": "text",
          "id": "pf_text_1",
          "label": "Product Feature Text 1",
          "default": "Product Feature Text 1"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "image_picker",
      "id": "pf_image2",
      "label":"Block image"
    },
	 {
      "type": "text",
          "id": "pf_list_header_1",
          "label": "List header 1",
          "default": "List header 1"
    },
	 {
      "type": "text",
          "id": "pf_list_text_1",
          "label": "List text 1",
          "default": "List text 1"
    },
	 {
      "type": "text",
          "id": "pf_list_header_2",
          "label": "List header 2",
          "default": "List header 2"
    },
	 {
      "type": "text",
          "id": "pf_list_text_2",
          "label": "List text 2",
          "default": "List text 2"
    },
	 {
      "type": "text",
          "id": "pf_list_header_3",
          "label": "List header 3",
          "default": "List header 3"
    },
	 {
      "type": "text",
          "id": "pf_list_text_3",
          "label": "List text 3",
          "default": "List text 3"
    },
	{
      "type": "color",
      "id": "pf_text_bg",
        "label": "Main Text color",
      "default": "#484848"
    },
	{
      "type": "color",
      "id": "pf_text_2_bg",
	  "label": "Sub block Text color",
      "default": "#494949"
    },
	{
      "type": "color",
      "id": "pf_bg",
	  "label": "Background",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "pf_sub_bg",
	  "label": "Sub block Background",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "rated_text_header",
          "label": "Top Rated Header Text",
          "default": "Top Rated Header Text"
    },
	{
      "type": "text",
          "id": "rated_text_content",
          "label": "Top RatedContent Text",
          "default": "Top Rated Content Text"
    },
    {
      "type": "color",
      "id": "rated_bg",
      "label": "Top Rated Bar",
      "default": "#eee"
    },
    {
      "type": "color",
      "id": "rated_text_bg",
      "label": "Top Rated Text color",
      "default": "#494949"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
