 <style>
.i-washer {
 {%- if product.id == 4773122080839  -%}
   background-image: url({{ 'ever3.jpg' | asset_url }}); 
{% elsif product.id == 4772860035143 %}
 background-image: url({{ 'wash_dish_3.jpg' | asset_url }});
 {%- else -%}
 background-image: url({{ 'wash_warrior_3.jpg' | asset_url }});
  {%- endif -%}
}
    </style>
	<div class="s-features">
      <div class="cont _1240 w-container">
        <div class="w-layout-grid grid features">
          <div id="w-node-facafc5fce50-5d1eaee6" class="block" >
            <a  target="_blank" class="w-inline-block btn-buy-product">
              <div class="i-washer lazyload"> 
			  <!-- <img src="{{ '0_I-Feature-Product.png' | asset_url }}" data-w-id="fef060e4-a422-02d6-acf9-d4b1f5feb119"  alt="" class="image-7"> -->
                <div class="_w-bubble feature-left"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
                <div class="_w-bubble feature-right"><img data-src="{{ '0_I-Bubble.png' | asset_url }}" alt="" class="i-bubble lazyload" ></div>
              </div>
            </a>
          </div>
		  {%- if product.id == 4773122080839  -%}
          <div class="block" >
            <div class="_w-features">
              <div class="_w-feature-icon-and-label wing-out" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '1.svg' | asset_url }}" alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Multi-Function</div>
              </div>
              <div class="_w-feature-icon-and-label wing-in" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '2.svg' | asset_url }} " alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Bacteria & <br> Odor Resistant</div>
              </div>
              <div class="_w-feature-icon-and-label" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '3.svg' | asset_url }}" alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Non-Porous</div>
              </div>
              <div class="_w-feature-icon-and-label wing-in" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '4.svg' | asset_url }} " alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Non-Abrasive</div>
              </div>
              <div class="_w-feature-icon-and-label wing-out" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '5.svg' | asset_url }}" alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Hygienic</div>
              </div>
            </div>
          </div>
		  {% elsif product.id == 4772860035143 %}
		   <div class="block" >
            <div class="_w-features">
              <div class="_w-feature-icon-and-label wing-out" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '1_dish.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Perfect for All Dishwashers</div>
              </div>
              <div class="_w-feature-icon-and-label wing-in" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '2_dish.jpg' | asset_url }} " alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Tough On<br>Lime and Mineral Deposits</div>
              </div>
              <div class="_w-feature-icon-and-label" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '3.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Triple Active Oxygen Decontamination</div>
              </div>
              <div class="_w-feature-icon-and-label wing-in" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '4.jpg' | asset_url }} " alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Removes 99.9% of Bacteria</div>
              </div>
              <div class="_w-feature-icon-and-label wing-out" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '5.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Removes Pathogens in less than 20 Mins</div>
              </div>
            </div>
          </div>
		  {%- else -%}
		    <div class="block" >
            <div class="_w-features">
              <div class="_w-feature-icon-and-label wing-out" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '1.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Perfect for All Washers</div>
              </div>
              <div class="_w-feature-icon-and-label wing-in" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '2.jpg' | asset_url }} " alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Tough On<br>Dirt/Residue</div>
              </div>
              <div class="_w-feature-icon-and-label" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '3.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Triple Active Oxygen Decontamination</div>
              </div>
              <div class="_w-feature-icon-and-label wing-in" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '4.jpg' | asset_url }} " alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Removes 99.9% of Bacteria</div>
              </div>
              <div class="_w-feature-icon-and-label wing-out" >
			  <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ '5.jpg' | asset_url }}" alt="" class="image-8 lazyload"></a>
                <div class="text-block-5">Removes Pathogens in less than 20 Mins</div>
              </div>
            </div>
          </div>
		  {%- endif  -%}
        </div>
      </div>
    </div>
	

{% schema %}
{
  "name": "Inline info 2",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
