<div id="fixed_teeth_4">

	<div  class="container text-center">

	<div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="{{ 'teethkit.png' | asset_url }}" width="200" height="200" class="img-responsive lazyload" >
              <h4>Teeth1</h4>
              <span class="text-muted">Product info</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
               <img data-src="{{ 'teethkit.png' | asset_url }}" width="200" height="200" class="img-responsive lazyload" >
              <h4>Teeth2</h4>
              <span class="text-muted">Product info</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
               <img data-src="{{ 'teethkit.png' | asset_url }}" width="200" height="200" class="img-responsive lazyload" >
              <h4>Teeth3</h4>
              <span class="text-muted">Product info</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
             <img data-src="{{ 'teethkit.png' | asset_url }}" width="200" height="200" class="img-responsive lazyload" >
              <h4>Teeth4</h4>
              <span class="text-muted">Product info</span>
            </div>
          </div>
	<hr class="featurette-divider">
	</div>
</div>

{% schema %}
{
  "name": "Inline teeth 1"
}
{% endschema %}
