 <style>

		#shopify-section-{{section.id}} p {
			color: {{ section.settings.text_bg }};
			font-size: 22px;
		}
		
		#shopify-section-{{section.id}} h2 {
		line-height: 3rem;
			font-size: 20px;
			
		}

		
		@media screen and (min-width: 768px){
			#shopify-section-{{section.id}} h2 {
			line-height: 4rem;
				font-size: 30px;
			}
		}
    </style>
<div id="shopify-section-[id]">

	<div class="container">
<div class="col-sm-9 col-md-9">

<h2><strong>How to Get SafeMend™ Non-Toxic Wall Mending Agent for Use?</strong></h2>
<br>
<p>1) Go ahead and order <span class="btn-buy-product custom-btn-3">here</span></p>
<br>
<p>2) Give your wall a quick smooth fix with no hassle</p>
<br>
<div class="col-sm-12 col-md-12 button btn-buy-product custom-btn-2" style="font-style:normal">
If you want to check if it’s still active & inventory is in stock, click here or the button below
<i class="fa fa-caret-right" aria-hidden="true"></i>
</div>
<div class="col-sm-12 col-md-12 button btn-buy-product custom-btn-4" style="margin-bottom: 20px">
GET 50% OFF NOW
<i class="fa fa-caret-right" aria-hidden="true"></i>
</div>
		</div>

	</div><!-- / container -->

</div>

{% schema %}
{
  "name": "Inline info 8",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
