
<div id="shopify-section-fixed_variants_selector">
<div  class="container ">
  <div class="row">
	   <div class="col-md-6 product-column">
              {% render 'product-gallery-teeth' %}
            </div>
			
			 <div class="col-md-6 box-shadow-custom product-column">
            {% render 'product-info-teeth' %}
          </div>
   </div>
</div>
</div>

{%- include 'carthook-checkout' -%}

{% schema %}
{
  "name": "Variants block"
 
}
{% endschema %}
