 <style>
	#shopify-section-{{section.id}}	.redbar{
			background: {{ section.settings.underline_bg }};
		}
		#shopify-section-{{section.id}} .product-features{
			background: {{ section.settings.pf_bg }};
		}
		#shopify-section-{{section.id}} .product-features h1{
			color:{{ section.settings.pf_text_bg }};
		}
		#shopify-section-{{section.id}} .product-features p {
		   color:{{ section.settings.pf_text_bg }};
		}
		
		#shopify-section-{{section.id}} .darkbg p {
			 color:{{ section.settings.pf_text_2_bg }};
		}

		#shopify-section-{{section.id}} .darkbg{
			background: {{ section.settings.pf_sub_bg }};
		}
    </style>
<div class="product-features">
	<div class="container">
	<div class="row">
	<div class="col-md-12 np">
		<h1>{{section.settings.pf_text_header}}</h1>
		<p class="m-left">{{section.settings.pf_text_1}}</p>
		<div class="redbar m-left">&nbsp;</div>
	</div><!-- / column -->

	</div><!-- / row -->

	<div class="clearfix"></div>
	<div class="row">
		<div class="col-lg-5 col-md-6 mobile-none np ">
		  {% if section.settings.pf_image %}
			<img src="{{ section.settings.pf_image | img_url: '600x600' }}" >
		{% endif %}
		</div><!-- / column -->
		<div class="col-lg-7 col-md-6 darkbg">
			<!--<img src="img/bolt.svg" class="icon-small" />--> <p class="m-bottom"><span class="bold">{{section.settings.pf_list_header_1}}</span> <br> {{section.settings.pf_list_text_1}}</p><div class="clearfix"></div>

			<!--<img src="img/battery.svg" class="icon-small" />--> <p class="m-bottom"><span class="bold">{{section.settings.pf_list_header_2}}</span> <br> {{section.settings.pf_list_text_2}}</p><div class="clearfix"></div>

			<!--<img src="img/bulb.svg" class="icon-small" />--> <p class="m-bottom"><span class="bold">{{section.settings.pf_list_header_3}}</span> <br> {{section.settings.pf_list_text_3}}</p><div class="clearfix"></div>
		</div><!-- / column -->

	</div><!-- / row -->
	<br> <br>
</div><!-- / container -->

{% if section.settings.rated_text_header or section.settings.rated_text_content %}
 <style>
		.top-rated {
          background-color: {{ section.settings.rated_bg }};
        }

		.top-rated h1 {
			color: {{ section.settings.rated_text_bg }};
		}
		.top-rated p{
			color: {{ section.settings.rated_text_bg }};
		}
    </style>
<div class="top-rated">

	<div class="container">

			<h1>{{section.settings.rated_text_header}}</h1>

			<div class="redbar m-left">&nbsp;</div>

			<p><span class="bold">{{section.settings.rated_text_content}}</span></p>

	</div><!-- / container -->

</div><!-- / top-rated -->

{% endif %}
</div>

{% schema %}
{
  "name": "Product Features Info",
  "settings": [
  {
      "type": "text",
          "id": "pf_text_header",
          "label": "Product Feature Header Text",
          "default": "Product Feature Header Text"
    },
	 {
      "type": "text",
          "id": "pf_text_1",
          "label": "Product Feature Text 1",
          "default": "Product Feature Text 1"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	 {
      "type": "text",
          "id": "pf_list_header_1",
          "label": "List header 1",
          "default": "List header 1"
    },
	 {
      "type": "text",
          "id": "pf_list_text_1",
          "label": "List text 1",
          "default": "List text 1"
    },
	 {
      "type": "text",
          "id": "pf_list_header_2",
          "label": "List header 2",
          "default": "List header 2"
    },
	 {
      "type": "text",
          "id": "pf_list_text_2",
          "label": "List text 2",
          "default": "List text 2"
    },
	 {
      "type": "text",
          "id": "pf_list_header_3",
          "label": "List header 3",
          "default": "List header 3"
    },
	 {
      "type": "text",
          "id": "pf_list_text_3",
          "label": "List text 3",
          "default": "List text 3"
    },
	{
      "type": "color",
      "id": "pf_text_bg",
        "label": "Main Text color",
      "default": "#484848"
    },
	{
      "type": "color",
      "id": "pf_text_2_bg",
	  "label": "Sub block Text color",
      "default": "#494949"
    },
	{
      "type": "color",
      "id": "pf_bg",
	  "label": "Background",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "pf_sub_bg",
	  "label": "Sub block Background",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "rated_text_header",
          "label": "Top Rated Header Text",
          "default": "Top Rated Header Text"
    },
	{
      "type": "text",
          "id": "rated_text_content",
          "label": "Top RatedContent Text",
          "default": "Top Rated Content Text"
    },
    {
      "type": "color",
      "id": "rated_bg",
      "label": "Top Rated Bar",
      "default": "#eee"
    },
    {
      "type": "color",
      "id": "rated_text_bg",
      "label": "Top Rated Text color",
      "default": "#494949"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
