
	<div class="s-worth">
      <div class="container-lg">
		{%- if product.id == 4773122080839  -%}
       <div class="row align-items-center justify-content-between">
			<div class="col-md-6" >
       
                <h2>Squeegee</h2>
                <p>Designed with a squeegee to conveniently push food off plates and countertops.</p>
            </div>
             <div class="col-md-6 text-center" >
                <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ 'ever5.jpg' | asset_url }}" alt="" class="image-10 lazyload card-shadow-custom" /></a>
            </div>
        
        </div>
		{% elsif product.id == 4772860035143 %}
		 <div class="row align-items-center justify-content-between">
			<div class="col-md-6" >
           
                <h2>For All Washing Machines</h2>
                <p>Our tablets are safe to use with all dishwasher makes and models, including Whirlpool, KitchenAid, Maytag, and more.</p>
            </div>
             <div class="col-md-6 text-center" >
                <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ 'wash_warrior_4_dish.jpg' | asset_url }}" alt="" class="image-10 lazyload card-shadow-custom" /></a>
            </div>
     
        </div>
		{% elsif product.id == 4773126570055 %}
		  <div class="row align-items-center justify-content-between">
			<div class="col-md-6" >
           
                <h2>Great for All Washing Machines</h2>
                <p>Whether you own a top loader or front loader machine, a high efficiency or conventional washer, wash warriors wipes are the most efficient option for convenient and easy cleaning.</p>
            </div>
           <div class="col-md-6 text-center" >
                <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ 'wash_warrior_4.jpg' | asset_url }}" alt="" class="image-10 lazyload card-shadow-custom" /></a>
            </div>
        </div>
		{%- else -%}
		    <div class="row align-items-center justify-content-between">
			<div class="col-md-6" >
          
                <h2>For All Washers</h2>
                <p>Safe to use with Front Load Washing Machines and Top Load Washing Machines - High Efficiency (HE) and Conventional Washers. Septic tank safe.</p>
            </div>
            <div class="col-md-6 text-center" >
                <a  target="_blank" class="w-inline-block btn-buy-product"><img data-src="{{ 'wash_warrior_4.jpg' | asset_url }}" alt="" class="image-10 lazyload card-shadow-custom" /></a>
            </div>
        </div>
		{%- endif -%}
		<div class=" text-center marginbtn" >
			<div class="btn btn-ww btn-buy-product" style="float: none;">ADD TO CART</div>
	</div>
    </div>
	
</div>



{% schema %}
{
  "name": "Inline info 7",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
