<div class="position-relative">
    <div class="shape shape-fluid-x shape-top text-dark pt-15">
        <div class="shape-img pb-8 pb-md-12">
            <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor"></path></svg>
        </div>
    </div>
</div>
<div class="s-review">
    <div class="container">
        <div class=" review">
            {%- if product.id == 4773122080839 -%}

            <section class="my-6 my-lg-7">
                <div class="container py-8">
                    <div class="row justify-content-center align-items-center text-center">
                        <div class="col-lg-10 text-white">
                            <h2>Does <a class="btn-buy-product" style="text-decoration: underline; color: #fff !important; cursor: pointer;">Wash Warrior</a> actually Work?</h2>
                            <h4 class="font text-white mb-0">
                                Here’s some of the impressive feedback we’ve gotten about <a class="btn-buy-product" style="text-decoration: underline; color: #fff !important; cursor: pointer;">Wash Warrior</a> from our happy customers.
                            </h4>
                        </div>
                    </div>
                </div>
            </section>

            <div class="block">
                <div class="_w-review">
                    <section class="my-6 my-lg-7">
                        <div class="container py-8">
                            <div class="row justify-content-center align-items-center text-center">
                                <div class="col-lg-10 text-white">
                                    <h3 class="font-size-4 font-weight-normal font-italic">
                                        “Much better than a conventional sponge and won’t have to buy anymore anytime soon”
                                    </h3>
                                    <p class="font-size-6 text-white mb-0">
                                        Rita S., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="my-6 my-lg-7">
                        <div class="container py-8">
                            <div class="row justify-content-center align-items-center text-center">
                                <div class="col-lg-10 text-white">
                                    <h3 class="font-size-4 font-weight-normal font-italic">
                                        “First off, sponges are super gross and filled with nasty bacteria.<br class="d-none d-lg-block" />
                                        Any attempt to eliminate sponge usage should be celebrated. As for this product in particular, I think it is really quite effective.<br class="d-none d-lg-block" />
                                        It fits nicely into my hand. The grooves easily scrub stuff of the plate, though cheese makes for a tough opponent.<br class="d-none d-lg-block" />
                                        It even has a scrapper at the top. This is our new sponge.”
                                    </h3>
                                    <p class="font-size-6 text-white mb-0">
                                        Lisa M., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="my-6 my-lg-7">
                        <div class="container py-8">
                            <div class="row justify-content-center align-items-center text-center">
                                <div class="col-lg-10 text-white">
                                    <h3 class="font-size-4 font-weight-normal font-italic">
                                        “I love this amazing kitchen tool - easy open packaging and ready to use with or without dish soap.<br class="d-none d-lg-block" />
                                        Gentle enough for all you cookware and dishes but can easily handle baked on foods.<br class="d-none d-lg-block" />
                                        Fill with soap for a fast, effortless clean before popping on the top rack of the dishwasher to sterilize!”
                                    </h3>
                                    <p class="font-size-6 text-white mb-0">
                                        Holly L., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <a id="w-node-d42f70dfe175-5d1eaee6" target="_blank" class="image-13 _2 w-inline-block btn-buy-product">
                        <img data-src="{{ '0_I-Review-Comp-2.png' | asset_url }}" id="w-node-9f2f1be00c9c-5d1eaee6" alt="" class="i-100 lazyload" />
                    </a>

                    <a target="_blank" class="image-13 w-inline-block btn-buy-product"> <img data-src="{{ '0_I-Review-Comp-1.png' | asset_url }}" alt="" class="i-100 lazyload" /></a>
                </div>
                {% elsif product.id == 4772860035143 %}

                <section class="my-6 my-lg-7">
                    <div class="container py-8">
                        <div class="row justify-content-center align-items-center text-center">
                            <div class="col-lg-10 text-white">
                                <h2>Does <a class="btn-buy-product" style="text-decoration: underline; color: #fff !important; cursor: pointer;">Wash Warrior</a> actually Work?</h2>
                                <h4 class="font text-white mb-0">
                                    Here’s what a few of our happy customers have to say about <a class="btn-buy-product" style="text-decoration: underline; color: #fff !important; cursor: pointer;">Wash Warrior™ Dishwasher Cleaner</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="block">
                    <div class=" _w-review">
                        <section class="my-6 my-lg-7">
                            <div class="container py-8">
                                <div class="row justify-content-center align-items-center text-center">
                                    <div class="col-lg-10 text-white">
                                        <h3 class="font-size-4 font-weight-normal font-italic">
                                            “The tablets to clean the washer worked very well. There was no residue.”
                                        </h3>
                                        <p class="font-size-6 text-white mb-0">
                                            Carol A., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="my-6 my-lg-7">
                            <div class="container py-8">
                                <div class="row justify-content-center align-items-center text-center">
                                    <div class="col-lg-10 text-white">
                                        <h3 class="font-size-4 font-weight-normal font-italic">
                                            “I'm sold. We have a new monthly easy way of cleaning our washing machine. Thanks.”
                                        </h3>
                                        <p class="font-size-6 text-white mb-0">
                                            Howard, <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="my-6 my-lg-7">
                            <div class="container py-8">
                                <div class="row justify-content-center align-items-center text-center">
                                    <div class="col-lg-10 text-white">
                                        <h3 class="font-size-4 font-weight-normal font-italic">
                                            “Appreciate the new clean odor inside my wash tub!!”
                                        </h3>
                                        <p class="font-size-6 text-white mb-0">
                                            Roberta L., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <a id="w-node-d42f70dfe175-5d1eaee6" target="_blank" class="image-13 _2 w-inline-block btn-buy-product">
                            <img data-src="{{ '0_I-Review-Comp-2_dish.png' | asset_url }}" id="w-node-9f2f1be00c9c-5d1eaee6" alt="" class="i-100 lazyload" />
                        </a>

                        <a target="_blank" class="image-13 w-inline-block btn-buy-product"> <img data-src="{{ '0_I-Review-Comp-1_dish.png' | asset_url }}" alt="" class="i-100 lazyload" /></a>
                    </div>
                    {% elsif product.id == 4773126570055 %}
                    <style>
                        .card-review h3 {
                            font-size: 30px;
                        }
                        .p-review {
                            font-size: 16px;
                        }
                        .image-13 {
                            top: 15%;
                        }
                    </style>
                    <section class="my-6 my-lg-7">
                        <div class="container py-8">
                            <div class="row justify-content-center align-items-center text-center">
                                <div class="col-lg-10 text-white">
                                    <h2>Does <a class="btn-buy-product" style="text-decoration: underline; color: #fff !important; cursor: pointer;">Wash Warrior</a> actually Work?</h2>
                                    <h4 class="font text-white mb-0">
                                        Here’s some of the impressive feedback we’ve gotten about <a class="btn-buy-product" style="text-decoration: underline; color: #fff !important; cursor: pointer;">Wash Warrior</a> from our happy customers.
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="block">
                        <div class=" _w-review">
                            <section class="my-6 my-lg-7">
                                <div class="container py-8">
                                    <div class="row justify-content-center align-items-center text-center">
                                        <div class="col-lg-10 text-white">
                                            <h3 class="font-size-4 font-weight-normal font-italic">
                                                “I was iffy on buying this but I am glad I did. It worked wonderfully and cleared all the odors out of my washer. <br class="d-none d-lg-block" />
                                                I like them and they are easy to use, just drop one into the washer and let the magic work itself!<br class="d-none d-lg-block" />
                                                I had tried other cleaning methods and this was the best. Best part of it came in 3 days.”
                                            </h3>
                                            <p class="font-size-6 text-white mb-0">
                                                Sam S., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="my-6 my-lg-7">
                                <div class="container py-8">
                                    <div class="row justify-content-center align-items-center text-center">
                                        <div class="col-lg-10 text-white">
                                            <h3 class="font-size-4 font-weight-normal font-italic">
                                                “I bought Wash Warrior to make my washing machine smell brand new and the clothes <br class="d-none d-lg-block" />
                                                to smell fresh and I was very surprised this stuff really works.<br class="d-none d-lg-block" />
                                                If you’re tired of stinky laundry this is wonderful I give it two thumbs up.”
                                            </h3>
                                            <p class="font-size-6 text-white mb-0">
                                                Lillian M., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="my-6 my-lg-7">
                                <div class="container py-8">
                                    <div class="row justify-content-center align-items-center text-center">
                                        <div class="col-lg-10 text-white">
                                            <h3 class="font-size-4 font-weight-normal font-italic">
                                                “Clear and simple instructions. Have used one tablet thus far and definitely cleaned the inside of the washer. <br class="d-none d-lg-block" />
                                                I was shocked at how dirty it was without really ever realizing.<br class="d-none d-lg-block" />
                                                Glad I got the 18 pack so I’m good for a while. Great Product.”
                                            </h3>
                                            <p class="font-size-6 text-white mb-0">
                                                May I., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="my-6 my-lg-7">
                                <div class="container py-8">
                                    <div class="row justify-content-center align-items-center text-center">
                                        <div class="col-lg-10 text-white">
                                            <h3 class="font-size-4 font-weight-normal font-italic">
                                                “This is my first time ever trying Wash Warrior. I don’t know why I waited so long to try it but let me just tell you that <br class="d-none d-lg-block" />
                                                I did 4 cleaning cycles with hot water and the product inside the washer and also a final rinse with no product<br class="d-none d-lg-block" />
                                                to remove any excess build up. My washer no longer had the swampy smell! I am beyond pleased and super happy with this product.<br class="d-none d-lg-block" />
                                                Will be a regular user from here on out!”
                                            </h3>
                                            <p class="font-size-6 text-white mb-0">
                                                Kiara D., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <a id="w-node-d42f70dfe175-5d1eaee6" target="_blank" class="image-13 _2 w-inline-block btn-buy-product">
                                <img data-src="{{ '0_I-Review-Comp-2.png' | asset_url }}" id="w-node-9f2f1be00c9c-5d1eaee6" alt="" class="i-100 lazyload" />
                            </a>

                            <a target="_blank" class="image-13 w-inline-block btn-buy-product"> <img data-src="{{ '0_I-Review-Comp-1.png' | asset_url }}" alt="" class="i-100 lazyload" /></a>
                        </div>
                        {%- else -%}

                        <section class="my-6 my-lg-7">
                            <div class="container py-8">
                                <div class="row justify-content-center align-items-center text-center">
                                    <div class="col-lg-10 text-white">
                                        <h2>Does <a class="btn-buy-product" style="text-decoration: underline; color: #fff !important; cursor: pointer;">Wash Warrior</a> actually Work?</h2>
                                        <h4 class="font text-white mb-0">
                                            Here’s some of the impressive feedback we’ve gotten about <a class="btn-buy-product" style="text-decoration: underline; color: #fff !important; cursor: pointer;">Wash Warrior</a> from our happy customers.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="block">
                            <div class=" _w-review">
                                <section class="my-6 my-lg-7">
                                    <div class="container py-8">
                                        <div class="row justify-content-center align-items-center text-center">
                                            <div class="col-lg-10 text-white">
                                                <h3 class="font-size-4 font-weight-normal font-italic">
                                                    “The tablets to clean the washer worked very well. There was no residue.”
                                                </h3>
                                                <p class="font-size-6 text-white mb-0">
                                                    Carol A., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                    <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                    <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                    <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="my-6 my-lg-7">
                                    <div class="container py-8">
                                        <div class="row justify-content-center align-items-center text-center">
                                            <div class="col-lg-10 text-white">
                                                <h3 class="font-size-4 font-weight-normal font-italic">
                                                    “I'm sold. We have a new monthly easy way of cleaning our washing machine. Thanks.”
                                                </h3>
                                                <p class="font-size-6 text-white mb-0">
                                                    Howard, <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                    <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                    <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                    <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="my-6 my-lg-7">
                                    <div class="container py-8">
                                        <div class="row justify-content-center align-items-center text-center">
                                            <div class="col-lg-10 text-white">
                                                <h3 class="font-size-4 font-weight-normal font-italic">
                                                    “Appreciate the new clean odor inside my wash tub!!”
                                                </h3>
                                                <p class="font-size-6 text-white mb-0">
                                                    Roberta L., <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                    <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                    <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                    <i class="fa fa-star" style="color: #fff !important;" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <a id="w-node-d42f70dfe175-5d1eaee6" target="_blank" class="image-13 _2 w-inline-block btn-buy-product">
                                    <img data-src="{{ '0_I-Review-Comp-2.png' | asset_url }}" id="w-node-9f2f1be00c9c-5d1eaee6" alt="" class="i-100 lazyload" />
                                </a>

                                <a target="_blank" class="image-13 w-inline-block btn-buy-product"> <img data-src="{{ '0_I-Review-Comp-1.png' | asset_url }}" alt="" class="i-100 lazyload" /></a>
                            </div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-relative">
    <div class="shape shape-fluid-x shape-bottom text-dark">
        <div class="shape-img pb-8 pb-md-12">
            <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 0h100v50H75L25 25H0z" fill="currentColor"></path></svg>
        </div>
    </div>
</div>

{% schema %} { "name": "Inline info 5", "settings": [ { "type": "color", "id": "section_bg", "label": "Bar", "default": "#212121" }, { "type": "image_picker", "id": "image_block", "label":"Main image" }, { "type": "image_picker", "id":
"image_block_2", "label":"Main image 2" }, { "type": "color", "id": "text_bg", "label": "Text color", "default": "#ffffff" } ] } {% endschema %}
