<div id="fixed_teeth_5">


<div class="product-block-2 product-block container">
<div class="row">
 <div class="col-md-6 ">
          <img class="featurette-image img-responsive center-block lazyload" data-src="{{ 'teethkit.png' | asset_url }}" >
        </div>
    <div class="col-md-6 product-block-container" style="margin-top:40px;">
        <h3 class="block-head">Product scientifically proven ingredients.</h3>
        <div class="body-container">
            <div class="body-text">
               The FDA approved formula also helps prevent future stains and is safe to use on: caps, veneers, braces, crowns, and bridges.

is the best on the market. The system includes the world's most advanced proprietary teeth whitening serum only available here, plus the Original, patented safe LED activating technology.
            </div>
        </div>
        <div class="body-container">
            <div class="pap-bullet">
                <i>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.3334 9.23336V10C18.3324 11.797 17.7505 13.5456 16.6745 14.9849C15.5986 16.4242 14.0862 17.4771 12.3629 17.9866C10.6396 18.4961 8.7978 18.4349 7.11214 17.8122C5.42648 17.1894 3.98729 16.0384 3.00922 14.5309C2.03114 13.0234 1.56657 11.2401 1.68481 9.44696C1.80305 7.65383 2.49775 5.94697 3.66531 4.58092C4.83288 3.21488 6.41074 2.26285 8.16357 1.86682C9.91641 1.47079 11.7503 1.65198 13.3918 2.38336"
                            stroke="inherit"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path d="M18.3333 3.33331L10 11.675L7.5 9.17498" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </i>
            </div>
            <div class="body-text">
                Brush the serum on to your teeth. Our key whitening ingredients ensure there’s no pain or sensitivity
            </div>
        </div>
        <div class="body-container">
            <div class="pap-bullet">
                <i>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.3334 9.23336V10C18.3324 11.797 17.7505 13.5456 16.6745 14.9849C15.5986 16.4242 14.0862 17.4771 12.3629 17.9866C10.6396 18.4961 8.7978 18.4349 7.11214 17.8122C5.42648 17.1894 3.98729 16.0384 3.00922 14.5309C2.03114 13.0234 1.56657 11.2401 1.68481 9.44696C1.80305 7.65383 2.49775 5.94697 3.66531 4.58092C4.83288 3.21488 6.41074 2.26285 8.16357 1.86682C9.91641 1.47079 11.7503 1.65198 13.3918 2.38336"
                            stroke="inherit"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path d="M18.3333 3.33331L10 11.675L7.5 9.17498" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </i>
            </div>
            <div class="body-text">
                Place the light into your mouth and whiten. Our key whitening ingredients ensure there’s no pain or sensitivity
            </div>
        </div>
        <div class="body-container">
            <div class="pap-bullet">
                <i>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.3334 9.23336V10C18.3324 11.797 17.7505 13.5456 16.6745 14.9849C15.5986 16.4242 14.0862 17.4771 12.3629 17.9866C10.6396 18.4961 8.7978 18.4349 7.11214 17.8122C5.42648 17.1894 3.98729 16.0384 3.00922 14.5309C2.03114 13.0234 1.56657 11.2401 1.68481 9.44696C1.80305 7.65383 2.49775 5.94697 3.66531 4.58092C4.83288 3.21488 6.41074 2.26285 8.16357 1.86682C9.91641 1.47079 11.7503 1.65198 13.3918 2.38336"
                            stroke="inherit"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path d="M18.3333 3.33331L10 11.675L7.5 9.17498" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </i>
            </div>
            <div class="body-text">
                Rinse and admire your Pearly Whites!. Our key whitening ingredients ensure there’s no pain or sensitivity
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">
</div>

</div>

{% schema %}
{
  "name": "Inline teeth 1"
}
{% endschema %}
