
{%- assign product = all_products[settings.featured_product_global] -%}
{% assign current_variant = product.selected_or_first_available_variant %}
	{%- assign diff2 = 4.98 | minus: 4.91 -%}
		{%- assign reviewsRating = 'now' | date: '%N' | modulo: diff2 | plus: 4.91 -%}

		{%- if reviewsRating > 0 and reviewsRating < 6 -%}
			{%- assign reviewsRating = reviewsRating | plus:0 -%}
		{%- else -%}
			{%- assign reviewsRating = 0 -%}
		{%- endif -%}

	

	
		{%- assign reviewsNumber = 2417 -%}
		{%- assign reviewsNumber = reviewsNumber | plus:0 -%}
	

	
		{%- assign reviewsNumber = 2417 -%}

		{%- assign min = 2400 -%}
		{%- assign max = 3000 -%}
		{%- assign diff = max | minus: min -%}
		{%- assign reviewsNumber = 'now' | date: '%N' | modulo: diff | plus: min -%}
	
{%- assign reviewsRatingInteger = reviewsRating | floor -%}
{%- assign reviewsRatingIncrement = reviewsRatingInteger | plus:1 -%}
{%- assign reviewsRatingDelta = reviewsRating | times:10 | modulo:10 -%}



<!--Start Stamped.io Auto Installation--><div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard"  data-product-id="{{ product.id }}"  data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}">{{ product.metafields.stamped.reviews }}</div><!--End Stamped.io Auto Installation-->
<style>
li#tab-questions[data-count][data-new-tab]::after, li#tab-reviews[data-count]::after {
    content: none !important;
}

.stamped-summary-ratings{
position: relative !important;
}

@media only screen and (max-width: 480px){
.stamped-hide-mobile {
     display: inline-block !important;
}
.stamped-pagination a {
    padding: 5px !important;
}
}
</style>
{%- capture product_reviewsHeader -%}
{%- if reviewsRating > 0 and reviewsNumber > 0 -%}
					<span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{product.id}}" style="display: block;">
						<span class="stamped-badge" data-rating="{{ reviewsRating }}" data-lang="">
						
							<span data-reviews="{{ reviewsNumber }}" style=" color: #000; font-size: 19px;margin-right: 5px;" data-rating="{{ reviewsRating }}">{{ reviewsRating }}</span>
							<span class="stamped-starrating stamped-badge-starrating">
								{%- for i in (1..5) -%}
									{%- if i <= reviewsRatingInteger -%}
										<i class="stamped-fa stamped-fa-star"></i>

									{%- else -%}
										{%- if i == reviewsRatingIncrement and reviewsRatingDelta > 0 -%}
											<i class="stamped-fa stamped-fa-star-half-o"></i>

										{%- else -%}
											<i class="stamped-fa stamped-fa-star-o"></i>

										{%- endif -%}

									{%- endif -%}

								{%- endfor -%}
							</span>
							
						

							<span class="stamped-badge-caption" style="color: #000;letter-spacing: 0.0048em; font-size: 14px;" data-reviews="{{ reviewsNumber }}" data-rating="{{ reviewsRating }}">{{ reviewsNumber }} Reviews</span>
						</span>

					</span>

				{%- else -%}
					<span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: block;">{{ product.metafields.stamped.badge }}</span> 

				{%- endif -%}
				{%- endcapture -%}
				
 {%- if reviewsRating > 0 and reviewsNumber > 0 -%}
	{%- assign rating_5 = reviewsNumber | times:94 | divided_by:100 -%}
	{%- assign rating_4 = reviewsNumber | times:5 | divided_by:100 -%}
	{%- assign rating_3 = reviewsNumber | minus:rating_5 | minus:rating_4 -%}
	{%- assign rating_2 = 0 -%}
	{%- assign rating_1 = 0 -%}

	{%- capture reviewsHeader -%}
		<span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
			<meta itemprop="bestRating" content="5">
			<meta itemprop="ratingValue" content="{{ reviewsRating }}">
			<meta itemprop="reviewCount" content="{{ reviewsNumber }}">
			<meta itemprop="itemreviewed" content="VIP Teeth Whitening Kit">
		</span>

		<div class="stamped-summary" data-count="{{ reviewsNumber }}">
			<div style="width:200px; float:left" class="summary-overview">
			<span class=" stamped-summary-caption stamped-summary-caption-1">
						<span class="stamped-summary-text-2" data-count="{{ reviewsNumber }}" data-rating="{{ reviewsRating }}" style="display: none;color: #000;line-height: 30px;margin-right: 5px;">{{ reviewsRating }}</span>
				</span>

				<span class="stamped-starrating stamped-summary-starrating">

					{%- for i in (1..5) -%}
						{%- if i <= reviewsRatingInteger -%}
							<i class="stamped-fa stamped-fa-star"></i>

						{%- else -%}
							{%- if i == reviewsRatingIncrement and reviewsRatingDelta > 0 -%}
								<i class="stamped-fa stamped-fa-star-half-o"></i>

							{%- else -%}
								<i class="stamped-fa stamped-fa-star-o"></i>

							{%- endif -%}

						{%- endif -%}

					{%- endfor -%}

					
				</span>
				<span class="stamped-summary-caption stamped-summary-caption-2">
						
						<span class="stamped-summary-text" data-count="{{ reviewsNumber }}" data-rating="{{ reviewsRating }}">Based on {{ reviewsNumber }} reviews</span>
					</span>
			</div>

			<div class="stamped-summary-ratings" data-count="{{ reviewsNumber }}" style="">
				<div class="summary-rating" data-count="{{ rating_5 }}">
					<div class="summary-rating-title">5 ★</div>

					<div class="summary-rating-bar" data-rating="5">
						<div class="summary-rating-bar-content" style="width:94%;" data-rating="94">94%&nbsp;</div>
					</div>

					<div class="summary-rating-count">{{ rating_5 }}</div>
				</div>

				<div class="summary-rating" data-count="{{ rating_4 }}">
					<div class="summary-rating-title">4 ★</div>

					<div class="summary-rating-bar" data-rating="4">
						<div class="summary-rating-bar-content" style="width:5%;" data-rating="5">5%&nbsp;</div>
					</div>

					<div class="summary-rating-count">{{ rating_4 }}</div>
				</div>

				<div class="summary-rating" data-count="{{ rating_3 }}">
					<div class="summary-rating-title">3 ★</div>

					<div class="summary-rating-bar" data-rating="7">
						<div class="summary-rating-bar-content" style="width:1%;" data-rating="1">1%&nbsp;</div>
					</div>

					<div class="summary-rating-count">{{ rating_3 }}</div>
				</div>

				<div class="summary-rating" data-count="{{ rating_2 }}">
					<div class="summary-rating-title">2 ★</div>

					<div class="summary-rating-bar" data-rating="2">
						<div class="summary-rating-bar-content" style="width:0%;" data-rating="0">0%&nbsp;</div>
					</div>

					<div class="summary-rating-count">{{ rating_2 }}</div>
				</div>

				<div class="summary-rating" data-count="{{ rating_1 }}">
					<div class="summary-rating-title">1 ★</div>

					<div class="summary-rating-bar" data-rating="1">
						<div class="summary-rating-bar-content" style="width:0%;" data-rating="0">0%&nbsp;</div>
					</div>

					<div class="summary-rating-count">{{ rating_1 }}</div>
				</div>
			</div>

			{% comment %}
				<div class="stamped-summary-photos stamped-summary-photos-container" style="display:none;">
					<div class="stamped-photos-title"> Customer Photos </div>
					<div style="position:relative;overflow: hidden;">
					<div class="stamped-photos-carousel" data-total="0">
					<div></div>
					</div>
					</div>
					<div class="stamped-photos-carousel-btn-left"> <span class="btn-slide-left" data-direction="left"><i class="fa fa-chevron-left"></i></span></div>
					<div class="stamped-photos-carousel-btn-right"> <span class="btn-slide-right" data-direction="right"><i class="fa fa-chevron-right"></i></span></div>
				</div>
			{% endcomment %}

<div class="stamped-summary-photos stamped-summary-photos-container" aria-hidden="true" style="">
 <!-- <div style=" z-index: 10000000;"><video width="89" height="158" preload="auto" style="display: block;" class="_ox1 _21y0"  allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true" data-video-width="89" data-video-height="158" id="u_0_5_yX" src="{{ '164865350_881943199034692_5651481918531007701_n.mp4' | asset_url }}"></video> -->
           		
            <!-- </div> -->
			
			 {%- if product.id == 4772860035143  -%}
		
		
            {%- else -%}
				  <div style=" z-index: 10000000;"><iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Ftellie.marie%2Fvideos%2F10215865668394092%2F&show_text=false&width=320" width="230" height="244" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe></div>
			
			{%- endif -%}
            </div>
			<span class="stamped-summary-actions">
				<a href="#" class="stamped-summary-actions-newreview" onclick="StampedFn.toggleForm(&quot;review&quot;,&quot;1720538202158&quot;);return false">Write a Review</a>
				<a href="#" class="stamped-summary-actions-newquestion" style="display:none;" onclick="StampedFn.toggleForm('question', '1720538202158');return false">Ask a Question</a>
			</span>

		</div>

	{%- endcapture -%}

	{%- assign reviewsHeader = reviewsHeader | strip_newlines -%}

	<script>
		var revHeadNew = {{ reviewsHeader | json }};
		var product_revHeadNew = {{ product_reviewsHeader | json }};
		var revNum = {{ reviewsNumber }};
		var r5 = {{ rating_5 }};

		var revTimer = setInterval( function() {
			if ( typeof window.StampedFn !== 'undefined' ) {

				var revHeadOld = document.getElementById('stamped-main-widget').getElementsByClassName('stamped-header')[0];
				var revContainer = document.getElementsByClassName('stamped-container')[0];

				var revNode = document.getElementById('stamped-main-widget');
				revNode.style.opacity = 1;
				var shipsUsaBlock = document.querySelector('.ships_usa_block');
					if(shipsUsaBlock) {
						shipsUsaBlock.classList.remove('d-none');
					}
				
				document.getElementById('top-reviews-part').innerHTML = product_revHeadNew;

				if ( (typeof revHeadOld !== 'undefined') && (typeof revContainer !== 'undefined') ) {
					revHeadOld.innerHTML = revHeadNew;
					revContainer.setAttribute( 'data-count', revNum );
					$('.stamped-summary-ratings').append('<div style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 10000000;"></div>');
					clearTimeout( revTimer );
				};

			};

		}, 111 );

	</script>

{%- else -%}
	<script>
		var revTimer = setInterval( function() {
			if (typeof window.StampedFn !== 'undefined') {
				var revNode = document.getElementById('stamped-main-widget');
				revNode.style.opacity = 1;

				clearTimeout( revTimer );

			};

		}, 111 );

	</script>

{%- endif -%}