<style>

#shopify-section-{{section.id}} {
          background-color: #50B3DA;
		  color: #fff;
        }
#shopify-section-{{section.id}} .main-container {

  border-bottom: 1px solid #dddddd;
}

#shopify-section-{{section.id}} .main-container *{
font-family: 'Open Sans', helvetica, sans-serif;
list-style: none;
font-size: 14px;
}


		

 .section--tight {
  margin:10px 0;
 }

.text-with-icons__item {
 line-height:1.6;
 margin-top: 10px;
}
.text-with-icons__title {
 margin-bottom:4px;
  color: #fff;
  font-weight: 900 !important;
}
.text-with-icons__icon-wrapper {
 margin-bottom:15px
}
.text-with-icons__icon-wrapper svg {
 width:30px;
 height:30px;
 vertical-align:middle
}
.text-with-icons__icon-wrapper img {
 max-width:30px
}
.text-with-icons__content>p {
 margin-bottom:0
}
@media screen and (max-width: 640px) {
 .text-with-icons {
  padding-bottom:28px;
  text-align:center
 }
 .text-with-icons::after {
  content:'flickity';
  display:none
 }
 .text-with-icons--stacked {
  padding-bottom:0
 }
 .text-with-icons--stacked .text-with-icons__item:not(:last-child) {
  margin-bottom:34px
 }
 .text-with-icons--stacked::after {
  content:''
 }
}
@media screen and (min-width: 641px) {

 .section--tight {
  margin:70px 0;
 }
 
 .text-with-icons {
  display:flex;
  flex-wrap:wrap;
  margin:0 -40px -45px -40px
 }
 .text-with-icons__item {
  display:flex;
  flex-basis:calc(50% - 90px);
  margin:0 40px 45px 40px
 }
 .text-with-icons__icon-wrapper {
  margin:0.5em 18px 0 0;
 }
}
@media screen and (min-width: 1000px) {
 .text-with-icons {
  padding:0 100px;
  justify-content:center
 }
 .text-with-icons__item {
  /*! display:flex; */flex-basis:calc(50% - 140px)
 }
}
@media screen and (min-width: 1280px) {
 .text-with-icons {
  padding:0;
  margin:0 -35px;
  flex-wrap:nowrap;
  justify-content:space-around
 }
 .text-with-icons__item {
  flex-basis:calc(25% - 70px);
  margin:0 35px;
 }
}
.text-with-icons--boxed {
 display:block;
 text-align:center;
 padding-bottom:0;
 border:1px solid #fff;
 border-radius:3px
}
.text-with-icons--boxed .text-with-icons__item {
 display:block;
 text-align:center;
 padding:28px 35px
}
.text-with-icons--boxed .text-with-icons__item:not(:first-child) {
 border-top:1px solid #fff
}
.text-with-icons--boxed .text-with-icons__icon-wrapper {
 margin:0 0 1em 0
}
@media screen and (min-width: 641px) {
 .text-with-icons--boxed {
  display:flex;
  flex-wrap:nowrap;
  margin:0;
  padding:0
 }
 .text-with-icons--boxed .text-with-icons__item {
  margin:0;
  flex:1 0 0
 }
 .text-with-icons--boxed .text-with-icons__item:not(:first-child) {
  border-top:none;
  border-left:1px solid #fff
 }
}

</style>
<div class="container main-container">
<div class="row justify-content-center">
  <section class="section section--tight" data-section-id="{{ section.id }}" data-section-type="text-with-icons">
    <div class="container container--flush">
      <div class="text-with-icons {% if section.settings.stack_mobile %}text-with-icons--stacked{% endif %}">
        {%- for block in section.blocks -%}
          <div class="text-with-icons__item" data-block-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            <div class="text-with-icons__icon-wrapper">
              {%- if block.settings.custom_icon != blank -%}
                <img class="lazyload" data-src="{{ block.settings.custom_icon | img_url: '60x' }}" alt="{{ block.settings.custom_icon.alt | escape }}">
              {%- else -%}
                {%- render 'icon-footer-new', icon: block.settings.icon, stroke_width: 1.5 -%}
              {%- endif -%}
            </div>

            {%- if block.settings.title != blank or block.settings.content != blank -%}
              <div class="text-with-icons__content-wrapper">
                {%- if block.settings.title != blank -%}
                  <p class="text-with-icons__title text--strong">{{ block.settings.title | escape }}</p>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="text-with-icons__content rte">
                    {{ block.settings.content  }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </section>
</div>
</div>

{% schema %}
{
  "name": "Text with icons",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_mobile",
      "label": "Stack on mobile",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "bi-add-to-cart",
              "label": "Add to cart",
              "group": "Shop"
            },
            {
              "value": "bi-gift-wrap",
              "label": "Gift wrap",
              "group": "Shop"
            },
            {
              "value": "bi-gift-box",
              "label": "Gift box",
              "group": "Shop"
            },
            {
              "value": "bi-heart",
              "label": "Heart",
              "group": "Shop"
            },
            {
              "value": "bi-ecology",
              "label": "Ecology",
              "group": "Shop"
            },
            {
              "value": "bi-plant",
              "label": "Plant",
              "group": "Shop"
            },
            {
              "value": "bi-shop",
              "label": "Shop",
              "group": "Shop"
            },
            {
              "value": "bi-shop-pin",
              "label": "Shop with pin",
              "group": "Shop"
            },
            {
              "value": "bi-alert",
              "label": "Alert",
              "group": "Communication"
            },
            {
              "value": "bi-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "bi-comment",
              "label": "Comment",
              "group": "Communication"
            },
            {
              "value": "bi-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "bi-email",
              "label": "Email",
              "group": "Communication"
            },
            {
              "value": "bi-network",
              "label": "Network",
              "group": "Communication"
            },
            {
              "value": "bi-newsletter",
              "label": "Newsletter",
              "group": "Communication"
            },
            {
              "value": "bi-love",
              "label": "Love",
              "group": "Communication"
            },
            {
              "value": "bi-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "bi-share",
              "label": "Share",
              "group": "Communication"
            },
            {
              "value": "bi-delivery",
              "label": "Delivery",
              "group": "Delivery"
            },
            {
              "value": "bi-fast-delivery",
              "label": "Fast delivery",
              "group": "Delivery"
            },
            {
              "value": "bi-returns",
              "label": "Returns",
              "group": "Delivery"
            },
            {
              "value": "bi-time",
              "label": "Time",
              "group": "Delivery"
            },
            {
              "value": "bi-secure-payment",
              "label": "Secure payment",
              "group": "Security"
            },
            {
              "value": "bi-mobile-payment",
              "label": "Mobile payment",
              "group": "Security"
            },
            {
              "value": "bi-computer-payment",
              "label": "Computer payment",
              "group": "Security"
            },
            {
              "value": "bi-credit-card",
              "label": "Credit card",
              "group": "Security"
            },
            {
              "value": "bi-shield",
              "label": "Shield",
              "group": "Security"
            }
          ],
          "default": "bi-customer-support"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "60 x 60px .png with transparency recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Short content about your store</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "item",
        "settings": {
          "icon": "bi-delivery",
          "title": "Free delivery worldwide"
        }
      },
      {
        "type": "item",
        "settings": {
          "icon": "bi-returns",
          "title": "Satisfied or refunded"
        }
      },
      {
        "type": "item",
        "settings": {
          "icon": "bi-customer-support",
          "title": "Top-notch support"
        }
      },
      {
        "type": "item",
        "settings": {
          "icon": "bi-secure-payment",
          "title": "Secure payments"
        }
      }
    ]
  }
}
{% endschema %}