/*======================================
  Selectric v1.13.0
======================================*/

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  color: #3567e7;
    border: 1px solid #d3d4d6;
    padding: 5px 15px !important;
  box-shadow: 0 3px 0 0 rgb(0 0 0 / 4%), 0 2px 0 0 rgb(0 0 0 / 2%);
	border-radius: 0 0 4px 4px;
	font-weight: 600;
	    border-top: none;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px;
  margin-left: 19px;
  text-align: left;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
  height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: transparent;
  color: #000;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:hover {
 box-shadow: none;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #000;
  border-bottom: none;
}

.selectric-focus .selectric {
  border-color: #aaaaaa;
}

.selectric-hover .selectric {
  border-color: #c4c4c4;
}

.selectric-hover .selectric .button {
  color: #000;
}

.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
  border-color: #c4c4c4;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  z-index: -1;
  box-shadow: 0 3px 0 0 rgb(0 0 0 / 4%), 0 2px 0 0 rgb(0 0 0 / 2%);
  border-radius: 4px;
  box-shadow: 0 0 10px -6px;
  margin-top: 5px;
   border: 1px solid #d3d4d6;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #3567e7;
    border-color: #3567e7;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
     font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
  line-height: 20px;
  min-height: 20px;
}

.selectric-items li {
  display: block;
  padding: 10px;
  color: #000;
  cursor: pointer;
  background: rgba(0, 186, 219, 0.06);
}

.selectric-items li.selected {
  background: #E0E0E0;
}

.selectric-items li:hover {
color: #3567e7;
    background: rgba(0, 186, 219, 0.06);
}

.selectric-items li.highlighted {
background: #3567e7;
    color: #fff;
}


.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #000 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #000;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}

.selectric::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 16px;
    z-index: 1;
    background-image: url(https://cdn.shopify.com/s/files/1/0364/3555/8535/t/4/assets/icon-subscribe-arrow-grey.svg);
    background-size: 15px 15px;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 5px;
}
