

div#shopify-section-article-washwarrior {
    margin-top: 100px;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#shopify-section-article-washwarrior h1 {}
#shopify-section-article-washwarrior h2 {}
#shopify-section-article-washwarrior h3 {}
#shopify-section-article-washwarrior h4 {}
#shopify-section-article-washwarrior h5 {}
#shopify-section-article-washwarrior h5 {}

#shopify-section-article-washwarrior p {padding: 5px 0 20px 0;}
#shopify-section-article-washwarrior ul, ol {padding: 21px 30px 20px 45px;}
#shopify-section-article-washwarrior li {}

#shopify-section-article-washwarrior .imgleft {float: left;margin: 15px 20px 0px 0px;}
#shopify-section-article-washwarrior .imgright {float: right;margin: 15px 0px 0px 20px;}

/*.dpkvah.dpkvah.dpkvah.dpkvah {
        width: 100% !important;
        max-width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        bottom: -1px !important;
    }
    .fVcqHi.fVcqHi {
        width: 100% !important;
        max-width: 100% !important;
    }
    .bfAJHs.bfAJHs {
        flex-direction: row !important;
        align-items: center !important;
    }
    .kwosEA.kwosEA.kwosEA.kwosEA.kwosEA.kwosEA {
        padding: 11px !important;
    }*/

div#shopify-section-article-template td 
{
/*   padding-bottom: 1px!important; */
  	
}

div#shopify-section-article-template img
{
margin-right: 0px!important;margin-left: 0px!important;
  float: none!important;
}
div#shopify-section-article-template center div table tbody tr td 
{
/*   padding: 95px 20px 50px 20px!important;
} */
}
div#shopify-section-article-template .main-class
{
    border-collapse: collapse;
    table-layout: auto;
    margin: 0;
    border-top: 0;
    height: 100%;
    width: 100%;
    padding: 101px 20px 50px 20px;
}
.title
{
padding-top:20px;
}




#shopify-section-article-template h1, 

 #shopify-section-article-template   h3, 

 #shopify-section-article-template   h2 {
   margin-bottom: 0px !important;
   padding-bottom: 20px !important;
   line-height: 0.5;
}

/* blog css */

div#shopify-section-article-template img
{
  margin-right: 0px!important;
    margin-left: 0px!important;
  float:none!important;
}
div#shopify-section-article-template .main-class
{
    border-collapse: collapse;
    table-layout: auto;
    margin: 0;
    border-top: 0;
    height: 100%;
    width: 100%;
    padding: 101px 20px 50px 20px;
}
#shopify-section-article-template h1, 

 #shopify-section-article-template   h3, 

 #shopify-section-article-template   h2 {
   margin-bottom: 0px !important;
   padding-bottom: 20px !important;
  line-height: 1.2!important;
}
.title
{
padding-top:20px;
}
.blog-sec
{
  background-image: url('https://ci5.googleusercontent.com/proxy/5YMnKr8wtk7C8Zc7sJL8BNx9g3UtIEDIDqlFoX7iUxR0fMupglpk2FAioymJ3LcnyI5JQU0WcKaUsPPmYfyy41wa3sCyYgAdd1s7hrohkQiSRj9da-pBsMWlN44ToxTvH1SEUh0kP_KFpNYa5VTXcTAiQ72POaY=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/company/TwWKVt/images/aeaef546-478c-492a-8de4-8343e4bb0571.png');
}
.side-bar
{
  display: flex;
  
  max-width:1200px;
  margin: 0 auto;
}
.side-bar-1
{
  width:70%;
  max-width:800px;
}
.side-bar-2
{
  width:40%;
  padding: 104px 20px 20px 20px;
  max-width:400px;
}
.t-side-bar-2
{
  width:40%;
  padding: 0px 20px 20px 40px;
  max-width:400px;
}
.side-bar-in
{
  background-color: white;
}
.side-bar-in p
{
  font-size:22px;
}
.side-bar-article-img
{
  width:40%;
}
.side-bar-article-img img
{
  width:100%;
}
.m_3798546803686637836templateContainer
{
    background-color: #fff !important;
    border: 0 solid #3567e7 !important;
    border-radius: 0 !important;
    display: table !important;
    max-width: 800px !important;
    width: 100% !important;
}
@media (max-width: 787px) {
  

 .side-bar-1 {
      width: 100%;
   }
  .side-bar-2 {
  display: none;
	}
  .t-side-bar-2 {
  display: none;
	}
}
div#shopify-section-article-template p 
{
  font-size:22px!important;
}

div#shopify-section-article-template p span 
{
  font-size:22px!important;
}
div#shopify-section-article-template h1 span
{
  font-size: 35px!important;
    line-height: 1.2!important;
    font-weight: 400!important;
}
.m_3798546803686637836kmSplitContentLeftContentContainer
{
  text-align:left!important;
}
.m_3798546803686637836kmSplitContentRightContentContainer
{
  text-align:right!important;
}
@media (max-width: 600px) {
  .m_3798546803686637836kmSplitContentLeftContentContainer
  {
    text-align:center!important;
    margin: 0 auto;
    width: 100%;
  }
  
  .m_3798546803686637836kmSplitContentRightContentContainer
  {
    text-align:center!important;
    margin: 0 auto;
    width: 100%;
  }
  .m_3798546803686637836kmTextContent
  {
    text-align:center!important;
  }
}
.rte
{
  padding:0 20px!important;
  background-color: white!important;
}
.bg
{
  background-image: url(https://ci5.googleusercontent.com/proxy/5YMnKr8wtk7C8Zc7sJL8BNx9g3UtIEDIDqlFoX7iUxR0fMupglpk2FAioymJ3LcnyI5JQU0WcKaUsPPmYfyy41wa3sCyYgAdd1s7hrohkQiSRj9da-pBsMWlN44ToxTvH1SEUh0kP_KFpNYa5VTXcTAiQ72POaY=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/company/TwWKVt/images/aeaef546-478c-492a-8de4-8343e4bb0571.png);
}

.rte h1,h2
{
  font-size: 35px!important;
    line-height: 1.2!important;
    font-weight: 400!important;
}
.rte img
{
  width:100%;
}
div#shopify-section-article-washwarrior {
    margin-top: 0 !important;
    padding-top: 100px!important;
    max-width: 100%!important;
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 100px!important;
}