{%- layout none -%}
{
	"items":[
	{%- for item in cart.items -%}
		{
			"metafield1": {{ item.product.metafields.global.custom_field | json }}
		}{% unless forloop.last %},{% endunless %}
	{%- endfor -%}
	]
}