<!-- /templates/page.liquid -->
<script> 
 
console.log('cf 05');
	


<!-- Snap Pixel Code -->

(function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
{a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
r.src=n;var u=t.getElementsByTagName(s)[0];
u.parentNode.insertBefore(r,u);})(window,document,
'https://sc-static.net/scevent.min.js');
snaptr('init', '2d595c00-7b10-40bb-9b28-3da52dbcb05f');
snaptr('track', 'PAGE_VIEW');
snaptr('track', 'VIEW_CONTENT');

<!-- End Snap Pixel Code -->

</script> 
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1395724067299177&ev=PageView&noscript=1" />  
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=982230285504983&ev=PageView&noscript=1" />

</noscript>
<style>
  h1.product-meta__title {
    text-transform: uppercase;
    color: #333;
    font-family: Brandon Grotesque,sans-serif;
    font-weight: 700;
    letter-spacing: .0625em;
    font-size: 30px;
  }
  div.ships_usa_block {
    display: block !important;
  }
  span.block-swatch__item-text {
    font-size: 12px;
  }
  #shopify-section-fixed_variants_selector_cf_05 div.product-form__variants > div > div:nth-child(1) > div > div > span:nth-child(2) > span > span.currency-converter-amount{
    font-size: 22px !important;
  }
  #shopify-section-fixed_variants_selector_cf_05 a{
    text-decoration: none;
  }
  #shopify-section-fixed_variants_selector_cf_05 .no-risk-block h4{
    color: #0993d2;
    letter-spacing: .12em;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 0 0 0;
  }
  #shopify-section-fixed_variants_selector_cf_05 ul.secure-img{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 5px 0!important;
    font-size: 16px;
    flex-flow: wrap;
  }
  #shopify-section-fixed_variants_selector_cf_05 > div > div > div.col-md-6.box-shadow-custom.product-column > div > div > div.d-flex.justify-content-center > ul > li.ships_usa_block{
    display: block !important;
  }
  #shopify-section-fixed_variants_selector_cf_05 ul{
    margin: 0;
    padding: 0;
  }
  @media only screen and (min-width: 641px){
    #shopify-section-fixed_variants_selector_cf_05 .product-form__payment-container{
      flex-direction: row;
      align-items: flex-start;
      margin: 0 5px 0 -9px;
    }
    #shopify-section-fixed_variants_selector_cf_05 .product-form__payment-container>*{
      flex: none;
      width: calc(50% - 10px);
      margin: 0 9px;
    }
  }
  @media only screen and (max-width: 767px){
    #shopify-section-fixed_variants_selector_cf_05 h1{
      font-size: 22px!important;
    }
  }
</style>
<!-- Hotjar Tracking Code for https://thewashwarrior.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2668879,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

 {% section 'fixed_landing_dishwasher_cf_05' %}
  {% section 'fixed_variants_selector_cf_05' %}
  {% section 'fixed_s-story1' %}
 {% section 'fixed_s-story2' %}
 {% section 'fixed_s-features' %}
 {% section 'fixed_s-story3' %}
 {% section 'fixed_s-banner' %}
 {% section 'fixed_s-story4' %}
 {% section 'fixed_s-steps' %}
 {% section 'fixed_s-worth' %}
  {% comment %}{% section 'fixed_s-vs' %}{% endcomment %}
 {% section 'fixed_s-review_bg' %}
 {% section 'fixed_s-review' %}
 {% section 'fixed_s-cta' %}
 {% section 'fixed_questions' %}

 {% section 'product-reviews' %}
 
 {%- include 'cart-list' -%}
