<!-- /templates/page.liquid -->


 {% section 'fixed_landing_dishwasher' %}
  {% section 'fixed_variants_selector_washer' %}
  {% section 'fixed_s-story1' %}
 {% section 'fixed_s-story2' %}
 {% section 'fixed_s-features' %}
 {% section 'fixed_s-story3' %}
 {% section 'fixed_s-banner' %}
 {% section 'fixed_s-story4' %}
 {% section 'fixed_s-steps' %}
 {% section 'fixed_s-worth' %}
 {% section 'fixed_s-vs' %}
 {% section 'fixed_s-review' %}
 {% section 'fixed_s-cta' %}
 {% section 'fixed_questions' %}

 {% section 'product-reviews' %}
 
 <div id="bottom-section" style="display: none !important;">
 <!-- Begin ReCharge code -->
{% include 'subscription-cart-footer' %}
<!-- End ReCharge code -->
{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% section 'cart-template' %}

</div>