<!-- /templates/page.liquid -->
<script> 
 

	


<!-- Snap Pixel Code -->

(function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
{a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
r.src=n;var u=t.getElementsByTagName(s)[0];
u.parentNode.insertBefore(r,u);})(window,document,
'https://sc-static.net/scevent.min.js');
snaptr('init', '2d595c00-7b10-40bb-9b28-3da52dbcb05f');
snaptr('track', 'PAGE_VIEW');
snaptr('track', 'VIEW_CONTENT');

<!-- End Snap Pixel Code -->

</script> 
<!-- <noscript> -->
    <!-- <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1395724067299177&ev=PageView&noscript=1" />   -->
  <!-- <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=982230285504983&ev=PageView&noscript=1" /> -->

<!-- </noscript> -->

{%- layout 'theme.dishwasher-new' -%}


 {% section 'fixed_landing_dishwasher_new' %}
  {% section 'fixed_variants_selector' %}
  {% section 'fixed_s-story1_new' %}
  
   {%- section 'text-with-icons-new' -%}
   <div class="s-story3">
 {% section 'fixed_s-story2_new' %}
 {% section 'fixed_s-story3_new' %}
  </div>
 {% section 'fixed_s-banner_new' %}
 <div class="s-story-block">
 {% section 'fixed_s-story4_new' %}
 {% section 'fixed_s-steps_new' %}
 {% section 'fixed_s-worth_new' %}
 <div style="margin-top:80px; margin-bottom: 80px">
  {% section 'fixed_s-vs_new' %}
 </div>
 </div>


 {% section 'fixed_s-review_new' %}
 {% section 'fixed_s-cta_new' %}
 {% section 'fixed_questions_new' %}

 {% section 'product-reviews_new' %}
 
 {%- include 'cart-list' -%}
