<!-- /templates/page.liquid -->
<script> 
<!-- Snap Pixel Code -->

(function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
{a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
r.src=n;var u=t.getElementsByTagName(s)[0];
u.parentNode.insertBefore(r,u);})(window,document,
'https://sc-static.net/scevent.min.js');
snaptr('init', '2d595c00-7b10-40bb-9b28-3da52dbcb05f');
snaptr('track', 'PAGE_VIEW');
snaptr('track', 'VIEW_CONTENT');

<!-- End Snap Pixel Code -->

</script> 
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1395724067299177&ev=PageView&noscript=1" />  
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=982230285504983&ev=PageView&noscript=1" />

</noscript>
<!-- Hotjar Tracking Code for https://thewashwarrior.com/ -->
{%- comment -%}
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2668879,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{%- endcomment -%}

{% section 'fixed_landing_dishwasher' %}
{% section 'fixed_variants_selector' %}
{% section 'fixed_s-story1' %}
{% section 'fixed_s-story2' %}
{% section 'fixed_s-features' %}
{% section 'fixed_s-story3' %}
{% section 'fixed_s-banner' %}
{% section 'fixed_s-story4' %}
{% section 'fixed_s-steps' %}
{% section 'fixed_s-worth' %}
{% comment %}{% section 'fixed_s-vs' %}{% endcomment %}
{% section 'fixed_s-review_bg' %}
{% section 'fixed_s-review' %}
{% section 'fixed_s-cta' %}
{% section 'fixed_questions' %}

{% section 'product-reviews' %}

{%- include 'cart-list' -%}

{% include 'cart-btn-mobile-sticky' %}
