<!-- /templates/page.liquid -->

{%- layout 'theme.teeth-witning-kit' -%}

 {% section 'fixed_landing_teeth' %}
  {% section 'fixed_variants_teeth' %}
  <div id="content-teeth-block">
  {% section 'fixed_teeth_1' %}
  {% section 'fixed_teeth_2' %}
  {% section 'fixed_teeth_3' %}
  {% section 'fixed_teeth_4' %}
  {% section 'fixed_teeth_5' %}
  
 {% section 'fixed_questions_teeth' %}

 {% section 'product-reviews' %}
 </div>
 
