{%- layout 'theme.dishwasher' -%}

<div class="page-width support-pages" style="margin-top:70px; margin-bottom: 70px;">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
	  <br>
      <div class="section-header text-center">
        <h2 class="heading-5">{{ page.title }}</h2>
      </div>

      <div class="container rte">
        {{ page.content }}
      </div>
	  <br>
    </div>
  </div>
</div>