<!-- /templates/page.liquid -->
 {% section 'scrubber_fixed_landing_dishwasher' %}
  {% section 'scrubber_fixed_variants_selector' %}
  {% section 'scrubber_fixed_s-story1' %}
 {% section 'scrubber_fixed_s-story2' %}
 {% section 'fixed_s-features' %}
 {% section 'fixed_s-story3' %}
 {% section 'fixed_s-banner' %}
 {% section 'fixed_s-story4' %}
 {% section 'fixed_s-steps' %}
 {% section 'fixed_s-worth' %}
 {% section 'fixed_s-vs' %}
 {% section 'fixed_s-review' %}
 {% section 'fixed_s-cta' %}
 {% section 'fixed_questions' %}

 {% section 'product-reviews' %}