<!-- /templates/page.liquid -->
{%- layout 'theme.dishwasher' -%}
<style>
a {
    text-decoration: none;
}
</style>
 
 {% section 'fixed_landing_dishwasher' %}
 
 {% section 'fixed_header_block' %}
 {% section 'fixed_product_home_collection' %}
 {% section 'fixed_badges' %}
  {% section 'fixed_home_block-1' %}

 {% section 'fixed_product_guarantee_above' %}
 {% section 'fixed_product_guarantee' %}

{%- include 'cart-list' -%}