<!-- /templates/page.liquid -->

{%- layout 'theme.teeth-witning-kit' -%}



 {% section 'fixed_landing_teeth' %}
  {% section 'fixed_variants_teeth' %}
  <div id="content-teeth-block">

<div id="teeth-whitening-kit" class="pap-product-page product-page">
    <div class="product-page__primary container">
        <div class="product-price container-fluid">
            <h1 class="product-price__title h1">Teeth Whitening</h1>
            <div>
                <div id="payment-provider-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade bottom center-md text-modal">
                    <div role="document" class="modal-dialog-sm">
                        <div class="modal-content">
                            <div data-dismiss="modal" aria-label="Close" class="modal-content-x close-modal prompt">
                                Pay later in 6 installments with Afterpay

                                <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 20 20" class="icon icon-close">
                                    <path
                                        fill="#444"
                                        d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"
                                    ></path>
                                </svg>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body-text">
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book: <br />
                                    <br />
                                </div>
                                <div class="modal-body-head">
                                    Build your cart
                                </div>
                                <div class="modal-body-text">
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. <br />
                                    <br />
                                </div>
                                <div class="modal-body-head">
                                    Choose at checkout
                                </div>
                                <div class="modal-body-text">
                                    Select Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br />
                                    <br />
                                </div>
                                <div class="modal-body-head">
                                    Split into 6
                                </div>
                                <div class="modal-body-text">
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer. <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-media container-fluid">
            <div class="product-media-container">
                <div class="product-media__image-container">
                    <img
                        height="700"
                        width="560"
                        src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                        data-expand="-0.5"
                        class="product-media__image"
                    />
                </div>
                <div class="product-media__image-container">
                    <img
                        height="700"
                        width="560"
                        src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                        data-expand="-0.5"
                        class="product-media__image"
                    />
                </div>
                <div class="product-media__image-container">
                    <img
                        height="700"
                        width="560"
                        data-src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                        data-expand="-0.5"
                        class="lazyload product-media__image"
                    />
                </div>
                <div class="product-media__image-container">
                    <video muted="muted" loop="loop" data-autoplay="true" playsinline=""  class="product-media__video">
                        <source src="https://cdn.shopify.com/s/files/1/0372/0137/9459/files/new-video.mp4?v=1613213534" type="video/mp4" />
                    </video>
                </div>
                <div class="product-media__image-container">
                    <img
                        height="700"
                        width="560"
                        data-src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                        data-expand="-0.5"
                        class="lazyload product-media__image"
                    />
                </div>
                <div class="product-media__image-container">
                    <img
                        height="700"
                        width="560"
                        data-src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                        data-expand="-0.5"
                        class="lazyload product-media__image"
                    />
                </div>
                <div class="product-media__image-container">
                    <img
                        height="700"
                        width="560"
                        data-src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                        data-expand="-0.5"
                        class="product-media__image ls-is-cached lazyloaded"
                        src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                    />
                </div>
            </div>
        </div>
        <div class="product-description container-fluid">
            <div class="product-description__blurb body-text">Instant teeth Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</div>
            <ul class="product-description__list">
                <li class="body-text">Clinically Lorem Ipsum has been the industry's<sup>1</sup></li>
                <li class="body-text">10-Lorem Ipsum has been the industry's</li>
                <li class="body-text">No Lorem Ipsum has been the industry's</li>
                <li class="body-text">Includes Lorem Ipsum has been the industry's</li>
            </ul>
        </div>
        <div class="product-block-1 product-block product-accordion-container">
            <div class="product-block-container">
                <h2 class="h1 block-head">
                    A Lorem Ipsum has been <br class="d-none d-lg-block" />
                    that delivers results.
                </h2>
                <details class="product-accordion hs-accordion">
                    <summary>
                        <div class="product-accordion-title">
                            <h4>More about the </h4>
                            <span class="closed">+</span><span class="opened">−</span>
                        </div>
                    </summary>
                    <div class="content">
                        <div class="product-accordion-desc">
                            <div class="body-container">
                                <!---->
                                <div class="body-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                            </div>
                            <div class="body-container">
                                <!---->
                                <div class="body-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
                            </div>
                            <div class="body-container">
                                <!---->
                                <div class="body-text">
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                </details>
                <details class="product-accordion hs-accordion">
                    <summary>
                        <div class="product-accordion-title">
                            <h4>Instructions for Use</h4>
                            <span class="closed">+</span><span class="opened">−</span>
                        </div>
                    </summary>
                    <div class="content">
                        <div class="product-accordion-desc">
                            <div class="body-container">
                                <div class="body-head">What’s included</div>
                                <div class="body-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</div>
                            </div>
                            <div class="body-container">
                                <div class="body-head">Getting started</div>
                                <div class="body-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
                            </div>
                            <div class="body-container">
                                <div class="body-head">Applying formula</div>
                                <div class="body-text">
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                            <div class="body-container">
                                <div class="body-head">Beginning the treatment</div>
                                <div class="body-text">
                                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                            <div class="body-container">
                                <div class="body-head">Maintaining the device</div>
                                <div class="body-text">Always separate the Mouth Tray from the LED Device before cleaning with water.</div>
                            </div>
                        </div>
                    </div>
                </details>
                <details class="product-accordion hs-accordion">
                    <summary>
                        <div class="product-accordion-title">
                            <h4>Ingredients</h4>
                            <span class="closed">+</span><span class="opened">−</span>
                        </div>
                    </summary>
                    <div class="content">
                        <div class="product-accordion-desc">
                            <div class="body-container">
                                <div class="body-head">Phthalimidoperoxycaproic Acid (PAP)</div>
                                <div class="body-text">
                                    A scientifically proven teeth whitening ingredient that is a safe alternative to peroxide. It has no negative side effects during the oxidation of tooth stains which allows it to effectively whiten
                                    without pain or sensitivity.
                                </div>
                            </div>
                            <div class="body-container">
                                <div class="body-head">Hydroxyapatite (HAp)</div>
                                <div class="body-text">
                                    Hydroxyapatite is the main component of teeth. The PAP+ formula contains a synthetic version which replaces minerals back into damaged parts of the enamel. Over time this will help to strengthen the
                                    protective layers of the tooth.
                                </div>
                            </div>
                            <div class="body-container">
                                <div class="body-head">Potassium Citrate</div>
                                <div class="body-text">
                                    A powerful desensitising agent that helps to relieve pre-existing sensitivity. It travels down into the tooth and through the soft layer of dentin to provide the nerves with lasting protection from pain
                                    and sensitivity.
                                </div>
                            </div>
                            <div class="body-container">
                                <div class="body-head">Full ingredients list</div>
                                <div class="body-text">
                                    Glycerin, Water/Aqua, Phthalimidoperoxycaproic Acid (PAP), Ammonium Acryloyldimethyltaurate/VP Copolymer, PVP, Potassium Hydroxide, Potassium Citrate, Sodium Saccharin, Aroma/Peppermint Oil,
                                    Hydroxyapatite, Mica, Titanium Dioxide, Piroctone Olamine
                                </div>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
        </div>
        <div class="product-block-2 product-block product-pap-bullet-container">
            <!---->
            <div class="product-block-container">
                <h3 class="h1 block-head">Groundbreaking performance, with scientifically proven ingredients.</h3>
                <div class="body-container">
                    <div class="body-text">
                        After years Lorem Ipsum has been the industry's standard dummy text ever since the 1500s specimen book ingredients:
                    </div>
                </div>
                <div class="body-container">
                    <div class="pap-bullet">
                        <i>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3334 9.23336V10C18.3324 11.797 17.7505 13.5456 16.6745 14.9849C15.5986 16.4242 14.0862 17.4771 12.3629 17.9866C10.6396 18.4961 8.7978 18.4349 7.11214 17.8122C5.42648 17.1894 3.98729 16.0384 3.00922 14.5309C2.03114 13.0234 1.56657 11.2401 1.68481 9.44696C1.80305 7.65383 2.49775 5.94697 3.66531 4.58092C4.83288 3.21488 6.41074 2.26285 8.16357 1.86682C9.91641 1.47079 11.7503 1.65198 13.3918 2.38336"
                                    stroke="inherit"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                                <path d="M18.3333 3.33331L10 11.675L7.5 9.17498" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </i>
                    </div>
                    <div class="body-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </div>
                </div>
                <div class="body-container">
                    <div class="pap-bullet">
                        <i>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3334 9.23336V10C18.3324 11.797 17.7505 13.5456 16.6745 14.9849C15.5986 16.4242 14.0862 17.4771 12.3629 17.9866C10.6396 18.4961 8.7978 18.4349 7.11214 17.8122C5.42648 17.1894 3.98729 16.0384 3.00922 14.5309C2.03114 13.0234 1.56657 11.2401 1.68481 9.44696C1.80305 7.65383 2.49775 5.94697 3.66531 4.58092C4.83288 3.21488 6.41074 2.26285 8.16357 1.86682C9.91641 1.47079 11.7503 1.65198 13.3918 2.38336"
                                    stroke="inherit"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                                <path d="M18.3333 3.33331L10 11.675L7.5 9.17498" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </i>
                    </div>
                    <div class="body-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </div>
                </div>
                <div class="body-container">
                    <div class="pap-bullet">
                        <i>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3334 9.23336V10C18.3324 11.797 17.7505 13.5456 16.6745 14.9849C15.5986 16.4242 14.0862 17.4771 12.3629 17.9866C10.6396 18.4961 8.7978 18.4349 7.11214 17.8122C5.42648 17.1894 3.98729 16.0384 3.00922 14.5309C2.03114 13.0234 1.56657 11.2401 1.68481 9.44696C1.80305 7.65383 2.49775 5.94697 3.66531 4.58092C4.83288 3.21488 6.41074 2.26285 8.16357 1.86682C9.91641 1.47079 11.7503 1.65198 13.3918 2.38336"
                                    stroke="inherit"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                                <path d="M18.3333 3.33331L10 11.675L7.5 9.17498" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </i>
                    </div>
                    <div class="body-text">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </div>
                </div>
            </div>
        </div>
        <div class="product-block-3 product-block">
            <div class="product-block-container product-compare-container">
                <h3 class="h1 block-head">
                    Clinically trialled and tested by Ivan
                </h3>
                <div class="product-compare-image-container container">
              
                    <div class="product-compare-image icv icv__icv--horizontal standard">
                        <img
                            height="268"
                            width="479"
                            data-src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                            class="icv__img icv__img-a lazyloaded"
                            src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                        />
                        <div class="icv__wrapper" style="width: 50%; height: 50%; transition: all 100ms ease-out 0s;">
                            <img
                                height="268"
                                width="479"
                                data-src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                                class="icv__img icv__img-b lazyloaded"
                                src="{{ 'growth-guarantee1.jpg' | asset_url }}"
                            />
                        </div>
                        <div class="icv__control" style="width: 50px; left: calc(50% - 25px); transition: all 100ms ease-out 0s;">
                            <div class="icv__control-line" style="width: 2px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 15px;"></div>
                            <div class="icv__theme-wrapper">
                                <div class="icv__arrow-wrapper" style="transform: translateX(8px);">
                                    <svg
                                        height="11"
                                        width="20"
                                        style="
                                            transform: scale(1.5) rotateZ(180deg);
                                            height: 11px;
                                            width: 18.7px;

                                            -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.33));
                                            filter: drop-shadow(0px -3px 5px rgba(0, 0, 0, 0.33));
                                        "
                                        xmlns="http://www.w3.org/2000/svg"
                                        data-name="Layer 1"
                                        viewBox="0 0 11 20"
                                    >
                                        <path
                                            d="M0.196713 2.0833V17.884C0.196713 18.2407 0.322615 18.5344 0.574419 18.7653C0.805238 18.9961 1.08852 19.122 1.42425 19.143C1.75999 19.143 2.05376 19.0171 2.30557 18.7653L10.2059 10.8649C10.4367 10.6131 10.5521 10.3194 10.5521 9.98362C10.5521 9.64789 10.4367 9.35412 10.2059 9.10231L2.30557 1.20198C2.05376 0.950181 1.75999 0.83477 1.42425 0.855754C1.08852 0.855754 0.805238 0.971164 0.574419 1.20198C0.322615 1.4328 0.196713 1.72657 0.196713 2.0833Z"
                                            fill="#FFFFFF"
                                        ></path>
                                    </svg>
                                </div>
                                <div class="icv__arrow-wrapper" style="transform: translateX(-8px);">
                                    <svg
                                        height="11"
                                        width="20"
                                        style="
                                            transform: scale(1.5) rotateZ(0deg);
                                            height: 11px;
                                            width: 18.7px;

                                            -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.33));
                                            filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.33));
                                        "
                                        xmlns="http://www.w3.org/2000/svg"
                                        data-name="Layer 1"
                                        viewBox="0 0 11 20"
                                    >
                                        <path
                                            d="M0.196713 2.0833V17.884C0.196713 18.2407 0.322615 18.5344 0.574419 18.7653C0.805238 18.9961 1.08852 19.122 1.42425 19.143C1.75999 19.143 2.05376 19.0171 2.30557 18.7653L10.2059 10.8649C10.4367 10.6131 10.5521 10.3194 10.5521 9.98362C10.5521 9.64789 10.4367 9.35412 10.2059 9.10231L2.30557 1.20198C2.05376 0.950181 1.75999 0.83477 1.42425 0.855754C1.08852 0.855754 0.805238 0.971164 0.574419 1.20198C0.322615 1.4328 0.196713 1.72657 0.196713 2.0833Z"
                                            fill="#FFFFFF"
                                        ></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="icv__control-line" style="width: 2px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 15px;"></div>
                        </div>
                    </div>
                </div>
                <div class="body-text product-compare-description">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
                <div class="body-container">
                    <div class="product-compare-box">
                        <div class="product-compare-box__item">
                            <div class="product-compare-box__item-content"><span class="body-head">100%</span> <span class="body-text">achieved instant Ivan result </span></div>
                            <div class="product-compare-box__item-bar-container animate"><div class="product-compare-box__item-bar" style="width: 100%;"></div></div>
                        </div>
                        <div class="product-compare-box__item">
                            <div class="product-compare-box__item-content"><span class="body-head">61.9%</span> <span class="body-text">improved by Ivan</span></div>
                            <div class="product-compare-box__item-bar-container animate"><div class="product-compare-box__item-bar" style="width: 61.9%;"></div></div>
                        </div>
                        <div class="product-compare-box__item">
                            <div class="product-compare-box__item-content"><span class="body-head">0%</span> <span class="body-text">experienced sensitivity Ivan</span></div>
                            <div class="product-compare-box__item-bar-container animate"><div class="product-compare-box__item-bar" style="width: 0%;"></div></div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <div class="component-video-modal-container container">
        <div class="component-video-modal__clip-container">
            <video muted="muted" loop="loop" data-autoplay="" playsinline="" preload="auto" class="component-video-modal__clip " data-expand="-10">
                <source src="https://cdn.shopify.com/s/files/1/0372/0137/9459/files/new-video.mp4?v=1613213534" type="video/mp4" />
            </video>

        </div>
        <div class="component-video-modal__content" style="max-width: 550px;">
            <h3 class="component-video-modal__slogan">Backed by science, proven by you.</h3>
            <div class="component-video-modal__quote">“Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book”</div>
            <div class="component-video-modal__author">– Ivan, Community Trial Participant</div>
        </div>

    </div>
</div>
 {% section 'fixed_questions_teeth' %}

 {% section 'product-reviews' %}
 </div>
 
