    
    {% comment %}
      The contents of the product.liquid template can be found in /sections/product-template.liquid
    {% endcomment %}
    {%- capture page_template -%}
        {% section 'fixed_landing_dishwasher' %}
        {% section 'fixed_variants_selector_single_product' %}
        {% section 'fixed_s-story1' %}
        {% section 'fixed_s-story2' %}
        {% section 'fixed_s-features' %}
        {% section 'fixed_s-story3' %}
        {% section 'fixed_s-banner' %}
        {% section 'fixed_s-story4' %}
        {% section 'fixed_s-steps' %}
        {% section 'fixed_s-worth' %}
        {% section 'fixed_s-vs' %}
        {% section 'fixed_s-review' %}
        {% section 'fixed_s-cta' %}
        {% section 'fixed_questions' %}
        {% section 'product-reviews_product' %}
    {%- endcapture -%}
    {%- capture test_page_template -%}
        {% section 'fixed_landing_dishwasher' %}
        {% section 'fixed_variants_selector_single_product' %}
        {% section 'fixed_s-story1' %}
        {% section 'fixed_s-story2' %}
        {% section 'fixed_s-features' %}
        {% section 'fixed_s-story3' %}
        {% section 'fixed_s-banner' %}
        {% section 'fixed_s-story4' %}
        {% section 'fixed_s-steps' %}
        {% section 'fixed_s-worth' %}
        {% section 'fixed_s-vs' %}
        {% section 'fixed_s-review' %}
        {% section 'fixed_s-cta' %}
        {% section 'fixed_questions' %}
        {% section 'product-reviews_product' %}
    {%- endcapture -%}
    {%- capture simple_product_page -%}
        {% section 'fixed_variants_selector_single_product' %}
        {% section 'fixed_s-story1' %}
        {% section 'fixed_s-story2' %}
        {% section 'fixed_s-features' %}
        {% section 'fixed_s-story3' %}
        {% section 'fixed_s-banner' %}
        {% section 'fixed_s-story4' %}
        {% section 'fixed_s-steps' %}
        {% section 'fixed_s-worth' %}
        {% section 'fixed_s-vs' %}
        {% section 'fixed_s-review' %}
        {% section 'fixed_s-cta' %}
        {% section 'fixed_questions' %}
        {% section 'product-reviews_product' %}
    {%- endcapture -%}
        {% if product.id == 7004495872196 %}
            {{ test_page_template }}
        {% elsif product.id == 4773122080839 %}
            {{ page_template }}
        {% elsif product.id == 4772860035143 %}
            {{ page_template }}
        {% elsif product.id == 4773126570055 %}
             {{ page_template }}
        {% elsif product.id == 6951709835460 %}
            {{ simple_product_page }}
        {% elsif product.id == 6975256002756 %}
            {{ simple_product_page }}
        {% elsif product.id == 4729067077703 %}
    <script> 
     !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1395724067299177');
        fbq('init', '982230285504983');
        fbq('track', 'PageView');
    fbq('track', 'ViewContent');
    
     function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(";");
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == " ") c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }
        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return "";
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    
        $(window).on("load", function () {
            var count = 0;
            var fbp = null;
            var fbc = null;
    
            function Init() {
                count++;
                fbp = getCookie("_fbp");
                fbc = getParameterByName("fbclid");
                     var event_id = 'ATC_' + new Date().getTime();
                 var event_id2 = 'ATC2_' + new Date().getTime();
                var d = parseInt(new Date().getTime() / 1000);
                var dateObject = '{ "data": [{' + '"event_name": "ViewContent",' + '"event_id": "' + event_id + '",' + '"event_time":' + d + "," + ' "user_data": {';
                var dateObject2 = '{ "data": [{' + '"event_name": "ViewContent",' + '"event_id": "' + event_id2 + '",' + '"event_time":' + d + "," + ' "user_data": {';
    
                if (((fbp != null && fbp.length > 0) || (fbc != null && fbc.length > 0)) && userIp != null && count > 7) {
                    if (fbc != null && fbc.length > 0) {
                        dateObject += '"fbc":"' + fbc + '",';
                        dateObject2 += '"fbc":"' + fbc + '",';
                    }
    
                    if (fbp != null && fbp.length > 0) {
                        dateObject += '"fbp":"' + fbp + '",';
                        dateObject2 += '"fbp":"' + fbp + '",';
                    }
    
                    dateObject += '"client_ip_address":"' + userIp + '",' + '"client_user_agent":"' + navigator.userAgent + '"},' + '"event_source_url":"' + window.location.href + '"}]}';
                    dateObject2 += '"client_ip_address":"' + userIp + '",' + '"client_user_agent":"' + navigator.userAgent + '"},' + '"event_source_url":"' + window.location.href + '"}]}';
    
                $.ajax({
                        type: "POST",
                        url:"https://graph.facebook.com/v9.0/1395724067299177/events?access_token=EAATCsiHzTDABAMFrGO9VvPTfniDA9IAwVFCQ1MPwZCYfoS69apZALS4kUYIl8pACMd9h8fzeFDVhCUH5GzXK9i8ofuVA6GHXK3nS3vfxaXoyRZBtRawuspW5PHSITcL21mmPjkkuAmBEHq3p4GuOy32I5C0d9u69L2uvaseyn30AR8QPPqg",
                        data: JSON.parse(dateObject),
                        dataType: "json",
                    }); 
                    $.ajax({
                        type: "POST",
                        url:"https://graph.facebook.com/v9.0/982230285504983/events?access_token=EAAK8JKOijBABAPQkV3cXw9AhiBkgPsBonnhtuZAmpMTuTSV6Y14p5oOd0Gphdyo2kp0Np6TyNi6js99QrC7qvB36lDn6t3dRpU2LM0mPNqPjxNr6BLEtpgj5I8FEmGk0Xsp34VMlJccslPZB9FoGJZCQVcsNSQNi00iVaZBRoBIuZBAShUbwlIOnPGdcmq70ZD",
                        data: JSON.parse(dateObject2),
                        dataType: "json",
                    });
                } else {
                    if (count < 20)
                        setTimeout(function () {
                            Init();
                        }, 200);
                }
            }
            Init();
        });
    
    
    
    (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
    {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
    a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
    r.src=n;var u=t.getElementsByTagName(s)[0];
    u.parentNode.insertBefore(r,u);})(window,document,
    'https://sc-static.net/scevent.min.js');
    snaptr('init', '2d595c00-7b10-40bb-9b28-3da52dbcb05f');
    snaptr('track', 'PAGE_VIEW');
    snaptr('track', 'VIEW_CONTENT');
    </script> 
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1395724067299177&ev=PageView&noscript=1" />
       <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=982230285504983&ev=PageView&noscript=1" />
    </noscript>
    
            {% section 'fixed_landing_dishwasher' %}
            {% section 'fixed_variants_selector' %}
            {% section 'fixed_s-story1' %}
            {% section 'fixed_s-story2' %}
            {% section 'fixed_s-features' %}
            {% section 'fixed_s-story3' %}
            {% section 'fixed_s-banner' %}
            {% section 'fixed_s-story4' %}
            {% section 'fixed_s-steps' %}
            {% section 'fixed_s-worth' %}
            {% section 'fixed_s-vs' %}
            {% section 'fixed_s-review' %}
            {% section 'fixed_s-cta' %}
            {% section 'fixed_questions' %}
            {% section 'product-reviews' %}
         {% else %}
             {% section 'fixed_variants_selector_single_product' %}
        {% endif %}
        
        {%- include 'cart-list' -%}
    <script>
      // Override default values of shop.strings for each template.
      // Alternate product templates can change values of
      // add to cart button, sold out, and unavailable states here.
      theme.productStrings = {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      }
    </script>
    
    {% assign current_variant = product.selected_or_first_available_variant %}
    
    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": "{{ product.title | escape }}",
      "url": "{{ shop.url }}{{ product.url }}",
      {%- if product.featured_image -%}
        {%- assign image_size = product.featured_image.width | append: 'x' -%}
        "image": [
          "https:{{ product.featured_image.src | img_url: image_size }}"
        ],
      {%- endif -%}
      "description": "{{ product.description | strip_html | escape }}",
      {%- if current_variant.sku != blank -%}
        "sku": "{{ current_variant.sku }}",
      {%- endif -%}
      "brand": {
        "@type": "Thing",
        "name": "{{ product.vendor | escape }}"
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": "{{ variant.sku }}",
            {%- endif -%}
            "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : "{{ variant.price | divided_by: 100.00 }}",
            "priceCurrency" : "{{ cart.currency.iso_code }}",
            "url" : "{{ shop.url }}{{ variant.url }}"
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
    </script>
    